{% for ob in o %}
	<li><a class="">{{ob}}</a></li>
{% endfor %}
	{% ifequal create "create" %}
	<li class="list-group-item-info"><a class="create"><span class="glyphicon glyphicon-plus"></span> Create now</a></li>
	{% endifequal %}
	{% ifequal create "create_new" %}
	<li class="list-group-item-info"><a class='create_new' data-toggle="collapse" data-parent=""><span class="glyphicon glyphicon-plus"></span> Create new</a></li>
	{% endifequal %}
	{% ifequal create "" %}
	<li class="no-select">Sorry, no match found</li>
	{% endifequal %}