{% extends "base.html" %}

{% load staticfiles %}

{% block head_desc %}
  {% include content_head_url %}
{% endblock head_desc %}

{% block meta_og_url %}http://www.corelogs.com/tags/{{tag.slug}}{% endblock %}

{% block body %}
{% include "snippets/img_upload_modal.html" with url='nodes:set_tag_logo' url_slug=tag.slug form=tag_logo_form.image %}
<div class="container-fluid">
  <div id="info_head" class="info_head">
    <div class="row">
      <div class="col-sm-2">
        <div class="info_logo">
          <div id="img_profile_box">
        		<img id="img_profile" class="thumbnail" width="120" height="120" src="{{tag.get_logo}}" alt="CoreLogs-{{tag}}">
        		<a id='img_upload' class="text-center" data-toggle='modal' data-target='#img_upload_modal'>Change Image</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="info_info tile">
          <div class="info_left">
            <header class="info_title">
              <h3 class="text-uppercase" property='name'>{{ tag }}</h3>
            </header>
            <p class="text-muted content_tag_desc">{{ tag.description|default:'No Description Available' }}</p>
          </div>
          <div class="info_right">
            <h3 class="text-muted"><strong>( {{ tag.get_type }} )</strong></h3>
            <h3>
              <span class="num">{{ tag.count }} Instances</span>
            </h3>
          </div>
          <!-- <div class="info_labels">
            <span class="label label-default">{{workplace.points}} points</span>
          </div> -->
        </div>
        <!--<button data-content="tag_desc" data-save="" class="btn btn-default btn-sm the_btn" name="">Edit</button>-->
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {% include "tags/tag_nav_items.html" with tag=tag %}
    </div>
  </div>
</div>
{% comment %}

{% block content %}
		<div class="panel panel-success bg-info ajax_andar ajax_papa">
        <form id="tag_desc" class="pull-right" action="{% url 'tags:describe_tag' %}" method="POST">
            <button data-content="tag_desc" data-save="" class="btn btn-default btn-xs detail_edit pull-right little_edit" name="">Edit</button>
			<input type="hidden" value="{{ tag.id }}" name="id">
        </form>

		<div class="panel-body">
			<div class="col-sm-7">
	      <h4 class=" text-uppercase">{{ tag }}</h4>
	      <h5 class="text-muted"><b>{{ tag.get_type }}</b></h5>
	      <h5 class="text-muted content_tag_desc">{{ tag.description }}</h5>
			<textarea name="description" form="tag_desc" rows="3" class="form-control edit_tag_desc hide"></textarea>
	    </div>
	    <div class="col-sm-offset-1 col-sm-4">
	      <h5><span class="label label-success">{{ tag.count }} Instances</span></h5>
	    </div>
		</div>
	</div>
	<div class="row">
	  <div class="sol-sm-12 col-md-8">
      {% include "tags/tag_nav_items.html" with tag=tag %}
    </div>
  </div>
{% endcomment %}
<div class="container-fluid">
  <div class="row wp_body">
    <div class="col-md-8 col-md-offset-2">
      {% block workplace_section %}
      <div id="tag_content" class="ajax_papa ajax_andar">
        <div class="loading hide">
          <i class="fa fa-spin fa-spinner"></i>
        </div>
        <div class="content">
          {% include content_url %}
        </div>
      </div>
      {% endblock workplace_section %}
    </div>
  </div>
</div>
{% endblock %}
