{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block page %}pg_login{% endblock page %}

{% block body %}
  <div id="cover" class="container">
    <div id="login" class="text-center center-block cover_form">
      <h3><span>Sign In</span></h3>
      <form class="form-horizontal" method="POST" action="{% url 'account_login' %}">
        {% if socialaccount.providers %}
        <div class="socialaccount_ballot">
          <ul class="socialaccount_providers list-group">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}
        {% endif %}
        <!-- <h4>CoreLogs account</h4> -->
        {% csrf_token %}
        <input id="id_login" class="form-control" type="text" placeholder="Username" name="login" maxlength="30" autofocus="autofocus">
        <input id="id_password" class="form-control" type="password" placeholder="Password" name="password">
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="form-group">
          <div class="col-sm-12 text-center">
            <button class="primaryAction btn btn-primary" type="submit">Sign in</button>
          </div>
        </div>
        <div class="form-group">
          <a id="forgot_pass" class="button secondaryAction text-center" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </div>
      </form>
      <p>
        If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.
      </p>
    </div>
  </div>
{% endblock body %}