{% extends "base.html" %}

{% load account %}
{% load bootstrap %}

{% block title %}Create Account{% endblock title %}

{% block page %}pg_signup{% endblock page %}

{% block body %}
  <div id="cover" class="container">
    <div id="signup" class="text-center center-block cover_form">
        <h3><span>Create a new account</span></h3>
        <form class="form-horizontal" method="POST" action="{% url 'account_signup' %}" role='form'>
          {% csrf_token %}
          <div class="text-danger">{{form.non_field_errors}}</div>
          <input id="id_username" class="form-control" type="text" placeholder="Username" name="username" maxlength="30" autofocus="autofocus">
          <div class="help-block"><span class="text-danger">{{form.username.errors}}</span></div>
          <input id="id_email" class="form-control" type="email" placeholder="Email" name="email">
          <div class="help-block"><span class="text-danger">{{form.email.errors}}</span></div>
          <input id="id_password1" class="form-control" type="password" placeholder="Password" name="password1">
          <div class="help-block"><span class="text-danger">{{form.password1.errors}}</span></div>
          <input id="id_password2" class="form-control" type="password" placeholder="Password (Again)" name="password2">
          <div class="help-block"><span class="text-danger">{{form.password2.errors}}</span></div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" >
          {% endif %}
          <div class="form-group">
            <div class="col-sm-12 text-center">
              <button class="primaryAction btn btn-primary" type="submit">Register</button>
            </div>
          </div>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
{% endblock body %}