{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Create Account" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <a href={% url 'home' %} class="col-sm-2 btn btn-primary">Back to home</a>
  </div>
  <div class="sign text-center">
    <h2>{% trans "Sign Up" %}</h2>
    <p>
      {% blocktrans %}
      Create a industriyo account
      {% endblocktrans %}
    </p>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction" type="submit">{% trans "Register" %}</button>
    </form>
    <br>
    {% if socialaccount.providers %}
    <p>
      {% blocktrans %}
      Or link with your existing third party account
      {% endblocktrans %}
    </p>
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}
  </div>
</div>
{% endblock %}
  