{% extends "base.html" %}

{% block title %} CoreLogs - The Engineer's Blog {% endblock title %}

{% block content %}
	<div class="panel panel-success bg-info">
		<div class="panel-body">
			<p class="text-justify text-muted col-sm-8">"Write an Engineering related blog."</p>
			<p class="text-right col-sm-4">
			<a class="pull-right" href="{% url 'nodes:write' %}"><i class="fa fa-pencil inline_fa"></i>Write your own Article</a>
			</p>
		</div>
	</div>
	<div class="ajax_andar feeds">
		{% include "snippets/figure_modal.html" %}
		{% include 'nodes/five_nodes.html' with result_list=result_list %}
		<div class="paginator" data-next_page="2">
			<h5>Loading more content</h5>
			<i class="fa fa-spin fa-circle-o-notch"></i>
		</div>
	</div>
{% endblock %}


{% block right %}
	<div class="side_help">
		<div class="ajax_load" data-url="{% url 'home_right' %}"></div>
  </div>
{% endblock right %}

{% block foot %}
	
{% endblock foot %}

{% block end_js %}
	{{block.super}}
	<script type="text/javascript">
		$('.nav_a_articles').addClass('current');
	</script>
{% endblock end_js %}