{% extends "feed.html" %}

{% block title %}The Engineer's Blog - CoreLogs{% endblock title %}

{% block meta_description %}The Blog for SMEs, The small & medium scale Industries & Enterprises{% endblock meta_description %}

{% block top %}
	{% include "snippets/top_navigation.html" with what='Articles' %}
{% endblock top %}

{% block feed_body %}
	<div class="panel panel-success bg-info">
		<div class="panel-body">
			<div class="row">
				<p class="text-justify text-muted col-sm-8">"Pen down your thoughts"</p>
				<p class="text-right col-sm-4">
					<a href="{% url 'nodes:write' %}"><i class="fa fa-pencil inline_fa"></i>Write your own Article</a>
				</p>
			</div>
		</div>
	</div>
	<div class="ajax_andar feeds">
		{% include "snippets/figure_modal.html" %}
		{% include 'nodes/five_nodes.html' with result_list=result_list %}
		<div class="paginator" data-next_page="2">
			<h5>Loading more content</h5>
			<i class="fa fa-spin fa-circle-o-notch"></i>
		</div>
	</div>
{% endblock %}

{% block foot %}

{% endblock foot %}
