{% extends "base.html" %}

{% block title %}
	{{ node.title }}
{% endblock title %}

{% block content %}
<div id="article" class="feed_box feed ajax_andar">
	<div class="feed_box_heading">
		{% include "snippets/joint_name.html" with user=node.user anony=node.anonymous %}
		<span class='pull-right text-muted'><small>{{ node.date }}</small></span>
	</div>
	<div class="ajax_papa">
		<div class="text-center vote_box ajax_papa">
			{% include "snippets/like_box.html" with node=node %}
		</div>
		<div class="feed_box_body">
			{% if node.category == 'F' %}
				<pre class="text-justify">{{ node.post }}</pre>
			{% else %}
				<h4 class="article_title">
					{{ node.title }}
					<a class="edit_post pull-right" href="{% url 'nodes:edit' node.id %}"><small><span class="glyphicon glyphicon-cog"></span> Edit</small></a>
				</h4>
				<div class="article_body">{{ node.post|safe }}</div>
				{% for image in node.get_images %}
				<figure>
					<img src="/images/{{image.image}}">
				</figure>
				{% endfor %}
				{% if node.get_tags %}
				<div class="tags">
					{% for tag in node.get_tags %}
						<a href="{% url "tags:get_tag" tag.slug %}"><span class="label label-info">{{tag}}</span></a>
					{% endfor %}
				</div>
				{% endif %}
			{% endif %}
		{% if node.get_image %}
			<figure>
				<img src="{{node.get_image}}">
			</figure>
		{% endif %}
		</div>
		<div class="feed_box_extra">
			<div class="comments">
			{% if node.get_last_comment %}
				{% include "snippets/comment.html" with comment=node.get_last_comment %}
			{% endif %}

			</div>
			<div class="interaction">
				<a class="a_collapse text-muted">Write Comment</a>
		    <div class="collapse row">
					{% include "snippets/comment_form.html" with type='n' post=node %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}