{% load filter %}
<div class="feed_box summary feed ajax_papa">
	<div class="text-center vote_box">
		{% include "snippets/like_box.html" with node=node %}
	</div>
	<div class="feed_box_body">
		<span class="fa fa-rss sign"></span>
		<div class="summary_body">{{ node.post|new_tab|safe }}</div>
		{% if node.get_images %}
			<div class="summary_fig">
			{% for image in node.get_images %}
			<figure class="call_car">
				<a>
					<img src="/images/image.png" data-src="/images/{{image.image}}" class="call_car pressme lazy_img" data-toggle='modal' data-target='#figure_modal'>
			  </a>
			</figure>
			{% endfor %}
		</div>
		{% endif %}
		<div class="author">
			{% include "snippets/joint_name.html" with user=node.user %}
			<time property='dateCreated' class="text-muted">{{node.date}}</time>
		</div>
	</div>
	<div class="feed_box_extra">
		<div class="comments">			
		{%  for c in node.get_all_comments %}
			{% include "snippets/comment.html" with comment=c %}
		{% endfor %}
		</div>
		<div class="interaction">
			<a class="a_collapse text-muted" data-hide=true><span class="fa fa-commenting-o inline_fa"></span>Write a Comment</a>
	    <div class="collapse">
	    	{% include "snippets/comment_form.html" with type='n' post=node %}
			</div>
		</div>
	</div>
</div>