<div class="feed_box article ajax_papa">
	<div class="vote_box">
		{% include "snippets/like_box.html" with node=node %}
	</div>
	<div class="feed_box_body">
		<a href="{% url 'nodes:node' node.slug %}">
			<div class="summary_title">
				<span>{{ node.title|capfirst }}</span>
				<i class="fa fa-newspaper-o sign"></i>
			</div>
		</a>
		<div class="summary_body">{{ node.get_summary|safe|truncatechars:200 }}</div>
		{% if node.get_images %}
		<div class="summary_fig">
			{% for image in node.get_images %}
			<figure>
				<img src="/images/{{image.image}}" class="call_car pressme" data-toggle='modal' data-target='#figure_modal'>
			</figure>
			{% endfor %}
		</div>
		{% endif %}
		{% if node.get_tags %}
		<div class="tags">
			{% for tag in node.get_tags %}
				<a href="{% url 'tags:get_tag' tag.slug %}" class="tag">{{tag}}</a>
			{% endfor %}
		</div>
		{% endif %}
		<div class="author">
			{% include "snippets/joint_name.html" with user=node.user %}
			<time property='dateCreated' class="text-muted">{{node.date}}</time>
		</div>
	</div>
	<div class="feed_box_extra">
		<div class="comments">
		{%  for c in node.get_all_comments %}
			{% include "snippets/comment.html" with comment=c %}
		{% endfor %}
		</div>
		<div class="interaction">
			<a class="a_collapse">Comment</a>
	    <div class="collapse row">
				{% include "snippets/comment_form.html" with type='n' post=node %}
			</div>
		</div>
	</div>
</div>