<div class="feed_box feed">
	<div class="feed_box_heading">
		{% include "snippets/joint_name.html" with user=node.user %}
		<small class='pull-right text-muted'>{{ node.date }}</small>
	</div>
	<div class="ajax_papa">
		<div class="text-center vote_box ajax_papa">
			{% include "snippets/like_box.html" with node=node %}
		</div>
		<div class="feed_box_body">
			<pre>{{ node.post | urlize }}</pre>
			{% for image in node.get_images %}
			<figure class="call_car">
				<a data-toggle='modal' data-target='#figure_modal'>
					<img src="/images/{{image.image_thumbnail}}">
				</a>
			</figure>
			{% endfor %}
			<div class="text-right">
				--{% include "snippets/joint_name.html" with user=node.user %}<time property='dateCreated' class="text-muted">{{node.date}}</time>
			</div>
		</div>
		<div class="feed_box_extra">
			<div class="comments">			
			{%  for c in node.get_all_comments %}
				{% include "snippets/comment.html" with comment=c %}
			{% endfor %}
			</div>
			<div class="interaction">
				<a class="a_collapse text-muted">Write Comment</a>
		    <div class="collapse">
		    	{% include "snippets/comment_form.html" with type='n' post=node %}
				</div>
			</div>
		</div>
	</div>
</div>