{% load filter %}
{% load humanize %}
<div class="feed_box summary article ajax_papa">
  <i class="fa fa-newspaper-o sign"></i>
  {% if node.get_tags %}
  <div class="tags">
    <span class="fa fa-tags fa-fw"></span>
    {% for tag in node.get_tags %}
    <a href="{% url 'tags:get_tag' tag.slug %}" class="tag" title="{{tag.description}}" data-toggle="tooltip" data-placement="bottom">{{tag}}</a>
    {% endfor %}
  </div>
  {% endif %}
	<a class="feed_box_body" href="{% url 'nodes:node' node.slug %}">
    {% if node.get_images %}
		<div class="summary_fig">
			{% for image in node.get_images %}
			<figure>
				<img src="/images/image.png" data-src="/images/{{image.image}}" class="lazy_img" alt="Image {{ forloop.counter }}">
			</figure>
			{% endfor %}
		</div>
		{% endif %}
		<div class="summary_title">{{ node.title|capfirst|truncatewords:15 }}</div>
		<div class="summary_body">{{ node.get_summary|truncatewords_html:20|striptags|safe }}</div>
    <div class="continue">Read More ...</div>
	</a>
  {% include "snippets/joint_person.html" with pic='user' user=node.user time=node.date|naturaltime action="published" %}
	<div class="feed_box_extra">
		<div class="interaction">
			<div class="vote_box">
				{% include "snippets/like_box.html" with node=node %}
			</div>
			<a class="pull-right"><span class="fa fa-comments-o fa-fw"></span><span class="count">{{node.get_all_comments|length}}</span> Comments</a>
		</div>
	</div>
</div>
