{% extends 'base.html' %}

{% load staticfiles %}

{% block head_css %}
  <link rel="stylesheet" href={% static 'css/form_card.css' %}>
{% endblock head_css %}

{% block body %}
<div class="container">
	<div class="col-sm-9">
		<form class="article_form tile" role="form" action="{% url 'nodes:write' %}" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<input class="form-control title_input" type="text" placeholder="Give your Article a Title ..." name="title" required>
			</div>
      <div class="form-group hide_pane">
        <textarea class="form-control qa_wyg" id="post" name="post" rows="5" required placeholder="Body of the article ..."></textarea>
      </div>
			<div class="form-group">
				<div class="hide">
	      	<span title="Add Image" data-toggle="tooltip" data-placement="left" class='btn btn-default btn-file glyphicon glyphicon-camera input-group-addon seamless_r img_pre_in'>
						<input id="id_image_0" type="file" name="image0">
	    		</span>
	  		</div>
	      <span class='btn btn-default btn-file fake_btn' data-btn='#id_image_0'>
	      	<span class="fa fa-camera"></span> Add Photo
	    	</span>
			</div>
			<div class="form-group">
				<div class="img_pre hide" data-index=0>
				</div>
			</div>
			<div class="form-group">
	      <label class="control-label" for="id_tags">Tags: Topics under which the Article might fall</label>
				{% include "snippets/d_search_tags.html" with search="tag" type="All" placeholder="Relevent tags help your article reach out to the right people" %}
			  <p class="help-block">
	        Use , (comma) to separate the tags, such as "asp.net,mvc5,javascript"
	      </p>
			</div>
			<div class="checkbox">
			  <label><input type="checkbox" name="anonymous" value="true">Post as Anynonymous</label>
			</div>
			<button type="button" class="btn btn-default">Publish</button>
			<button type="button" class="btn btn-default check_btn pull-right">Save as Draft</button>
			<input type="hidden" name="draft" value="">
			<button type="submit" class="hidden"></button>
			{% csrf_token %}
		</form>
	</div>
	<div id="right" class="col-sm-3">
		<div class="side_help">
	    <h3 class="side_head"><a href="{% url 'nodes:what_to_write' %}">How &amp; What to Write</a><br>
			<small>CoreLogs - The Engineer's Blog</small></h3>
			<ul class="fa-ul">
			<li><i class="fa fa-hand-o-right fa-li"></i>We accept technical &amp; Industry related Articles.</li>
			<li><i class="fa fa-hand-o-right fa-li"></i>The Title of the article should clearly summarize the topic you are writing about.</li>
			<li><i class="fa fa-hand-o-right fa-li"></i>You can write articles as a Engineering related blog and your CoreLogs profile would contain all your blogs at one place.</li>
			<li><i class="fa fa-hand-o-right fa-li"></i>Tag the Article with appropriate topics for classification.</li>
			<li><i class="fa fa-hand-o-right fa-li"></i>You can add upto 3 images to your article for explanation</li>
			</ul>
	  </div>
	</div>
</div>
{% endblock %}
