{% extends 'base.html' %}
{% load staticfiles %}

{% block head_desc %}
  <title>{% block title %}Write an Article | CoreLogs{% endblock title %}</title>
  <meta name="description" content="{% block meta_description %}A perfect place to pitch your thoughts related to the industry{% endblock meta_description %}">
  <meta property="og:title" content="{% block meta_og_title %}Write an Article | CoreLogs{% endblock %}">
  <meta name="og:description" content="{% block meta_og_description %}A perfect place to pitch your thoughts related to the industry{% endblock meta_og_description %}">
{% endblock head_desc %}

{% block head_css %}
  <link rel="stylesheet" href={% static 'sassout/test.css' %}>
{% endblock head_css %}

{% block body %}
<div class="container">
	<div class="col-sm-9">
    <div class="tile">
      <form class="article_form" role="form" action="{% url 'nodes:write' %}" data-image="{% url 'nodes:add_image' %}" method="POST" enctype="multipart/form-data">
        <div class="form_eric">
          <div class="form-group">
            <input class="form-control title_input" type="text" placeholder="Title of your Article ..." name="title">
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control qa_wyg" id="post" name="post" rows="5" required placeholder="Body of the article ..."></textarea>
        </div>
        <div class="form_eric">
    			<div class="form-group">
    	      <div class="inline_tags">
      				{% include "snippets/d_search_tags.html" with search="tag" type="All" placeholder="Add relevent tags to reach out to the right audience..." %}
            </div>
      			  <p class="help-block">
      	        Use , (comma) to separate the tags, such as "asp.net,mvc5,javascript"
      	      </p>
    			</div>
          <div class="form-group">
            <div class="checkbox">
              <label><input type="checkbox" name="anonymous" value="true">Post as Anynonymous</label>
            </div>
          </div>
    			<button type="submit" class="btn btn-default btn-success">Publish</button>
    			<button type="button" class="btn btn-default check_btn">Save as Draft</button>
    			<input type="hidden" name="draft" value="">
        </div>
			  {% csrf_token %}
		  </form>
    </div>
	</div>
	<div id="right" class="col-sm-3">
		<div class="side_help">
	    <h3 class="side_head"><a href="{% url 'nodes:what_to_write' %}">How &amp; What to Write</a><br>
			<small>CoreLogs - The Engineer's Blog</small></h3>
			<ul class="fa-ul">
			<li><i class="fa fa-hand-o-right fa-li"></i>We accept technical &amp; Industry related Articles.</li>
			<li><i class="fa fa-hand-o-right fa-li"></i>The Title of the article should clearly summarize the topic you are writing about.</li>
			<li><i class="fa fa-hand-o-right fa-li"></i>You can write articles as a Engineering related blog and your CoreLogs profile would contain all your blogs at one place.</li>
			<li><i class="fa fa-hand-o-right fa-li"></i>Tag the Article with appropriate topics for classification.</li>
			<li><i class="fa fa-hand-o-right fa-li"></i>You can add upto 3 images to your article for explanation</li>
			</ul>
	  </div>
	</div>
</div>
{% endblock %}
