{% extends 'base.html' %}

{% block content %}
	<form class="article_form" role="form" action="{% url 'nodes:write' %}" method="POST">
		<div class="form-group">
			<input class="form-control" type="text" placeholder="Title.." name="title">
		</div>
		<div class="form-group">
			{% include "snippets/richtext_toolbar.html" %}
	    <div id="editor">
	      Go ahead&hellip;
	    </div>
			<input class="form-control" type="hidden" placeholder="Body.." name="post">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" placeholder="Tags" name="tags">
		</div>
		<button type="button" class="btn btn-default">Publish</button>
		{% csrf_token %}
	</form>
{% endblock %}