<div class="eq_flex">
  <div class="tile">
    <h3>Cities and Industrial Areas</h3>
    <div class="eq_flex">
      {% for tag in tags1 %}
        {% if tag.id in added %}
          {% include "network/tag_box.html" with tag_type="city" haha=True %}
        {% else %}
          {% include "network/tag_box.html" with tag_type="city"%}
        {% endif %}
      {% empty %}
        <p class="text-muted">
          No tags found matching your query!
        </p>
      {% endfor %}
    </div>
  </div>
  <div class="tile">
    <h3>Market Segments</h3>
    <div class="eq_flex">
      {% for tag in tags2 %}
        {% if tag.id in added %}
          {% include "network/tag_box.html" with tag_type="segment" haha=True %}
        {% else %}
          {% include "network/tag_box.html" with tag_type="segment" %}
        {% endif %}
      {% empty %}
        <p class="text-muted">
          No tags found matching your query!
        </p>
      {% endfor %}
    </div>
  </div>
</div>
