{% include "snippets/feed_form.html" %}

{% for a in result_list %}
  {% if a.category == 'F' %}
		{% include 'nodes/one_node.html' with node=a %}
  {% elif a.category == 'A' %}
		{% include 'nodes/one_article.html' with node=a %}
  {% elif a.category == 'D' %}
    {% comment %}

    {% include 'nodes/one_node_spcl.html' with node=a %}
    {% endcomment %}
  {% else %}
    {% include 'forum/one_question.html' with q=a %}
  {% endif %}
{% endfor %}

<script type="text/javascript">

$('.qa_wyg').trumbowyg({
    btns: [
      // ['viewHTML'],
      // ['formatting'],
      'btnGrp-semantic',
      ['superscript', 'subscript'],
      ['link'],
      ['insertImage'],
      'btnGrp-lists',
      'btnGrp-justify',
      ['horizontalRule'],
      ['removeformat'],
      ['fullscreen']
    ]
  });
</script>
