<p><span class="color">{{cc}}</span> Companies related to <span class="color">{{locations|length}}</span> locations <br>
  {% for tag in locations %}
  <a href="{% url 'tags:get_tag' tag.slug %}" class="tag" title="{% if tag.description %}{{tag.description|truncatewords:25}}{% else %}No description available{% endif %}" data-toggle="tooltip" data-placement="bottom">{{tag}}</a>
  {% endfor %}
</p>
<p><span class="color">{{sc}}</span> Companies related to <span class="color">{{segments|length}}</span> segments <br>
  {% for tag in segments %}
  <a href="{% url 'tags:get_tag' tag.slug %}" class="tag" title="{% if tag.description %}{{tag.description|truncatewords:25}}{% else %}No description available{% endif %}" data-toggle="tooltip" data-placement="bottom">{{tag}}</a>
  {% endfor %}
</p>
