{% extends 'enquiry/base_enquiry.html' %}

{% block title %}Enquiry{% endblock %}

{% block page_header %}Enquiry{% endblock %}

{% block container %}
  {% if enquiries %}
  <ul class="conversation">
    {% for enquiry in enquiries %}
      {% include 'enquiry/partial_enquiry.html' with enquiry=enquiry %}
    {% endfor %}
    <li class="send-message">
      <div style="margin-top: .3em">
        <form role="form" method="post" action="{% url 'messages:send_message' %}" id="send">
          {% csrf_token %}
          <input type="hidden" name="to" value="{{ active }}">
          <input class="form-control" type="text" name="message" placeholder="Write a message..." maxlength="1000" autocomplete="off">
        </form>
      </div>
    </li>
  </ul>
  {% else %}
    <h4>Your inbox is empty!</h4>
  {% endif %}
{% endblock container %}


