<div class="enquiry_long panel panel-body">
	<img class="thmb_md lazy_img" src="/images/wp.png" data-src="{{enquiry.workplace.get_logo}}" alt="{{enquiry.workplace}}">
	<h3 class="text-center">This inquiry was made on {{ enquiry.workplace }}</h3>
	<div class="enq_msg">
		<h5>Enquiry Message:</h5>
		<p><span>{{enquiry.message}}</span></p>
	</div>
	<div class="enq_user">
		<h4>Details Shared</h4>
		<div>Phone Number: {{enquiry.phone_no}}</div>
		{% if not enquiry.seen %}
		<div class="reply" title="Send a reminder" data-toggle="tooltip">
			<a class="btn btn-success" href="mailto:{{enquiry.email}}" target="_blank"><span class="fa fa-exclamation-circle inline_fa"></span> Send a reminder to the Enquirer</a>
		</div>
		{% endif %}
	</div>
</div>