{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
  <div class="container">
    <div class="row" style="margin-top: 1em">
    	<div class="col-sm-6">
				<div id="enq_details">
					<div class="loading hide">
		        <i class="fa fa-spin fa-circle-o-notch"></i>
		      </div>
		      <div class="content">
					</div>
				</div>
      </div>
      <div class="col-sm-6">
      	<div class="enquiries list-group">
					{% for enq in enquiries reversed %}
					<a class="ajax_a list-group-item enquiry_short" data-place="#enq_details" href="{% url 'products:enqui' enq.id %}">
						<div>
							<span class="prod">{{ enq.product }}</span>
							<time><small>{{ enq.date }}</small></time>
						</div>
						<div class="enq_msg">
							{{ enq.message }}
						</div>
					</a>
					{% endfor %}
				</div>
	  	</div>
    </div>
  </div>
{% endblock body %}