{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap %}

{% block left %}
<div class="">
	<div id="img_profile_box">
	  
		<img id="img_profile" class="thumbnail" width="120" height="120" src="{{ user.userprofile.get_profile_image}}"/>
			
		<a id='img_upload' class="text-center" data-toggle='modal' data-target='#img_upload_modal' href="#">Change Image</a>
	</div>
	<div class="account">
		<h4 class="acc_detail">{{ name }}</h4>
		<h4 class="acc_detail"><small class='small_mid'>( {{ user.userprofile.job_position }} )</small></h4>
		<h4 class="acc_detail"><a href="#" class="no_a">{{ user.userprofile.primary_workplace }}</a></h4>
		<h5 class="acc_detail text-muted">{{user.userprofile.area}}</h5>
	</div>
</div>
<div id="img_upload_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change your profile picture <small>(it won't be cropped)</small></h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'nodes:set_profile_image' %}" role='form' method="post" enctype="multipart/form-data">
        	{% csrf_token %}
		      <div class="image-editor center-block">
		      	<span class='btn btn-default btn-file center-block'>
		        	Browse {{profile_image_form.image}}
	        	</span>
		        <div class="cropit-image-preview"></div>
		        <div class="image-size-label text-center">
		          Resize image
		        </div>
		        <input type="range" class="cropit-image-zoom-input">
		        <div class="row">
		        	<button type="submit" class="btn btn-info col-sm-10 col-sm-offset-1">Submit</button>
	        	</div>
		      </div>
		    </form>
		    <input type="hidden" name="image-data" class="hidden-image-data" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock left %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="text-muted detail_head">
				Experience
				{% ifequal user request.user %}
				<button class="btn btn-info btn-xs detail_edit pull-right" name="">Edit</button>
				{% endifequal %}
			</h3>
		</div>
		<div class="panel-body">
			<div class="detail_body">{{user.userprofile.experience}}</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="text-muted detail_head">
				Interests
				{% ifequal user request.user %}
				<button class="btn btn-info btn-xs detail_edit pull-right" name="">Add</button>
				{% endifequal %}
			</h3>
		</div>
		<div class="panel-body">
			<div class="detail_body">
				<div class="alert alert_tag_box">
					<a href="#" class="close">&times;</a>
					<div class="tag_box_title">Interest 1</div>
					<div class="tag_box_body">Details of interest as long as it goes.. line 1... line 2... so on... so on... so on... so on... so on... so on... so on... so on... so on... so on... so on...</div>
				</div>
			</div>
		</div>
	</div>
	{% for question in questions %}
		{% include 'forum/one_question.html' with node=node %}
	{% endfor %}
	{% for node in feeds %}
		{% include 'nodes/one_node.html' with node=node %}
	{% endfor %}
	
	{% for interest in user.userprofile.get_interests %}
		{{ interest.tag }}
	{% endfor %}
	
	{{user.userprofile.get_interests}}
	<script type="text/javascript">
	$('.detail').on({
		'mouseover':function(){
			$(this).children('.detail_opt').removeClass('hide');
		},
		'mouseout':function(){
			$(this).children('.detail_opt').addClass('hide');
		}
	});
	</script>
{% endblock %}