{% extends "base.html" %}

{% load filter %}
{% load staticfiles %}

{% block head_css %}
  <link rel="stylesheet" href={% static 'css/form_card.css' %}>
{% endblock head_css %}

{% block title %}{{ userprofile }} | CoreLogs{% endblock title %}

{% block meta_description %}{{page_user.userprofile.experience|truncatechars_html:75}}{% endblock meta_description %}

{% block meta_og_title %}{{userprofile}}{% endblock meta_og_title %}
{% block meta_og_description %}{{ page_user.userprofile.experience|truncatechars_html:75 }}{% endblock meta_og_description %}
{% block meta_og_image %}{{page_user.userprofile.get_profile_image}}{% endblock meta_og_image %}
{% block meta_og_image_dim %}
  <meta property="og:image:width" content="128">
  <meta property="og:image:height" content="128">
{% endblock meta_og_image_dim %}

{% block page_id %}userprofile{% endblock page_id %}

{% block top %}
  {% include "snippets/top_navigation.html" with what='Users' %}
{% endblock top %}

{% block body %}
<div class="container-fluid">
	{% include "messages/reply_to_modal.html" with user=page_user %}
	<div id="info_head" class="row info_head">
		<div class="col-sm-2 col-md-2">
			<div id="img_profile_box">
				{% if page_user == user %}
        {% url 'user:set_logo' as add_link %}
          {% include "snippets/edit_image_box.html" with name="photo" n=1 url=add_link image=page_user.userprofile.get_profile_image %}
        {% else %}
        <img id="img_profile" class="thumbnail lazy_img" width="120" height="120" src="/images/user_man.png" data-src="{{page_user.userprofile.get_profile_image}}" alt="{{userprofile}}">
				{% endif %}
			</div>
		</div>
    <div class="col-sm-7 info_left">
    	<header class="info_title">
      	<h2 class="text-uppercase" property='name'>{{ userprofile }}</h2>
			</header>
			{% if userprofile.primary_workplace %}
			<h5 class="acc_detail">{{ page_user.userprofile.job_position }} at <a href="{% url "workplace:workplace_profile" userprofile.primary_workplace.slug %}" class="no_a">{{ userprofile.primary_workplace }}</a></h5>
			{% else %}
			<h4 class="acc_detail">No Workplace Defined</h4>
			{% endif %}
    </div>
    <div class="col-sm-3">
      <div class="info_labels">
        <span class="label label-default">{{userprofile.points}} points</span>
      </div>
			{% if user.is_authenticated %}
			<div class="info_labels" title="Send a message to {{userprofile}}" data-toggle="tooltip" data-placement="left">
        <button class="btn btn-primary btn-sm" data-toggle='modal' data-target='#msg_modal'>
        	<span class="fa fa-envelope"></span> Send a Message
        </button>
      </div>
			{% endif %}
  	</div>
 	</div>

  <div class="row wp_body">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		  <ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#about"><span class="fa inline_fa fa-info-circle"></span>About</a></li>
		    <li><a data-toggle="tab" href="#activity"><span class="fa inline_fa fa-rss"></span>Activity</a></li>
		    {% if page_user == request.user %}
		    <li><a data-toggle="tab" href="#settings"><span class="fa inline_fa fa-cog"></span>Settings</a></li>
		    {% endif %}
		  </ul>
		  <div class="tab-content" style="margin-bottom: 100px;">
		    <div id="about" class="tab-pane fade in active">
          {% if page_user == user %}
          <form id="edit_up_form" class="ajax_andar auto_form" role="form" action="{% url 'user:edit' %}" method="POST" enctype="multipart/form-data">
            <div class="form_card tile_flat">
              <span class="saving original hide">Saving ...<span class="fa fa-fw fa-spin fa-cog"></span></span>
              <div class="form-group">
                <label for="up_about">Your Experience</label>
                <textarea class="textarea_lg count_field" id="up_about" name="experience" placeholder="A breif introduction of your experience and expertize in your field of work" maxlength="5000">{{page_user.userprofile.experience|default:''}}</textarea>
                <span class="char_count">5000</span>
              </div>
              <div class="form-group">
                <label for="up_interests">Interests</label>
                {% include "snippets/d_search_tags.html" with search="tag" type='All' tags=page_user.userprofile.get_interests name='interests' placeholder='Type the name of the topics of your Interest and select from the dropdown' %}
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="up_mob">Mobile Number</label>
                    <input id="up_mob" name="mobile_contact" type="tel" value="{{page_user.userprofile.mobile_contact|default:''}}">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="up_email">Email Address (for personal communication)</label>
                    <input class="" id="up_email" name="email" value="{{page_user.userprofile.email|default:''}}" placeholder="put comma (,) separated if more than one">
                  </div>
                </div>
              </div>
            </div>
            <div class="form_card tile_flat">
              <div class="form-group">
                <div class="data_inline">
                  <span class="text-info"><strong>Communication Details for enquiries and activities related to the Products you manage for your workplace</strong></span><br>
                    <span class="text-muted">(Will be hidden from your Public Profile)</span>
                </div>
            	</div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="up_prod_mob">Mobile Number</label>
                    <input id="up_prod_mob" name="product_phone" type="tel" value="{{page_user.userprofile.product_phone|default:''}}">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="up_prod_email">Email Address</label>
                    <input class="" id="up_prod_email" name="product_email" value="{{page_user.userprofile.product_email|default:''}}" placeholder="put comma (,) separated if more than one">
                  </div>
                </div>
              </div>
            </div>
          </form>
          {% else %}
          <div class="form_card tile_flat">
            <div class="form-group">
              <p class="data">{{page_user.userprofile.experience|urlize|new_tab|safe}}</p>
            </div>
            <div class="form-group">
              <div class="data_inline"><span class="fa fa-phone fa-fw"></span>&nbsp;{{page_user.userprofile.mobile_contact}}</div>
              <div class="data_inline"><span class="fa fa-envelope-o fa-fw"></span>&nbsp;{{page_user.userprofile.email}}</div>
            </div>
            {% if page_user.userprofile.get_interests %}
            <div class="form-group">
              <div class="data_title">Interests</div>
              <div class="tags">
                <span class="fa fa-map-o fa-fw"></span>
                {% for tag in page_user.userprofile.get_interests %}
                  <a href="{% url 'tags:get_tag' tag.slug %}" class="tag" title="{{tag.description}}" data-toggle="tooltip" data-placement="bottom">{{tag}}</a>
                {% endfor %}
              </div>
            </div>
            {% endif %}
          </div>
          {% endif %}
		    </div>

		    <div id="activity" class="tab-pane fade ajax_andar ajax_papa">
		  		<div class="ajax_andar feeds">
						{% include "snippets/figure_modal.html" %}
						{% include 'nodes/five_nodes.html' with result_list=result_list %}
						<div class="paginator" data-next_page="2">
							<h5>Loading more content</h5>
							<i class="fa fa-spin fa-circle-o-notch"></i>
						</div>
					</div>
		    </div>

		    <div id="settings" class="tab-pane fade">
		    	<h3>Profile Settings</h3>
					<h4>Connect your Social Accounts to expand your network</h4>
					<ul class="list-unstyled wide_48 connections">
					  {% include "userprofile/provider_list.html" with process="connect" accounts=accounts %}
					</ul>
					{% include "socialaccount/snippets/login_extra.html" %}
			  </div>
		  </div>
	  </div>
	</div>
</div>

	<script type="text/javascript">
		$('#top_nav_user').addClass('current');
	</script>
{% endblock body %}
