{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap %}


{% block page %}pg_set{% endblock page %}

{% block body %}
<div class="w_650">
	<div class="panel-group ajax_andar ajax_papa" id="accordion">
	  <div class="panel panel-default">
	    <div id="set_workplace" class="panel-collapse collapse in ajax-andar">
	      <div class="panel-body">
	      	<p class="well text-justify text-info"><span class="glyphicon glyphicon-info-sign"></span> Select or create the Educational Institution / SAE Team/ Company you belong to.</p>
	      	<form class="validate" action="" method="POST" role="form">
						{% csrf_token %}
						{% comment %}
						{{ form_set_workplace|bootstrap }}
						{% endcomment %}
						<div class="form-group">
            	<label class="control-label" for="id_workplace">Workplace</label>
            	<i class="fa fa-exclamation fback_warn text-danger hide pull-right"></i>
            	<p class="fback_msg text-danger text-right hide">Select an option from the dropdown menu</p>
            	{% include "snippets/d_search.html" with search="workplace" placeholder="Search for your Company, Team or Institution ..." parent="accordion" %}
						</div>
						<div class="form-group">
            	<label class="control-label" for="id_job_position">Working As</label>
          		<input class=" form-control" id="id_job_position" maxlength="50" name="job_position">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
					<div class="message">
					</div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div id="create_workplace" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<p class="well text-info"><span class="glyphicon glyphicon-info-sign"></span> Please put the official name of the College/Company/Team using Capitals appropriately (eg. UTC Aerospace Systems).</p>
	      	<form action="{% url 'register' %}" method="POST" role="form">
						{% csrf_token %}
						{{ form_create_workplace|bootstrap }}
						<button type="submit" class="btn btn-success form-ajax" data-toggle="collapse" data-parent="#accordion" href="#set_workplace">Create</button>
						<button type="button" class="btn btn-danger" data-toggle="collapse" data-parent="#accordion" href="#set_workplace">Back</button>
					</form>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- <div class="panel-group ajax_andar ajax_papa" id="accordion2">
	  <div class="panel panel-default">
	    <div id="set_workplace" class="panel-collapse collapse in ajax-andar">
	      <div class="panel-body">
	      	<p class="well text-justify text-info"><span class="glyphicon glyphicon-info-sign"></span> Select or create the Educational Institution / SAE Team/ Company you belong to.</p>
	      	<form action="" method="POST" role="form">
						{% csrf_token %}
						{% comment %}
						{{ form_set_workplace|bootstrap }}
						{% endcomment %}
						<div class="form-group">
	            	<label class="control-label  " for="id_workplace">Workplace</label>
	            	<div style="display:inline-block;padding-left:10px;" class="text-muted"> ( Search for your Institution, Team or Company)</div>
	        			<div class=" ">
	          			<div class="d_search has-feedback" data-results="single">
	        					<input autocomplete="off" class="form-control d_input" data-create="create_new" data-results="single" data-search="workplace" id="id_workplace" maxlength="100" name="" placeholder="Search for your Company, Team or Institution ..." type="text">
	          				<input name="workplace" value="" type="hidden">
	          				<div class="dropdown">
	          					<ul class="dropdown-menu d_list"></ul>
	        					</div>
	        					<span class="form-control-feedback">
	        						<i class="fa fa-pulse fa-spinner fback_working hide"></i>
	        						<i class="fa fa-check text-success fback_ok hide"></i>
	        						<i class="fa fa-exclamation text-warning fback_warn hide"></i>
	      						</span>
	      					</div>
	        			</div>
						</div>
						<div class="form-group">
	            	<label class="control-label  " for="id_job_position">Job position</label>
	        			<div class=" ">
	            		<input class=" form-control" id="id_job_position" maxlength="50" name="job_position" type="text">
	        			</div>
						</div>
						<button type="submit" class="btn btn-primary" disabled>Submit</button>
					</form>
					<div class="message">
					</div>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div id="create_workplace" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<p class="well text-info"><span class="glyphicon glyphicon-info-sign"></span> Please put the official name of the College/Company/Team using Capitals appropriately (eg. UTC Aerospace Systems).</p>
	      	<form action="{% url 'register' %}" method="POST" role="form">
						{% csrf_token %}
						{{ form_create_workplace|bootstrap }}
						<button type="submit" class="btn btn-success form-ajax" data-toggle="collapse" data-parent="#accordion2" href="#set_workplace">Create</button>
						<button type="button" class="btn btn-danger" data-toggle="collapse" data-parent="#accordion2" href="#set_workplace">Back</button>
					</form>
	      </div>
	    </div>
	  </div> -->
	</div>
</div>
{% endblock body %}