{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Set your workplace{% endblock title %}

{% block page_id %}pg_set{% endblock page_id %}

{% block body %}
<div class="container">
	<div class="w_650">
	<div class="panel info_lg">
		<div class="panel-body">
			<p class="text-center">
				Hello <strong>{{request.user}}</strong> ..!<br>
				No, this is not the page where you've to fill out a long boring form.<br>
				<span class="badge">1</span><strong><span class="text-success">Where you work</span></strong> and <span class="badge">2</span><strong><span class="">your name</span></strong>, thats all for now, and you are set to <strong><span class="text-success">go!</span></strong>
			</p>
		</div>
	</div>
		<div class="">
			<header class="page-header">
				<h2 class="text-center">You Work At A</h2>
			</header>
			<form id="wp_set_form" class="form_lg" action="" method="POST" role="form">
				{% csrf_token %}
				<div class="form-group text-center">
					<button type="button" class="btn btn_trans btn-lg" value="sm">Small &amp; Medium Scale Industry</button>
					<button type="button" class="btn btn_trans btn-lg" value="ls">Large Scale Industry</button>
					<button type="button" class="btn btn_trans btn-lg" value="sa">SAE Team</button>
					<button type="button" class="btn btn_trans btn-lg" value="ed">Educational Institute</button>
					<div class="help-block"><span class="fa fa-support inline_fa"></span>select the type of your workplace</div>
				</div>
				<div id="wp_set_search" class="form-group">
					<div class="form-group">
						<label class="control-label" for="id_job_position">Name</label>
		    		{% include "snippets/d_search.html" with search="workplace" placeholder="Search for your Company, Team or Institution ..."%}
		    		<div class="help-block"><span class="fa fa-support inline_fa"></span>select your workplace from the dropdown, or if its not listed simply type the name of your new workplace and continue</div>
	    		</div>
	    		<div class="form-group">
	        	<label class="control-label" for="id_job_position">Working as</label>
	      		<input class=" form-control" id="id_job_position" maxlength="50" name="job_position" placeholder='Your Designation / Post'>
					</div>
					<div class="form-group text-center">
	    			<input type="submit" value="Submit" class="btn btn-primary">
	    		</div>
    		</div>
    	</form>
		</div>
	</div>
</div>
{% include "snippets/feedback.html" %}
{% endblock body %}

