.body{
    display: flex;
}

.pre_nav .nav_advert .btn {
    margin-left: 10px;
}

.menu_left{
    padding: 15px;
    background: #fff;
    margin: -15px 0 1px;
    border-right: 1px solid #eee;
}

.menu_left .toggle{
    display: inline-block;
    margin: 0 15px 5px;
    background: #fff;
    font-size: 20px;
    color: #ccc;
}

.tab_list{
    list-style: none;
}

.tab_list a{
    display: block;
    padding: 7px 10px;
    margin: 5px;
    border-bottom: 1px solid #eee;
    color: #777;
    font-size: 16px;
    font-weight: 700;
    transition: 0.5s all ease-out;
}

.tab_list a:hover, .tab_list a:active, .tab_list a:focus{
    text-decoration: none;
    border-color: #197;
}

.sub_menu{
/*     margin: 10px 0; */
}

.sub_menu a{
    color: #999;
    font-weight: 500;
    font-size: 15px;
    border: 0;
    margin: 0 15px 0 25px;
}

.section_mid{
    flex-grow: 1;
    padding: 0 15px;
}

@media(min-width: 768px){
    .menu_left{
        flex-basis: 200px;
    }
}

footer{
    margin-top: 0;
}

.inline_tags{
    background: #fff;
}

.inline_tags .d_search{
}

.inline_tags input{
    border: 0;
    margin: 0;
    padding: 35px 8px 7px;
    height: auto;
    line-heigth: 20px;
    font-size: 14px;
    display: inline-block;
    background: transparent;
    border: 1px dashed #ccc;

    &:hover{
        background: rgba(0,0,0,0.01);
    }
}

.inline_tags .input_tags{
    margin: 7px;
    position: absolute;
}

.inline_tags .dropdown{
    top: 6px;
}

.inline_tags .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.thin{
    padding: 15px;
}