.body{
    display: flex;
}

.pre_nav .nav_advert .btn {
    margin-left: 10px;
}

.menu_left{
    padding: 15px;
    background: #fff;
    margin: -20px 0 0;
    border-right: 1px solid #eee;
}

.menu_left .toggle{
    display: inline-block;
    margin: 0 15px 15px;
    background: #fff;
}