.body{
    display: flex;
}

.tile{
  position: relative;
}

.pre_nav .nav_advert .btn {
    margin-left: 10px;
}

.menu_left{
    position: absolute;
    z-index: 98;
    padding: 15px;
    top: 5px;
    left: 0;
    width: 180px;
    height: 100%;
    background: #f9f9f9;

    &.affix{
        position: fixed;
        top: 56px;
    }

    .toggle {
        display: inline-block;
        margin: 0 15px 5px;
        font-size: 25px;
        color: #ccc;
        position: relative;
        left: 0px;

        @media (max-width: 768px){
            margin-left: -5px;
            
        }
    }

    a[data-status='closed']{
        color: #000;
        transition: 0.5s all ease-out;
    }
}


.tab_list{
    list-style: none;

    a{
        display: block;
        padding: 7px 10px;
        margin: 5px;
        border-bottom: 1px solid #eee;
        color: #777;
        font-size: 16px;
        font-weight: 700;
        transition: 0.5s all ease-out;

        &:hover, &:active, &:focus{
            text-decoration: none;
            border-color: #197;
        }
    }
}

.sub_menu a{
    color: #999;
    font-weight: 500;
    font-size: 15px;
    border: 0;
    margin: 0 15px 0 25px;
}

footer{
    margin-top: 0;
}

.inline_tags {
    background: #fff;
    border: 1px dashed #ccc;
    cursor: text;
    
    &:hover{
        background: rgba(255,255,255,0.75);
    }

    &.focus{
        border-color: #07a0c3;
    }

    input{
        border: 0;
        margin: 0;
        padding: 7px 12px;
        height: auto;
        font-size: 14px;
        display: inline-block;
        background: transparent;
    }
    
    .input_tags{
        margin: 10px 0 0 10px;
/*         position: absolute; */
    }

    .dropdown{
        top: 6px;
    }

    .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
}


.flex_section{
    margin-left: 220px;
    display: flex;
    justify-content: space-around;
    margin-right: 25px;

    @media (max-width:768px){
        margin-left: 25px;
    }
}

.section_mid{
    flex: 2 1 30%;
    padding: 0 15px;
}

.aside_right{
    flex: 1 2 20%;
}

.eq_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;

    > div{
        flex: 1 1;
        margin: 15px;
    }
}

.wp_card_slim{
    display: flex;
    border: 1px solid #eee;
/*     width: 45%; */
    margin: 10px; 
    min-width: 175px;
    
    .logo{
        margin-right: 10px;
        border-right: 1px solid #eee;
        img{
            width: 64px;
            height: 64px;
        }
    }

    .info{
        position: relative;
    }

    h4{
        font-size: 15px;
    }

    .details{
        bottom: 10px;
        min-height: 28px;

        .btn{
            position: absolute;
            bottom: 7px;
        }
        .btn-default{
            border-color: #27c0e3;
        }
    }

    .num{
        color: #197;
        font-weight: 700;
    }
}

.ajax_load2{
    position: relative;
    min-height: 250px;
}

.page_search_box{
    padding: 25px;
    
    .form-group{
        max-width: 720px;
        margin: auto;
    }

    input{
        text-align: center;
        font-family: 'Titillium Web';
        font-weight: 300;
        display: block;
        width: 100%;
        line-height: 40px;
        border-radius: 15px;
        box-shadow: 0 0 0;
        border: 1px solid #ccc;
        font-size: 20px;
        padding: 0 45px 0px;
        outline: 0;

        &:focus, &:active{
            box-shadow: 0 0 0;
            outline: 0;
            border-color: #07a0c3;
        }
    }

    .fa{
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        color: #aaa;
    }

    .fa-search{
        position: absolute;
        left: 0px;
        font-size: 20px;
    }

    .form-control-feedback{
        width: 40px;
    }
}

.tile{
    h3{
        margin: 0 20px 15px;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
    }
}

.xl_p{
    font-weight: 300;
}