<div class="text-center">
  {% for cat in result_list %}
    <div class="cat_card">
      <div class="logo"><img src="{{ cat.get_image }}" class="thmb_md"></div>
      <div>
        <h4><a href="{% url 'category' cat.slug %}">{{cat}}</a></h4>
        <div>
          {% if cat.sub_cat %}
          <ul>
          {% for c in cat.get_sub|slice:":3" %}
            <li><a href="{% url 'category' c.slug %}">{{c}}</a></li>
          {% endfor %}
          </ul>
          {% else %}
          <ul>
            {% for product in products %}
            <li><a href="{% url 'products:product' product.slug %}">{{ product }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
