{% extends "base_new.html" %}

{% load filter %}

{% block title %}Add Products | CoreLogs{% endblock title %}

{% block meta_description %}Add a new product provided by {{workplace}}{% endblock meta_description %}

{% block meta_og_title %}Add Product{% endblock meta_og_title %}
{% block meta_og_description %}Add a new product provided by {{workplace}}{% endblock meta_og_description %}
{% block meta_og_image %}{{workplace.get_logo}}{% endblock meta_og_image %}
{% block meta_og_image_dim %}
  <meta property="og:image:width" content="128">
  <meta property="og:image:height" content="128">
{% endblock meta_og_image_dim %}

{% block page_id %}add_product{% endblock page_id %}

{% block top %}
  {% include "snippets/top_navigation.html" with what='Products' %}
{% endblock top %}

{% block body %}
<div class="menu_left" data-spy="affix" data-offset-top="50">
  <a class="toggle" href="#" data-slide="#all_categories" data-status="open"><span class="fa fa-bars slim_fa"></span></a>
  <nav>
    <ul class="tab_list fa-ul">
      <li>
        <a href="{% url 'network:network' %}">
          <span class="fa fa-globe fa-li"></span>
          Network
        </a>
      </li>
      <li>
        <a href="{% url 'workplace:products' user.userprofile.primary_workplace.slug %}">
          <span class="fa fa-cubes fa-li"></span>
          My Products
        </a>
      </li>
      <li>
        <a href="{% url 'workplace:dashboard' user.userprofile.primary_workplace.slug %}">
          <span class="fa fa-dashboard fa-li"></span>
          Dashboard
        </a>
      </li>
      <li>
        <a href="{% url 'products:add_product' %}">
          <span class="fa fa-upload fa-li"></span>
          Product Upload
        </a>
      </li>
      <li>
        <a href="{% url 'products:add_products_file' %}">
          <span class="fa fa-file-excel-o fa-li"></span>
          Bulk Upload in Excel
        </a>
      </li>
    </ul>
  </nav>
</div>
{% block add_prod_body %}
<div class="flex_block">
  <div class="">
    <h5>Recently Added Products</h5>
    <ul id="recent_prods" class="product_list_sm list-unstyled">
      {% for product in previous_prods %}
        {% include "products/small_product.html" with product=product %}
        {% if forloop.last %}
          <li style="padding-left: 39px;">
            <a href="">See All <span class="fa fa-angle-double-right"></span></a>
          </li>
        {% endif %}
      {% empty %}
        <li>
          Your most recently added products will appear here.
        </li>
      {% endfor %}
    </ul>
    <div class="form_pool">
      {% for i in "12345" %}
        {% include "products/add_multi_form.html" with n=forloop.counter %}
      {% endfor %}
      {% include "products/categories_modal.html" %}
    </div>
    <div class="text-center">
      <button type="button" name="submit" class="btn btn-success btn-lg form_show" style="margin-top: 15px;"><span class="fa fa-plus fa-fw" style="color: #fff;"></span> Add More</button>
    </div>
  </div>
</div>
{% endblock %}
{% endblock body %}
