{% extends "base.html" %}

{% load staticfiles %}

{% load index %}

{% block page_id %}add_product{% endblock page_id %}

{% block body %}
<div class="container">
	{% if p %}
	<div class="alert alert-info">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <p><strong>Hello {{request.user.userprofile}} !</strong></p>
	  <p>The last product listed by your workplace was <a href="{% url 'products:product' p.slug %}"><strong>{{p}}</strong></a>. Continue adding more products</p>
	</div>
	{% endif %}
	<form id="new_category_form" action="{% url 'products:new_category' %}" method="POST" role="form" enctype="multipart/form-data">
		<input type="hidden" name="new_category_1" value="" autocomplete="off">
		<input type="hidden" name="new_category_2" value="" autocomplete="off">
		<input type="hidden" name="new_category_3" value="" autocomplete="off">
	</form>
	<form id="add_product_form" action="{% url 'products:add_product' %}" method="POST" role="form" enctype="multipart/form-data">
		<div class="well">
			<div class="row">
				<div class="col-sm-10">
					<div style="margin-bottom: 5px;"><strong>Category of the Product</strong></div>
					<div id="selected_category" style="color: #999;">
					{% if c %}
					{% for category in c %}
						<span>{{category.category}}</span>
					{% if not forloop.last %}
						<span class="fa fa-chevron-right inline_fa"></span>
					{% endif %}
					{% endfor %}
					{% else %}
						Select a Category for your Product
					{% endif %}
					</div>
				</div>
				<div class="col-sm-2 text-right">
					<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#add_prod_category">{% if c %}Change{%else %}Select{% endif %}</button>
				</div>
			</div>
			<div id="add_prod_category" class="collapse">
				<input type="hidden" name="category1" value="{{c.0.category.id}}" autocomplete="off">
				<input type="hidden" name="category2" value="{{c.1.category.id}}" autocomplete="off">
				<input type="hidden" name="category3" value="{{c.2.category.id}}" autocomplete="off">
				<div class="row">
					<div class="hidden new_val"></div>
					<div class="form-group">
						<ul class="nav nav-pills nav-stacked col-xs-4">
						{% for t1 in c1_all %}
							<li>
								<a class="select_btn" data-name="category1" data-value="{{t1.id}}" data-toggle="pill" href="#category_{{t1.id}}">{{t1}}<span class="fa fa-fw fa-chevron-right"></span></a>
							</li>
						{% endfor %}
						</ul>
						<div class="tab-content col-xs-8">
						{% for t1 in c1_all %}
							<div id="category_{{t1.id}}" class="tab-pane fade">
								<ul class="nav nav-pills nav-stacked col-xs-6">
								{% for t2 in t1.get_sub %}
									<li>
										<a class="select_btn" data-name="category2" data-value="{{t2.id}}" data-toggle="pill" href="#category_{{t2.id}}">{{t2}}<span class="fa fa-fw fa-chevron-right"></span></a>
									</li>
								{% empty %}
									<li>
										<a class="no_sub">{{t1}}<span class="fa fa-fw fa-check"></span></a>
									</li>
								{% endfor %}
									<li>
										<a class="new_category" href="#new_category_{{t1.id}}" data-toggle="collapse">Add a new Category<span class="fa fa-fw fa-plus"></span></a>
									</li>
									<div id="new_category_{{t1.id}}" class="collapse" style="padding: 10px">
										<div class="form-group">
											<input class="form-control" type="text" value="" placeholder="Name of the new category">
										</div>
										<div class="panel info">
											<div class="panel-body bg-warning">
												<span class="fa fa-exclamation-circle"></span> Categories are meant to be generic so that a considerable number of products fall under it. Kindly provide an apt name keeping this in mind and only after none of the pre-existing categories satisfy your needs.
											</div>
										</div>
										<div class="form-group text-center">
											<button type="button" class="btn btn-sm new_category_btn" data-level=2>Add</button>
										</div>
									</div>
								</ul>
								<div class="tab-content col-md-6">
								{% for t2 in t1.get_sub %}
									<div id="category_{{t2.id}}" class="tab-pane fade">
										<ul class="nav nav-pills nav-stacked">
										{% for t3 in t2.get_sub %}
											<li>
												<a class="select_btn no_sub" data-name="category3" data-value="{{t3.id}}">{{t3}}<span class="fa fa-fw fa-check"></span></a>
											</li>
										{% empty %}
											<li>
												<a class="no_sub">{{t2}}<span class="fa fa-fw fa-check"></span></a>
											</li>
										{% endfor %}
											<li>
												<a class="new_category" href="#new_category_{{t2.id}}" data-toggle="collapse">Add a new Category<span class="fa fa-fw fa-plus"></span></a>
											</li>
											<div id="new_category_{{t2.id}}" class="collapse" style="padding: 10px">
												<div class="form-group">
													<input class="form-control" type="text" value="" placeholder="Name of the new category">
												</div>
												<div class="panel info">
													<div class="panel-body bg-warning">
														<span class="fa fa-exclamation-circle"></span> Categories are meant to be generic so that a considerable number of products fall under it. Kindly provide an apt name keeping this in mind and only after none of the pre-existing categories satisfy your needs.
													</div>
												</div>
												<div class="form-group text-center">
													<button type="button" class="btn btn-sm new_category_btn" data-level=3>Add</button>
												</div>
											</div>
										</ul>
									</div>
								{% endfor %}
								</div>
							</div>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	  {% csrf_token %}
		<div id="add_prod_info" class="well">
		  <div class="form-group">
		    <label class="control-label">Name of product</label>
		    <input class="form-control" placeholder="One Product at a time" name="product">
		  </div>
		  <div class="form-group">
		    <label class="control-label">Cost of product</label>
		    <input class="form-control" placeholder="Cost per Unit Eg. Rs20,000 for a pair. or Rs. 2000/month rent" name="cost">
		  </div>
		  <div class="form-group">
		    <label class="control-label">Description of the product</label>
		    <textarea class="form-control" rows="3" placeholder="Tell the details, If Renting, from what time to what time it is available" name="description"></textarea>
		  </div>
		  <div class="form-group">
		    <div class="hide">
		      <span title="Add Image" data-toggle="tooltip" data-placement="left" class='btn btn-default btn-file glyphicon glyphicon-camera input-group-addon seamless_r img_pre_in'>
		        <input id="id_image_0" type="file" name="image0">
		      </span>
		    </div>
		    <span class='btn btn-default btn-file fake_btn' data-btn='#id_image_0'>
		      <span class="fa fa-camera"></span> Add Photo
		    </span>
		  </div>
		  <div class="form-group">
		    <div class="img_pre hide" data-index=0>
		    </div>
		  </div>
		  <div class="form-group text-right">
		  	<button type="button" class="btn btn-primary ajx_form">Submit</button>
	  	</div>
  	</div>
	</form>
	<div id="add_product_form_succModal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-body">
	        <p class="text-success text-center">Product added successfully!</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div id="add_product_form_errModal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-body">
	        <p class="text-danger text-center">Sorry! Something went wrong. Try again later.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% if c1 %}
	<script type="text/javascript">
		$(".select_btn[data-value='{{c1}}']").tab('show').closest('li').addClass('active');
		$(".select_btn[data-value='{{c2}}']").tab('show').closest('li').addClass('active');
		$(".select_btn[data-value='{{c3}}']").closest('li').addClass('active');
		var $no_sub = $('#add_prod_category').find('li.active').find('.no_sub');
		$no_sub.addClass('active_selection').closest('.active').removeClass('active');
	</script>
	{% endif %}
</div>
{% endblock body %}