{% extends "base_new.html" %}

{% load filter %}

{% block title %}Add Products | CoreLogs{% endblock title %}

{% block meta_description %}Add a new product provided by {{workplace}}{% endblock meta_description %}

{% block meta_og_title %}Add Product{% endblock meta_og_title %}
{% block meta_og_description %}Add a new product provided by {{workplace}}{% endblock meta_og_description %}
{% block meta_og_image %}{{workplace.get_logo}}{% endblock meta_og_image %}
{% block meta_og_image_dim %}
  <meta property="og:image:width" content="128">
  <meta property="og:image:height" content="128">
{% endblock meta_og_image_dim %}

{% block page_id %}add_product{% endblock page_id %}

{% block top %}
  {% include "snippets/top_navigation.html" with what='Products' %}
{% endblock top %}

{% block body %}
<div class="menu_left" data-spy="affix" data-offset-top="50">
  <a class="toggle" href="#" data-slide="#all_categories" data-status="open"><span class="fa fa-bars slim_fa"></span></a>
  <nav>
    <ul class="tab_list">
      <li>
        <a href="{% url 'network:network' %}">
          <span class="fa fa-globe"></span>
          Network
        </a>
      </li>
      <li>
        <a href="{% url 'forum:questions' %}">
          <span class="fa fa-lightbulb-o"></span>
          Forum
        </a>
      </li>
      <li>
        <a href="{% url 'nodes:articles' %}">
          <span class="fa fa-newspaper-o"></span>
          Articles
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="flex_block">
  <div class="">
  	<div class="alert alert-info">
  	  <p>
        <strong>Hello {{request.user.userprofile}} !</strong> Add Multiple Products quickly using our super-smooth interafce!
      </p>
      <p>
        <strong>Or</strong> alternatively, use the Spreadsheet Template!
      </p>
      <form action="{% url 'products:add_product' %}" method="post" style="margin: 10px 0 5px">
        <a href="#" class="btn btn-primary btn-sm">Download Template <span class="fa fa-file-excel-o"></span></a>
        <a href="#" class="fake_btn btn btn-success btn-sm pull-right" data-btn="#product_list_file">Upload Completed Sheet <span class="fa fa-upload"></span></a>
      </form>
      <p class="text-right">
        or send a mail to <strong>admin@corelogs.com</strong>
      </p>
      <input id="product_list_file" class="hidden" type="file" name="product_list">
  	</div>
    <h5>Recently Added Products</h5>
    <ul class="product_list_sm list-unstyled">
      {% for product in previous_prods %}
        {% include "products/small_product.html" with product=product %}
        {% if forloop.last %}
          <li class="product_sm text-right">
            <a href="">See More <span class="fa fa-angle-double-right"></span></a>
          </li>
        {% endif %}
      {% empty %}
        <li class="product_sm">
          Your most recently added products will appear here.
        </li>
      {% endfor %}
    </ul>
    {% for i in "12" %}
      {% include "products/add_multi_form.html" with n=forloop.counter %}
    {% endfor %}
    {% include "products/categories_modal.html" %}
  </div>
</div>
{% endblock body %}
