{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<form action="{% url 'products:add_product' %}" method="POST" role="form" enctype="multipart/form-data">
  {% csrf_token %}
  <ul class="nav nav-tabs nav-justified">
	  <li class="active"><a data-toggle="tab" href="#add_prod_category">Select Category</a></li>
	  <li><a data-toggle="tab" href="#add_prod_info">Product Information</a></li>
	  <li><a data-toggle="tab" href="#add_prod_desc">Product Description</a></li>
	  <li><a data-toggle="tab" href="#add_prod_target">Target</a></li>
	</ul>
	<div class="tab-content">
		<div id="add_prod_category" class="tab-pane active fade in">
			<div class="form-group">
				<div class="row">
					<div class="col-xs-4">
						<ul class="nav nav-pills nav-stacked">
							<li><a>Category 1</a></li>
							<li><a>Category 2</a></li>
							<li><a>Category 3</a></li>
							<li><a>Category 4</a></li>
							<li><a>Category 5</a></li>
						</ul>
					</div>
					<div class="col-xs-4"></div>
					<div class="col-xs-4"></div>
				</div>
			</div>
			<div class="form-group">
				<button type="button" class="next_nav btn btn-lg btn-primary">Next</button>
			</div>
		</div>
		<div id="add_prod_info" class="tab-pane fade">
		  <div class="form-group">
		    <label class="control-label">Name of product</label>
		    <input class="form-control" placeholder="One Product at a time" name="product">
		  </div>
		  <div class="form-group">
		    <label class="control-label">Cost of product</label>
		    <input class="form-control" placeholder="Cost per Unit Eg. Rs20,000 for a pair. or Rs. 2000/month rent" name="cost">
		  </div>
		  <div class="form-group">
		    <div class="hide">
		      <span title="Add Image" data-toggle="tooltip" data-placement="left" class='btn btn-default btn-file glyphicon glyphicon-camera input-group-addon seamless_r img_pre_in'>
		        <input id="id_image_0" type="file" name="image0">
		      </span>
		    </div>
		    <span class='btn btn-default btn-file fake_btn' data-btn='#id_image_0'>
		      <span class="fa fa-camera"></span> Add Photo
		    </span>
		  </div>
		  <div class="form-group">
		    <div class="img_pre hide" data-index=0>
		    </div>
		  </div>
		  <div class="form-group">
				<button type="button" class="next_nav btn btn-lg btn-primary">Next</button>
			</div>
	  </div>
		
	  <!-- <div class="form-group">
	    <label class="control-label" for="id_tags">Tags: Categories under which the Product might fall</label>
	    {% include "snippets/d_search_tags.html" with search="tag" type="D" no_create="True" placeholder="Relevent tags help your product reach out to the right market (Add upto 5 tags)" %}
	  </div> -->

	  <div id="add_prod_desc" class="tab-pane fade">
		  <div class="form-group">
		    <label class="control-label">Description of the product</label>
		    <textarea class="form-control" rows="3" placeholder="Tell the details, If Renting, from what time to what time it is available" name="description"></textarea>
		  </div>
		  <div class="form-group">
				<button type="button" class="next_nav btn btn-lg btn-primary">Next</button>
			</div>
	  </div>
	  <div id="add_prod_target" class="tab-pane fade">
		  <div class="form-group">
		    <h4>Select Your Target Customers</h4>
		    <div class="checkbox">
		      <label><input type="checkbox" name="A" value="A">SMEs &amp; Small Businesses</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" name="B" value="B">People in Large Industries</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" name="C" value="C">Baja/ Formula Teams</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" name="O" value="O">College Students</label>
		    </div>
		  </div>
	  	<button class="btn btn-primary form-ajax-filed">Submit</button>
	  </div>
	  <input class="index" name="i" type="hidden" value="0">
  </div>
</form>
{% endblock content %}