{% extends "base.html" %}

{% load staticfiles %}

{% comment %}
{% block head_desc %}
  {% include content_head_url %}
{% endblock head_desc %}
{% endcomment %}

{% block title %}All Categories | CoreLogs{% endblock title %}
{% block meta_description %}Browse all Categories and find Product and Companies manufacturing &amp; selling them{% endblock meta_description %}

{% block body %}
<div class="container">
  <h1 class="text-center">Browse all Categories and find Product and Companies manufacturing &amp; selling them</h1>
  <div class="ajax_andar all_tags">
		{% include 'products/20_categories.html' with result_list=categories %}
		<div class="paginator" data-next_page="2">
			<h5>Loading more content</h5>
			<i class="fa fa-spin fa-circle-o-notch"></i>
		</div>
	</div>
</div>
{% endblock %}
