<nav>
  <ul id="cat_nav" class="nav nav_flex nav_ajax">
    <li>
      <a id="cat_nav_categories" class="ajax_a" data-place="#tag_content" href="{% url 'category' category.slug %}"><span class="fa fa-recycle"></span>Related Categories</a>
    </li>

    <li>
      <a id="cat_nav_products" class="ajax_a" data-place="#tag_content" href="{% url 'category_prod' category.slug %}"><span class="fa fa-cubes"></span>Products</a>
    </li>

    <li>
      <a id="cat_nav_companies" class="ajax_a" data-place="#tag_content" href="{% url 'category_wp' category.slug %}"><span class="fa fa-suitcase"></span>Companies</a>
    </li>
  </ul>
</nav>
