{% extends "base.html" %}

{% load staticfiles %}

{% block head_desc %}
  {% include content_head_url %}
{% endblock head_desc %}

{% block meta_og_url %}http://www.corelogs.com/category/{{category.slug}}/{% endblock %}

{% if category.image %}
  {% block meta_og_image %}{{category.image.image_thumbnail.url}}{% endblock %}
  {% block meta_og_image_dim %}
  <meta property="og:image:width" content="{{category.image.image_thumbnail.width}}">
  <meta property="og:image:height" content="{{category.image.image_thumbnail.height}}">
  {% endblock meta_og_image_dim %}
{% endif %}

{% block body %}
<div class="container-fluid">
  <ul class="breadcrumb container-fluid">
    {% with cats=category.get_cats %}
    <li><a href="{% url 'all_category' %}">All</a></li>
    {% for crumbs in cats.cat_crumbs reversed %}
    <li>
      <div class="dropdown">
        {% if forloop.last %}
        <strong>{{crumbs}}</strong>
        {% else %}
        <a href="{% url 'category' crumbs.slug %}">{{crumbs}}</a>
        {% endif %}
        <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu">
          {% for sib in crumbs.get_siblings %}
          <li><a href="{% url 'category' sib.slug %}">{{sib}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endwith %}
</div>
<div class="container-fluid">
  <div id="info_head" class="info_head">
    <div class="row">
      <div class="col-sm-2">
        <div class="info_logo">
          <div class="img_profile_box">
        		<img id="img_profile" class="thumbnail" width="120" height="120" src="{{category.get_image}}" alt="{{category}}">
        		<a id='img_upload' class="text-center" data-toggle='modal' data-target='#img_upload_modal'>Change Image</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="info_info tile">
          <div class="info_left">
            <header class="info_title">
              <h3 class="text-uppercase" property='name'>{{ category }}</h3>
            </header>
            <p class="text-muted content_tag_desc"></p>
          </div>
          <div class="info_right">
            <h3 class="text-muted"><strong></strong></h3>
            <h3>
              <span class="num">151 Products</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
  	<div class="col-md-8 col-md-offset-2">
      {% include "products/cat_nav_items.html" with category=category %}
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row wp_body">
    <div class="col-md-8 col-md-offset-2">
      {% block workplace_section %}
      <div id="tag_content" class="ajax_papa ajax_andar">
        <div class="loading hide">
          <i class="fa fa-spin fa-spinner"></i>
        </div>
        <div class="content">
          {% include content_url %}
        </div>
      </div>
      {% endblock workplace_section %}
    </div>
  </div>
</div>
{% endblock body %}
