{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Companies Manufacturing &amp; Selling {{category}}{% endblock title %}

{% block meta_description %}Find SMEs supplying Products in Categories {{category}} {% for p in category.get_sub %}{{p}}, {% endfor %}{% endblock meta_description %}

{% block content %}
<div class="panel-body">
	<div class="col-sm-7">
	<h4 class=" text-uppercase">{{ category }}</h4>
	</div>
</div>
<div class="panel-body">
	{% if category.level == '1' %}
	{% elif category.level == '2' %}
	{% for a in category.get_parent_cat %}
	<a href="{% url 'products:category' a.slug %}">{{a}}</a>
	{% endfor %}
	{% elif category.level == '3' %}
	{% for a in category.get_parent_cat %}
	{% for b in a.get_parent_cat %}
	<a href="{% url 'products:category' b.slug %}">{{b}}</a>
	{% endfor %}
	<a href="{% url 'products:category' a.slug %}">{{a}}</a>
	{% endfor %}
	{% endif %}
</div>

<div class="row">
      {% for w in workplaces %}
        <div class="col-md-6">
          {% include "snippets/workplace_card.html" with w=w %}
        </div>
        {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
      {% endfor %}
    </div>

{% endblock content %}
