{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap %}

{% block title %}Products related to {{category}}{% endblock title %}

{% block meta_description %}Find products related to {{category}} {% for p in category.get_sub %}{{p}}, {% endfor %}{% endblock meta_description %}

{% block content %}
<div class="panel-body">
	<div class="col-sm-7">
	<h4 class=" text-uppercase">{{ category }}</h4>
	</div>
</div>
<div class="panel-body">
	{% if category.level == '1' %}

	{% elif category.level == '2' %}
	{% for a in category.get_parent_cat %}
	<li><a href="{% url 'products:category' a.slug %}">{{a}}</a></li>
	{% endfor %}
	{% elif category.level == '3' %}
	{% for a in category.get_parent_cat %}
	{% for b in a.get_parent_cat %}
	<li><a href="{% url 'products:category' b.slug %}">{{b}}</a><li>
	{% endfor %}
	<li><a href="{% url 'products:category' a.slug %}">{{a}}</a><li>
	{% endfor %}
	{% endif %}
</div>
{% include 'products/20_categories.html' with result_list=category.get_sub %}
	<ul id="products_list" class="products_list">
	<div class="clearfix"></div>
{% for product in products %}
	{% include "products/one_product.html" with product=product %}
	{% if forloop.counter|divisibleby:2 %}
	<div class="clearfix"></div>
	{% endif %}
{% endfor %}
</ul>
{% endblock content %}