{% extends "base.html" %}

{% block title %}{{product}} | CoreLogs{% endblock title %}

{% block meta_description %}{{ product.description }}{% endblock meta_description %}

{% block content %}
  {% include "snippets/img_upload_modal.html" with url='products:change_image' url_slug=product.id form=prod_img_form.image %}
  <div class="row info_head" typeof='Organization' resource='#workplace'>
    <div class="col-sm-8 info_left">
      <h1 id="wp_name" class="info_title text-uppercase" property='name'>{{ product }}</h1>
      <div class="info_field ajax_andar ajax_papa" property='location' typeof='PostalAddress'>
        <div class="info_field_value" property='addressRegion'>
          {% for tag in tags %}
            <a href="{% url 'tags:get_tag' tag.slug %}" class="tag">{{tag}}</a>
          {% empty %}
            <span class="none text-muted">Add Product tags for categorization</span>
          {% endfor %}
        </div>
        {% if user == product.user %}
        <div class="info_field_edit">
          <a class="show_edit"><i class="fa fa-wrench inline_fa"></i></a>
          <form class="edit_{{category}} d_edit hide" action="{% url 'products:set_tags_short' product.slug %}" method="POST" role="form">
            {% csrf_token %}
            {% include "snippets/d_search_tags.html" with search="tag" type="D" placeholder="Add upto 5 tags" %}
          </form>
          <a class="done_edit hide"><i class="fa fa-check-square fa-2x inline_fa"></i></a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="info_labels">
	  <a href="{% url 'workplace:workplace_profile' product.producer.slug %}" class="tag"><span class="value">{{product.producer}}</span></a>
      </div>
      <div class="info_labels">
        <a href="{% url 'user:profile' product.producer.slug %}" class="tag"><span class="value">{{product.user.username}}</span></a>
      </div>
    </div>
  </div>
  <div class="prod_img">
    <img src="{{product.get_image}}" alt="CoreLogs-{{ product }}-{{product.producer}}">
    {% if user == product.user %}
    <a class="text-center" data-toggle='modal' data-target='#img_upload_modal'><i class="fa fa-wrench inline_fa"></i>Change Image</a>
    {% endif %}
  </div>
  <div class="panel panel-default ajax_andar ajax_papa">
    <div class="panel-heading">
      <h3 class="text-muted detail_head">
        Product Description
        {% if request.user == product.user %}
        <form id="prod_desc_form" class="pull-right" action="{% url 'products:edit_desc' product.id %}" method="POST">
          <button data-content="capabilities_w" data-save='' class="btn btn-default btn-xs detail_edit pull-right" name="">Edit</button>
        </form>
        {% endif %}
      </h3>
    </div>
    <div class="panel-body">
      <p class="detail_body content_capabilities_w">{{ product.description }}</p>
      <textarea name="description" form="prod_desc_form" rows="3" class="form-control edit_capabilities hide"></textarea>
    </div>
  </div>
  <h3 class="text-muted text-center">
	{% if request.user.userprofile in members %}
	<a data-toggle='modal' data-target='#prod_modal'><i class="fa fa-opencart inline_fa"></i>Add More Products</a>
	{% endif %}
</h3>
{% include "products/new_modal.html" %}
  
{% endblock %}

{% block right %}
	<div class="side_show">
		<div class="ajax_load" data-url="{% url 'products:random' %}"></div>
  </div>
{% endblock right %}