<li class="">
	<div class="product">
		<div class="image">
			<img class="thmb_lg lazy_img call_car pressme" src="/images/product.png" data-src="{{product.get_image}}" alt="{{product}}"  data-toggle='modal' data-target='#figure_modal'>
		</div>
		<div class="details">
			<h4 class="product_name"><a href="{% url 'products:product' product.slug %}">{{ product }}</a></h4>
			<p class="product_desc">{{ product.description |truncatewords_html:10|default:"No description available"}}</p>
			<p class="by pull-right">
				by <a href="{% url 'workplace:workplace_profile' product.producer.slug %}">{{product.producer}}</a>
			</p>
			<p class="pull-right">
				{% if product.cost %}
				<span class="fa fa-inr"></span> {{product.cost}}
				{% else %}
				Price unavailable
				{% endif %}
			</p>
			<p class="pull-right status">
				<span class="label label-success">{{product.get_status}}</span>
			</p>
		</div>
	</div>
</li>