{% extends "base.html" %}

{% load filter %}

{% load staticfiles %}

{% block head_css %}
  <link rel="stylesheet" href={% static 'css/form_card.css' %}>
{% endblock head_css %}

{% block title %}{{product}} | CoreLogs{% endblock title %}

{% block meta_description %}{{ product.description }}{% endblock meta_description %}

{% block page_id %}product{% endblock page_id %}

{% block body %}
  <div class="container">
    <div class="prod_categories">
      <span class="fa fa-cubes prod_category"></span>
    {% for c in categories %}
      <span class="prod_category">{{c}}</span>
    {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-9">
        {% include "snippets/figure_modal.html" %}
        {% if user in members %}
        <div class="text-right edit_in">
          <a href="{% url 'products:edit_add' product.id %}"><span class="fa fa-pencil"></span> Edit</a>
        </div>
        {% endif %}
        <div class="prod_details">
          <div class="row">
            <div class="prod_img col-sm-5">
              <img src="/images/product.png" data-src="{{product.get_image}}" alt="{{ product }}-{{product.producer}}" class="lazy_img call_car pressme" data-toggle='modal' data-target="#figure_modal">
            </div>
            <div id="details_prod" class="col-sm-7">
              <div class="info_head">
                <header class="info_title">
                  <h2 class="text-uppercase" property='name'>{{ product }}</h2>
                  <div class="text-muted ">provided by <a href="{% url 'workplace:workplace_profile' product.producer.slug %}">{{product.producer}}</a></div>
                </header>
                {% if product.get_type %}
                <div class="label label-primary product_type">{{product.get_type}}</div>
                {% endif %}
                <div class="product_cost"><span class="fa fa-inr"></span> {{product.cost|default:"Get price on Inquiry"}}</div>
              </div>
              <div class="product_desc">
                <div class="title">Product Description</div>
                <p class="data">{{product.description|default:"Description Not Available"}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="prod_extra tile">
          <h3>Delivery Details</h3>
          {% if product.delivery_details %}
          <div class="product_desc">
            <p class="data">{{product.delivery_details}}</p>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-sm-6">
              <div class="product_desc">
                <div class="title">Delivery Charges</div>
                <p class="data">{{product.delivery_charges|default:"On Inquiry"}}</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="product_desc">
                <div class="title">Minimum Order</div>
                <p class="data">{{product.minimum|default:"On Inquiry"}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="prod_action bg-info">
          {% if request.user.userprofile in members %}
            <p>
              {{inq|default:"0"}} Inquiries
            </p>
            <a class="btn btn-lg btn-success" href="{% url 'inbox:inbox' %}"><i class="fa fa-inbox"></i> Goto Inbox</a>
          {% else %}
          <p class="text-success">
            <strong>Interested in the Product?</strong><br>
            Get in touch with the supplier...
          </p>
          <form action="{% url 'products:enquire' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <textarea class="form-control" name="message" rows="3" placeholder="Enter your inquiry here..."></textarea>
            </div>
            {% if user.is_authenticated %}
              {% if not user.userprofile.mobile_contact %}
              <div class="form-group">
                <input class="form-control" name="phone" value="" placeholder="Contact Number">
              </div>
              {% endif %}
            {% else %}
              <div class="form-group">
                <input class="form-control" name="name" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input class="form-control" name="company" placeholder="Your Company Name">
              </div>
              <div class="form-group">
                <input class="form-control" name="email" type="email" value="" placeholder="Email Id">
              </div>
            {% endif %}
            <button class="btn btn-lg btn-success ajx_form"><i class="fa fa-send-o"></i> Send Enquiry</button>
            <span class="btn btn-lg btn-success ajx_form_done hide"><i class="fa fa-check"></i> Enquiry Sent</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="more_products row">
      <a class="col-xs-3 text-left" {% if previous %} href="{% url 'products:product' previous.slug %}" {% endif %}><span class="fa fa-chevron-left inline_fa"></span>Previous</a>
      <h3 class="text-muted col-xs-6 text-center">More Products from <a href="{% url 'workplace:workplace_profile' product.producer.slug %}">{{product.producer}}</a></h3>
      <a class="col-xs-3 text-right" {% if next %} href="{% url 'products:product' next.slug %}" {% endif %}>Next<span class="fa fa-chevron-right inline_fa"></span></a>
    </div>
  </div>
{% endblock body %}
