{% extends "products/add_multi.html" %}

{% block add_prod_body %}
<div class="flex_block">
  <div class="">
  	<div class="alert alert-info">
  	  <p>
        <strong>Hello {{request.user.userprofile}} !</strong> Add Multiple Products quickly using our super-smooth interafce!
      </p>
      <p>
        <strong> Use the Spreadsheet Template!</strong>
      </p>
      <form action="{% url 'products:add_products_file' %}" method="post" style="margin: 10px 0 5px">
        <a href="/docs/docs/product_upload_template.xlsm" class="btn btn-primary btn-sm" download target="_blank">Download Template <span class="fa fa-file-excel-o"></span></a>

        <a href="#" class="fake_btn btn btn-success btn-sm pull-right" data-btn="#product_list_file">Upload Completed Sheet <span class="fa fa-upload"></span></a>
        <input id="product_list_file" class="hidden up_file" type="file" name="product_list">
      </form>
      <p class="text-right">
        or send a mail to <strong>admin@corelogs.com</strong>
      </p>
  	</div>
  </div>
</div>
{% endblock %}
