{% extends "base.html" %}

{% load index %}

{% block title %}Marketpkace | CoreLogs{% endblock title %}

{% block meta_description %}Marketplace{% endblock meta_description %}

{% block page_id %}marketplace{% endblock page_id %}

{% block body %}

	<div class="container">
		<h1 class="text-center page-header">Popular categories</h1>
	  <div class="row">
	  	<div class="col-sm-4">
	  		<a href="/products/home?q=A" class="box" style="background-image: url(/images/cover_sme.jpg);">
	  			<h3>SAE Teams Related Items</h3>
	  			<div class="details">
		    		<p>From components used in manufacturing to Safety Equipment and Racing Accessories. That Even from Various suppliers. Choose the one best for you.</p>
	    		</div>
  			</a>
	  	</div>
	  	<div class="col-sm-4">
	  		<a href="/products/home?q=C" class="box" style="background-image: url(/images/cover_team.jpg);">
	  			<h3>Manufactured by SMEs</h3>
	  			<div class="details">
		    		<p>From components used in manufacturing to Safety Equipment and Racing Accessories. That Even from Various suppliers. Choose the one best for you.</p>
	    		</div>
  			</a>
	  	</div>
	  	<div class="col-sm-4">
	  		<a href="/products/home?q=N" class="box" style="background-image: url(/images/cover_lsi.jpg);">
	  			<h3>Newly Added</h3>
	  			<div class="details">
		    		<p>Fresh from the factory, browse among hundreds of products newly added on the website.</p>
	    		</div>
  			</a>
	  	</div>
	  	<div class="col-sm-4">
	  		<a href="/products/home?q=B" class="box" style="background-image: url(/images/cover_drill_big.jpg);">
	  			<h3>RC Cars &amp; Components</h3>
	  			<div class="details">
		    		<p>Build RC Cars from these components.</p>
	    		</div>
  			</a>
	  	</div>
	  	<div class="col-sm-4">
	  		<a href="/products/home?q=D" class="box" style="background-image: url(/images/cover_sme.jpg);">
	  			<h3>Electronics Items</h3>
	  			<div class="details">
		    		<p>From components used in manufacturing to Safety Equipment and Racing Accessories. That Even from Various suppliers. Choose the one best for you.</p>
	    		</div>
  			</a>
	  	</div>
	  	<div class="col-sm-4">
	  		<a href="/products/home?q=E" class="box" style="background-image: url(/images/cover_sme.jpg);">
	  			<h3>Engineering &amp; Industrial Services</h3>
	  			<div class="details">
		    		<p>From components used in manufacturing to Safety Equipment and Racing Accessories. That Even from Various suppliers. Choose the one best for you.</p>
	    		</div>
  			</a>
	  	</div>
	  </div>
	</div>

	<script type="text/javascript">
		$('.box').on({
			mouseenter: function(){
				$(this).find('h3').animate({'line-height':'35px'});
				$(this).find('.details').animate({'opacity':'1'});
			},
			mouseleave: function(){
				$(this).find('h3').animate({'line-height':'110%'});
				$(this).find('.details').animate({'opacity':'0'});
			}
		});
	</script>
	
	<script type="text/javascript">
		$('#top_nav_marketplace').addClass('current');
	</script>

{% endblock %}