{% extends "base.html" %}

{% load index %}

{% block title %}Marketpkace | CoreLogs{% endblock title %}

{% block meta_description %}Marketplace{% endblock meta_description %}

{% block page_id %}marketplace{% endblock page_id %}

{% block body %}
	<nav class="container">
		<ul id="marketplace_top" class="nav drop_nav">
			<li class="dropdown l1">
				<a href="/marketplace?q=C" class="">SAE Teams</a>
				<a class="dropdown-toggle"><span class="fa fa-arrow-down"></span></a>
		    <ul id="market_sae" class="dropdown-menu">
		    {% for t1 in tags %}
		    	<span class="l2 panel">
		    		<a href="/marketplace?q=C&t={{t1.id}}">{{t1}}</a>
		    		<a href="#l2_collapse_{{forloop.counter0}}" data-toggle="collapse" data-parent="#market_sae"><span class="fa fa-arrow-circle-down ninline_fa"></span></a>
		    		<div id="l2_collapse_{{forloop.counter0}}" class="collapse">
		    		{% for t2 in tags2|index:forloop.counter0 %}
			    		<a href="/marketplace?q=C&t={{t1.id}}&q3={{t2.id}}">{{t2}}</a>
		    		{% endfor %}
		    		</div>
	    		</span>
		    {% endfor %}
	    	</ul>
			</li>
		  <li class="dropdown l1">
	  		<a href="/marketplace?q=B">SMEs</a><a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-arrow-down"></span></a>
		    <ul class="dropdown-menu">
	    	</ul>
  		</li>
		</ul>
	</nav>
	
	<div class="container">
	  <ul id="products_list" class="products_list ajax_andar">
			{% include 'marketplace/20_products.html' with result_list=result_list %}
			<div class="paginator" data-next_page="2">
				<h5>Loading more content</h5>
				<i class="fa fa-spin fa-circle-o-notch"></i>
			</div>
		</ul>
		{% include "enquiry/new_auth_modal.html" %}
		{% include "snippets/figure_modal.html" %}
	</div>

	<script type="text/javascript">
		$('.l1').on('click', '.dropdown-toggle', function(event){
			console.log('clickedd');
			//event.stopPropagation();
			$(this).closest('.dropdown').addClass('open');
		});
		$('body').on('click', function (e) {
	    if (!$('li.dropdown.l1').is(e.target) && $('li.dropdown.l1').has(e.target).length === 0 && $('.open').has(e.target).length === 0) {
	        $('li.dropdown.l1').removeClass('open');
	    }
		});
	</script>
	<script type="text/javascript">
		$('#top_nav_marketplace').addClass('current');
	</script>

{% endblock %}