{% if index %}
	{% if index|divisibleby:4 %}
	<div class="clearfix"></div>
	{% endif %}
{% endif %}
<li class="col-xs-6">
	<div class="product">
		<div class="image">
			<img class="thmb_lg" src="{{product.get_image}}" alt="{{product}}">
		</div>
		<div class="details">
			<div class="product_name"><a href="{% url 'products:product' product.slug %}">{{ product }}</a></div>
			<div class="product_desc">{{ product.description |truncatewords_html:10}}</div>
			<div class="product_tags tags">
				{% include "snippets/tags.html" with tags=product.get_tags %}
			</div>
		</div>
	</div>
</li>