<li class="col-xs-6 col-sm-3">
	<div class="product">
		<div class="image">
			<img class="thmb_lg lazy_img" src="/images/product.png" data-src="{{product.get_image}}" alt="{{product}}">
		</div>
		<div class="details">
			<div class="product_name"><a href="{% url 'products:product' product.slug %}">{{ product }}</a></div>
			<div class="product_desc">{{ product.description |truncatewords_html:10}}</div>
			{{product.cost}}
			<button class="btn_alt" data-toggle='modal' data-target='#enquiry_modal'><i class="fa fa-plus-circle inline_fa"></i>Send an Enquiry</button>
		</div>
	</div>
</li>
{% include "enquiry/new_auth_modal.html" %}