<form id="add_lead_form" class="" role="form" action="{% url 'leads:edit_add' 'new' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="lead_title">What is Your Requirement</label>
    <input id="lead_title" name="lead" data-response="leadCreated" value="{{lead}}" placeholder="Provide a title for the Lead" required>
  </div>
  <div class="form-group">
    <label for="lead_description">A Brief Description, specifications, Quantity required</label>
    <textarea class="textarea_lg count_field" id="lead_description" name="description" placeholder="A Brief Description, How Much, Quantity, Quality Requirements, Any details" maxlength="1000">{{lead.description|default:''}}</textarea>
    <span class="char_count">1000</span>
  </div>
  <!-- <div class="form-group">
    <label>Availability</label>
    <select>
      <option selected="selected">5-15 hrs per week</option>
      <option>15-30 hrs per week</option>
      <option>30-40 hrs per week</option>
    </select>
  </div> -->
  <div class="form-group">
    <label for="lead_type">Is it a Product or Service that you need</label>
    <div id="lead_type" class="radio_group">
      <label class="radio-inline"><input type="radio" value='A' name="lead_type">Product</label>
      <label class="radio-inline"><input type="radio" value='B' name="lead_type">Service</label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="lead_location">Which City the Requirement is in?</label>
        {% include "snippets/d_search_tags.html" with search="tag" type='C' tags=user.userprofile.get_city name='city' placeholder='Type the name of the City or Industrial area & select from dropdown' %}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="lead_location">Key Words for right Categorization</label>
        {% include "snippets/d_search_tags.html" with search="tag" tags=user.userprofile.get_no_city name='other' placeholder='Type the name of the City or Industrial area & select from dropdown' %}

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <div class="image_box">
          <div class="img_pre">
            {% if lead.get_image %}
            <img id="lead_image" class="img_pre" src="{{lead.get_image}}" alt="{{lead}}">
            {% else %}
            <a class="fake_btn" data-btn="#lead_image_btn"><span class="fa fa-plus"></span><span>Add Image</span></a>
            {% endif %}
          </div>
          <a class="fake_btn hover_btn" data-btn="#lead_image_btn"><span class="fa fa-plus"></span><span>Change Image</span></a>
          <input id="lead_image_btn" class="hidden" type="file" name="photo" value="" placeholder="">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <div class="image_box">
          <div class="img_pre">
            {% if lead.doc %}
            <img id="lead_doc" class="img_pre" src="{{lead.get_image}}" alt="{{lead}}">
            {% else %}
            <a class="fake_btn" data-btn="#lead_doc_btn"><span class="fa fa-plus"></span><span>Add Specifications File (optional)</span></a>
            {% endif %}
          </div>
          <a class="fake_btn hover_btn" data-btn="#lead_doc_btn"><span class="fa fa-plus"></span><span>Change File</span></a>
          <input id="lead_doc_btn" class="hidden" type="file" name="doc1" value="" placeholder="">
        </div>
      </div>
    </div>
  </div>
  <span class="collapse_h">Contact Details<span class="fa fa-fw fa-angle-down pull-right"></span></span>
  {% if not user.is_authenticated %}
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="lead_user_name">Name</label>
        <input id="lead_user_name" name="user_name" placeholder="Your Full Name" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="lead_user_company">Company</label>
        <input id="lead_user_company" name="user_company" placeholder="Where You Work" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="lead_user_email">Email</label>
        <input id="lead_user_email" name="user_email" placeholder="Email Address to get back to you" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="lead_user_mobile">Contact Number</label>
        <input id="lead_user_mobile" name="user_mobile" placeholder="Contact Number to reach you" required>
      </div>
    </div>
  </div>
  {% else %}
  <div id="lead_anonymous" class="radio_group">
    <label class="checkbox-inline"><input type="checkbox" value='false' name="anonymous1">Show your Contact Details</label>
  </div>
  {% endif %}
  <div class="col-submit">
    <button class="submitbtn">Create</button>
  </div>
</form>
{% if first_time %}
  {% include "leads/first_time_modal.html" %}
  <script type="text/javascript">
    $(function(){
      $('#intro_modal').modal();
    });
  </script>
{% endif %}
