{% extends "base.html" %}

{% load staticfiles %}
{% load filter %}

{% block head_css %}
  <link rel="stylesheet" href={% static 'css/form_card.css' %}>
{% endblock head_css %}

{% block title %}Add a Lead | CoreLogs{% endblock title %}

{% block meta_description %}Add a business lead by {{workplace}}{% endblock meta_description %}

{% block meta_og_title %}Add a Lead{% endblock meta_og_title %}
{% block meta_og_description %}Add a business lead by {{workplace}}{% endblock meta_og_description %}
{% block meta_og_image %}{{workplace.get_logo}}{% endblock meta_og_image %}
{% block meta_og_image_dim %}
  <meta property="og:image:width" content="128">
  <meta property="og:image:height" content="128">
{% endblock meta_og_image_dim %}

{% block page_id %}add_lead{% endblock page_id %}

{% block top %}
  {% include "snippets/top_navigation.html" with what='Products' %}
{% endblock top %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <form id="add_lead_form" class="form_card auto_form" role="form" {% if not lead %} action="{% url 'leads:edit_add' 'new' %}" {% else %} action="{% url 'leads:edit_add' lead.slug %}" {% endif %} method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <span class="saving original hide">Saving ...<span class="fa fa-fw fa-spin fa-cog"></span></span>
          <div class="form-group">
            <label for="lead_title">Title</label>
            <input id="lead_title" name="lead" data-response="leadCreated" value="{{lead}}" placeholder="Provide a title for the Lead">
          </div>
          <div class="form-group">
            <label for="lead_description">Description</label>
            <textarea class="textarea_lg count_field" value="{{description}}" id="lead_description" name="description" placeholder="A Brief Descriptio of the Lead" maxlength="1000">{{lead.description|default:''}}</textarea>
            <span class="char_count">1000</span>
          </div>
          <!-- <div class="form-group">
            <label>Availability</label>
            <select>
              <option selected="selected">5-15 hrs per week</option>
              <option>15-30 hrs per week</option>
              <option>30-40 hrs per week</option>
            </select>
          </div> -->
          <div class="form-group">
            <label for="lead_type">Type of Lead</label>
            <div id="lead_type" class="radio_group">
              <label class="radio-inline"><input type="radio" value='A' name="lead_type">Product</label>
              <label class="radio-inline"><input type="radio" value='B' name="lead_type">Service</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" data-del="{% url 'leads:delete_tag' lead.id %}">
                <label for="lead_location">Tag Cities</label>
                {% include "snippets/d_search_tags.html" with search="tag" type='C' tags=lead.get_tags name='city' ajax_del='True' placeholder='Type the name of the City or Industrial area & select from dropdown' %}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="lead_location">Other Tags</label>
                {% include "snippets/d_search_tags.html" with search="tag" tags=lead.get_tags.city name='city' placeholder='Type the name of the City or Industrial area & select from dropdown' %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="image_box">
                  <div class="img_pre">
                    {% if lead.get_image %}
                    <img id="lead_image" class="img_pre" src="{{lead.get_image}}" alt="{{lead}}">
                    {% else %}
                    <a class="fake_btn" data-btn="#lead_image_btn"><span class="fa fa-plus"></span><span>Add Image</span></a>
                    {% endif %}
                  </div>
                  <a class="fake_btn hover_btn" data-btn="#lead_image_btn"><span class="fa fa-plus"></span><span>Change Image</span></a>
                  <input id="lead_image_btn" class="hidden" type="file" name="photo" value="" placeholder="">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="image_box">
                  <div class="img_pre">
                    {% if lead.doc %}
                    <img id="lead_doc" class="img_pre" src="{{lead.get_image}}" alt="{{lead}}">
                    {% else %}
                    <a class="fake_btn" data-btn="#lead_doc_btn"><span class="fa fa-plus"></span><span>Add Specifications File (optional)</span></a>
                    {% endif %}
                  </div>
                  <a class="fake_btn hover_btn" data-btn="#lead_doc_btn"><span class="fa fa-plus"></span><span>Change File</span></a>
                  <input id="lead_doc_btn" class="hidden" type="file" name="doc" value="" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="lead_anonymous">Contact Details</label>
            <div id="lead_anonymous" class="radio_group">
              <label class="checkbox-inline"><input type="checkbox" value='false' name="anonymous" {% if not lead.anonymous %}checked{% endif %}>Show your Contact Details</label>
            </div>
          </div>
          <div class="col-submit">
            <a class="submitbtn" href="{% url 'leads:leads' %}">Submit Lead</a>
          </div>
        </form>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('#top_nav_leads').addClass('current');
  </script>
{% endblock body %}