{% extends "base.html" %}

{% load staticfiles %}

{% block head_css %}
  <link rel="stylesheet" href={% static 'css/form_card.css' %}>
  <link rel="stylesheet" href={% static 'css/switchery.css' %}>
{% endblock head_css %}


{% block meta_og_title %}{{ lead }}{% endblock %}
{% block meta_og_url %}http://www.corelogs.com{{ request.path }}{% endblock %}
{% block meta_og_type %}website{% endblock meta_og_type %}
{% for image in lead.get_images %}
	{% block meta_og_image %}/images/{{image.image}}{% endblock %}
{% endfor %}

{% load filter %}

{% block title %}{{ lead }}{% endblock title %}

{% block meta_description %}{{ lead.description|truncatewords:25 }}{% endblock meta_description %}

{% block page_id %}lead_pg{% endblock page_id %}

{% block body %}
<div class="container">
  <div class="wide_80">
    {% if request.user == lead.user %}
    <div class="form_card_edit">
      <a href="{% url 'leads:edit_add' lead.slug %}"><span class="fa fa-pencil inline_fa"></span>&nbsp;Edit Your Requirements</a>
    </div>
    {% endif %}    
  	<div class="form_card tile_flat">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-9">
            <h1 class="data">{{lead}}</h1>
            <p class="text-muted">
              {% if lead.lead_type == 'A' %}
                ( A Product Requirement )
              {% else %}
                ( A Service Requirement )
              {% endif %}
            </p>
          </div>
          <div class="col-sm-3">
            <div class="switch_open" data-status="{% if not lead.status %}closed{% endif %}">
              {% if request.user == lead.user %}
              <form class="auto_form" method="POST" action="{% url 'leads:close' lead.id %}">
                <input type="checkbox" class="js-switch" {% if lead.status %}checked{% endif %}>
              </form>
              {% else %}
              <form action="">
                <input type="checkbox" class="js-switch" {% if lead.status %}checked{% endif %} disabled>
              </form>
              {% endif %}
              <span class="text opened hide text-muted">( Open for Quotations )</span>
              <span class="text closed hide text-danger">( Closed for Quotations )</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="data_title">Description</div>
        <p class="data">{{lead.description|default:'Not Provided'}}</p>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="data_title">Locations</div>
            {% if lead.get_tags %}
            <div class="tags">
              <span class="fa fa-tags fa-fw"></span>
              {% for tag in lead.get_tags %}
                <a href="{% url 'tags:get_tag' tag.slug %}" class="tag" title="{{tag.description}}" data-toggle="tooltip" data-placement="bottom">{{tag}}</a>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="data_title">Related Tags</div>
            {% if lead.get_tags %}
            <div class="tags">
              <span class="fa fa-tags fa-fw"></span>
              {% for tag in lead.get_tags %}
                <a href="{% url 'tags:get_tag' tag.slug %}" class="tag" title="{{tag.description}}" data-toggle="tooltip" data-placement="bottom">{{tag}}</a>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% if request.user.userprofile.primary_workplace != lead.user.userprofile.primary_workplace %}
      <div class="col-submit">
        <a class="submitbtn scrollto" href="#quotation_form">Respond to the Lead</a>
      </div>
      {% endif %}
  	</div>
    <h2 class="text-center mid_head">{{lead.responses}} Quotations Recieved</h2>
    {% if show_all %}
      {% for reply in replies %}
        {% include 'leads/one_reply.html' with reply=reply %}
      {% empty %}
        <h3>No quotations recieved till now</h3>
      {% endfor %}
    {% elif show_one %}
      {% for reply in user_reply %}
        <div class="form_card_edit">
          <a class="ajax_a" data-place="#quot_details" href="{% url 'leads:pre_edit_reply' reply.id %}"><span class="fa fa-pencil inline_fa"></span>&nbsp;Edit Your Quotation</a>
        </div>
        {% include "leads/one_reply.html" with reply=reply %}
      {% endfor %}
    {% else %}
      <h3 class="text-center text-muted">Respond to the Requirement with your own Quotation NOW!</h3>
      {% include "leads/quotation_form.html"%}
    {% endif %}
  </div>
</div>


<script type="text/javascript" src={% static 'js/switchery.js' %}></script>
<script type="text/javascript">
  var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
  elems.forEach(function(html) {
    var switchery = new Switchery(html, { disabledOpacity: 0.8, secondaryColor: '#bd6463' });
  });
  var status = $('.switch_open').attr('data-status');
  if (status == 'closed'){
    $('.switch_open').find('.closed').removeClass('hide');
  } else {
    $('.switch_open').find('.opened').removeClass('hide');
  }
  $('.switch_open').on('change','input',function(){
    console.log('changeing');
    var status = $(this).closest('.switch_open').attr('data-status');
    if (status == 'closed'){
      $('.switch_open').attr('data-status','');
      $('.switch_open').find('.closed').addClass('hide');
      $('.switch_open').find('.opened').removeClass('hide');
    } else {
      $('.switch_open').attr('data-status','closed');
      $('.switch_open').find('.opened').addClass('hide');
      $('.switch_open').find('.closed').removeClass('hide');
    }
  });
</script>

{% endblock body %}