<div class="feed_box summary blead ajax_papa">
	<div class="feed_box_body">
		<a href="{% url 'leads:lead' lead.slug %}">
			<div class="summary_title">
				<span>{{ lead.lead|capfirst|truncatewords:15 }}</span>
				<span class="status_dot {% if not lead.status %}closed{% endif %} sign"></span>
			</div>
		</a>
		<div class="summary_body">{{ lead.description|truncatechars_html:200|safe }}</div>
		<div class="author">
			<time property='dateCreated' class="text-muted">{{lead.date}}</time>
		</div>
		{% if lead.get_tags %}
		<div class="tags">
			<span class="fa fa-tags fa-fw"></span>
			{% for tag in lead.get_tags %}
				<a href="{% url 'tags:get_tag' tag.slug %}" class="tag" title="{{tag.description}}" data-toggle="tooltip" data-placement="bottom">{{tag}}</a>
			{% endfor %}
		</div>
		{% endif %}
	</div>
	<div class="feed_box_extra">
		<div class="interaction">
			<span>{{lead.seen_by}} Views</span>
			<span class="pull-right">{{lead.responses}} Quotations</span>
		</div>
	</div>
</div>