<div class="tile">
	<div class="row">
      <div class="col-md-2">
        {{reply.price}}
      </div>
      <div class="col-md-2">
        {{reply.taxes}}
      </div>
      <div class="col-md-2">
        {{reply.deliery_charges}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        {{reply.time_to_deliver}}
      </div>
      <div class="col-md-4">
        {{reply.payment_terms}}
      </div>
    </div>
    <div class="row">
      {{reply.quality_assurance}}
    </div>
    <div class="row">
      {{reply.message}}
    </div>
</div>