<div class="form_card">
  {% if not nohead %}
  <div class="form-group">
    <div class="joint_name_new">
      <img src="{{reply.workplace.get_logo}}" alt="{{reply.workplace}}">
      <div class="names">
        <a class="name" href="{% url 'workplace:workplace_profile' reply.workplace %}">{{ reply.workplace }}</a>
        <div class="extra">
          submitted by <a class="name" href="{% url 'user:profile' reply.user.username %}">{{ reply.user.get_full_name|default:user }}</a>
          <span class="pull-right">{{reply.date}}</span>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div id="quot_details_{{forloop.counter}}">
    <div class="loading hide">
      <i class="fa fa-spin fa-spinner"></i>
    </div>
    <div class="content">
      {% include "leads/one_reply_own.html" %}
      <div class="col-submit">
        <a class="submitbtn ajax_a msg_a alt_a" {% if reply.selected %} data-msg=".msg_alt" data-msgalt=".msg" data-alt="Accept Quotation" {% else %} data-msg=".msg" data-msgalt=".msg_alt" data-alt="Reject Quotation" {% endif %} href="{% url 'leads:accept_reply' reply.id %}">{% if reply.selected %}Reject Quotation{% else %}Accept Quotation{% endif %}</a>
        <div class="msg {% if not reply.selected %}hide{% endif %} text-success"><span class="fa fa-check inline_fa"></span>Quotation Accepted</div>
        <div class="msg_alt hide text-danger"><span class="fa fa-remove inline_fa"></span>Quotation Rejected</div>
      </div>
    </div>
  </div>
</div>
