<div id="quotation_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <form id="quotation_form" class="form_card tile_flat" role="form" action="{% url 'leads:send_quotation' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="e_id" value="{{enquiry.id}}">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="lead_title">Price</label>
        <textarea id="quot_price" name="price" placeholder="Your quotation price"></textarea>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="lead_title">Taxes</label>
        <textarea id="quot_taxes" name="taxes" placeholder="If Any"></textarea>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="lead_title">Delivery Charges</label>
        <textarea id="quot_delivery" name="delivery_charges" placeholder="If Any"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="lead_description">Payment Terms</label>
        <textarea class="count_field" id="lead_description" name="payment_terms" placeholder="Terms of Payment" maxlength="1000"></textarea>
        <span class="char_count">1000</span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="lead_description">Time to Deliver</label>
        <textarea id="lead_description" name="time_to_deliver" placeholder="Estimated time to deliver" maxlength="1000"></textarea>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="lead_description">Quality Assurance</label>
    <textarea class="textarea_lg count_field" id="lead_description" name="quality_assurance" placeholder="A short paragraph assuring your quality, to give you an edge over others" maxlength="1000"></textarea>
    <span class="char_count">1000</span>
  </div>
  <div class="form-group">
    <label for="lead_description">Additional Message</label>
    <textarea class="textarea_lg count_field" id="lead_description" name="message" placeholder="Any additional message you want to convey" maxlength="1000"></textarea>
    <span class="char_count">1000</span>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <div class="image_box">
          <div class="img_pre">
            <a class="fake_btn" data-btn="#lead_doc_btn"><span class="fa fa-plus"></span><span>Add Specifications File (optional)</span></a>
          </div>
          <a class="fake_btn hover_btn" data-btn="#lead_doc_btn"><span class="fa fa-plus"></span><span>Change File</span></a>
          <input id="lead_doc_btn" class="hidden" type="file" name="doc21" value="" placeholder="">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <div class="image_box">
          <div class="img_pre">
            <a class="fake_btn" data-btn="#lead_doc_btn"><span class="fa fa-plus"></span><span>Add Specifications File (optional)</span></a>
          </div>
          <a class="fake_btn hover_btn" data-btn="#lead_doc_btn"><span class="fa fa-plus"></span><span>Change File</span></a>
          <input id="lead_doc_btn" class="hidden" type="file" name="doc22" value="" placeholder="">
        </div>
      </div>
    </div>
  </div>
  <div class="col-submit">
    <button class="submitbtn">Submit Quotation</button>
  </div>
</form>
    <!-- Modal end -->
  </div>
</div>
