<nav>
  <ul id="wp_nav" class="left_menu active_li">
    <li class="active">
      <a class="ajax_a" data-place="#wp_content" href="{% url 'workplace:about' workplace.slug %}"><span class="fa fa-info-circle"></span>About</a>
      {% if user.userprofile in members %}
      <div class="prog">
        <span class="progress-text">7 / 10 complete</span>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="7" aria-valuemin="0" aria-valuemax="10" style="width: 70%">
          </div>
        </div>
      </div>
      {% endif %}
    </li>

    {% if type == 'A' %}
    <li>
      <a class="ajax_a" data-place="#wp_content" href="{% url 'workplace:products' workplace.slug %}"><span class="fa fa-cube"></span>Products &amp; Services</a>
    </li>
    {% elif type == 'B' %}
    <li>
      <a class="ajax_a" data-place="#wp_content" href="{% url 'workplace:products' workplace.slug %}"><span class="fa fa-cube"></span>Products &amp; Services</a>
    </li>
    {% elif type == 'C' %}
    <li>
      <a class="ajax_a" data-place="#wp_content" href="{% url 'workplace:products' workplace.slug %}"><span class="fa fa-cube"></span>Products &amp; Cars</a>
    </li>
    {% endif %}

    {% if type == 'C' %}
    <li>
      <a class="ajax_a" data-place="#wp_content" href="{% url 'workplace:capabilities' workplace.slug %}"><span class="fa fa-bullhorn"></span>Events</a>
    </li>
    {% elif type != 'O' %}
    <li>
      <a class="ajax_a" data-place="#wp_content" href="{% url 'workplace:capabilities' workplace.slug %}"><span class="fa fa-bullhorn"></span>Capabilities</a>
    </li>
    {% endif %}

    <li>
      <a class="ajax_a" data-place="#wp_content" href="{% url 'workplace:members' workplace.slug %}"><span class="fa fa-users"></span>People</a>
    </li>    
    <li>
      <a class="ajax_a" data-place="#wp_content" href="{% url 'workplace:dashboard' workplace.slug %}"><span class="fa fa-dashboard"></span>Dashboard</a>
    </li>
  </ul>
</nav>