<nav>
  <ul id="wp_nav" class="nav nav_flex nav_ajax">
    {% if member %}
    <li>
      <a id="wp_nav_dashboard" class="ajax_a" data-place="#wp_content" href="{% url 'workplace:dashboard' workplace.slug %}"><span class="fa inline_fa fa-dashboard"></span>Dashboard</a>
    </li>
    {% endif %}
    <li>
      <a id="wp_nav_about" class="ajax_a" data-place="#wp_content" href="{% url 'workplace:workplace_profile' workplace.slug %}"><span class="fa inline_fa fa-info-circle"></span>About</a>
    </li>
    {% if workplace.workplace_type == 'C' or workplace.workplace_type == 'O' %}
    <li>
      <a id="wp_nav_products" class="ajax_a" data-place="#wp_content" href="{% url 'workplace:products' workplace.slug %}"><span class="fa inline_fa fa-cube"></span>Projects</a>
    </li>
    {% elif type != 'O' %}
    <li>
      <a id="wp_nav_products" class="ajax_a" data-place="#wp_content" href="{% url 'workplace:products' workplace.slug %}"><span class="fa inline_fa fa-cube"></span>Products &amp; Services</a>
    </li>
    {% endif %}
    <li>
      <a id="wp_nav_members" class="ajax_a" data-place="#wp_content" href="{% url 'workplace:members' workplace.slug %}"><span class="fa inline_fa fa-users"></span>People</a>
    </li>
    <li>
      <a id="wp_nav_activity" class="ajax_a" data-place="#wp_content" href="{% url 'workplace:activity' workplace.slug %}"><span class="fa inline_fa fa-rss"></span>Activity</a>
    </li>
    {% if member %}
    <li>
      <a href="{% url 'inbox:inbox' %}"><span class="fa inline_fa fa-dashboard"></span>Inbox</a>
    </li>
    {% endif %}
  </ul>
</nav>
