body {
  background-color: #f9f9f9;
  overflow-x: hidden;
}

ul {
	padding: 0;
}

a:hover, a:focus{
  color: #333;
}

form{
  //margin-bottom: 10px;
}

/* un-bootstrap */

#figure_modal .modal-dialog{
  margin: 0 auto;
}

.valid{
  float: right;
}

.well{
  box-shadow: 0 0 0;
  border-radius: 1px;
}

.form-control{
  border-radius: 1px;
  box-shadow: 0 0 0;
}

.btn{
  border-radius: 1px;
}

.navbar-fixed-top .navbar-collapse{
	max-height: none;
  padding-left: 0;
  padding-right: 0;
}

.navbar-nav > li {
  float: left;
}

@media (max-width: 768px){
  .navbar-collapse .navbar-nav > li {
    float: none;
  }
}

.navbar-brand {
  font-size: 14px;
  font-weight: bold;
}

.navbar-inverse .navbar-brand {
  color: #eee;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand.current,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a.current {
  border-bottom: 2px solid #197;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background-color: #ddd;
}

.navbar{
  margin-bottom: 0;
  border-radius: 0;
}

/* generic styles */

.a_alt:hover {
  text-decoration: none;
}

.a_green:hover {
  text-decoration: none;

  color: #197;
}

.mob_only {
  display: none;
}

.pc_only {
  display: inline-block;
}

@media (max-width: 768px) {
  .mob_only {
    display: inline-block;
  }
  .pc_only {
    display: none;
  }
  .body > .container-fluid > .row {
  	margin-left: -15px;
  	margin-right: -15px;
  }
}


/* top navigation */

.navbar-inverse .navbar-nav > li > .top_info_box {
  color: #aaa;
  font-weight: 500;
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > .top_info_box {
    max-width: 120px;
    max-height: 40px;
    //overflow: hidden;
  }
}

.navbar-inverse .navbar-nav > li > .top_info_box:hover,
.navbar-inverse .top_user_info > li > .top_info_box:focus {
  color: #179;
  background-color: rgba(0,0,0,0.15);
}

.navbar-collapse li {
  text-align: right;
}

.top_info_name {
  display: inline-block;
  height: 20px;
  overflow: hidden;
  font-size: 12px;
}

@media(min-width:768px){
  .top_info_name{
    position: relative;
    top: -2px;
  }
}

.top_user_info .dropdown-menu {
  top: 100%;
}


.top_info_icon{
  float: right;
  
}

.top_info_points{
  //display: block;
  font-size: 9px;

  //padding: 0 1px 0 2px;
  //margin: 0 3px;
  
  position: absolute;
  right: 8px;
  top: 28px;
  color: #4ca;
  line-height: 12px;
}

@media (min-width: 768px) {
  .top_user_info {
		color: #aaa;
  }

  .navbar-inverse .navbar-nav > li > .top_info_box {
    position: relative;

    padding: 2px 10px 2px;
    background-color: rgba(0,0,0,0.09);
    text-align: center;
  }
  
  .top_info_icon{
    float: none;
  }
  
  .top_info_box .fa{
    position: absolute;
    top: 45px;
    left: 0px;
    margin: 0;
    color: #333;
    font-size: 12px;
    width: 100%;
  }
  
  .top_info_points {
    //line-height: 14px;
    //height: 12px;
    margin-right: 0;
    letter-spacing: 1px;

    position: initial;
    vertical-align: middle;
    //top: 4px;
    //left: 0;

    display: inline-block;
    //color: #064;
    //border-bottom: 1px solid #999;
  }

  .top_user_info .wp .top_info_points {

  }

  .top_user_info .usr .top_info_points {

  }
}

.top_user_info .fa{
	/*float: left;*/
}

.top_acc a span {
  padding: 5px 7px;

  border-bottom: 1px solid #197;
}

.top_acc a span:hover {
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 2px;
  padding-left: 2px;

  border-bottom-color: #179;
}

.top_acc .form-group-sm {
	margin-bottom: 10px;
}

.top_acc .form-group-sm .form-control, .top_acc .form-group-sm .btn{
	box-shadow: 0 0 0;
  border-radius: 0;
  width: 100%;
}

.top_acc .dropdown-menu {
  font-size: 12px;
	
	background-color: #fff;
	width: 300px;
  padding: 10px;
}

.top_acc form {
	max-width: 200px;
	margin: auto;
}

.top_acc .social_connect {
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
  border-color: #555;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.top_acc .social_connect img {
  width: 30px;
  height: 30px;
  margin-right: 15px;

  border-radius: 15px;
}

.top_acc .social_connect img:hover {
  box-shadow: 0 0 5px #197;
}

@media (max-width: 767px) {
	.top_acc .open .dropdown-menu {
		color: #ddd;
	}
}

.paginator{
  text-align: center;
  font-size: 20px;
  padding: 5px;
}

#form_ask{
  margin-bottom: 10px;
}

/**.modal { 
    position: fixed; 
    top: 3%; 
    right: 3%; 
    left: 3%; 
    width: auto; 
    margin: 0; 
}
.modal-body { 
    height: 60%; 
}

and in bootstrap.css

.modal-body { 
    max-height: 350px; 
    padding: 15px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
 }**/

.notify_box li {
  margin: 0 7px;
  //margin-left: 20px;
  padding: 10px;
  list-style: none;
  text-align: left;
}

.notify_box li:last-of-type{
  border-bottom: 0;
}

.notify_box .unread li{
  background-color: #eee;
}


@media(max-width:768px){
  .notify_box li{
    text-align: center;
  }
}