.form_eric {
  /*! padding: 40px; */
  margin: auto;
  margin-bottom: 5px;
  font-family: 'Titillium Web', sans-serif;
}

.form_eric .nav-pills {
  /*! text-align: center; */
  list-style: none;
  padding: 0;
  margin: 0 auto 40px auto;
  box-shadow: 0 0 0;
  /*! width: auto; */
  max-width: 430px;
  /*! margin: auto; */
}

.form_eric .nav-pills li{
  /*! display: inline-block; */
  width: 50%;
  max-width: 215px;
  text-align: center;
  margin: auto;
}

.form_eric .nav-pills > li + li{
  margin-left: 0;
}

.form_eric .nav-pills li a {
  border: 1px solid rgba(160, 179, 176, 0.15);
  padding: 8px;
  background: rgba(160, 179, 176, 0.15);
  color: #777;
  font-size: 18px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.form_eric .nav-pills li a:hover {
  border: 1px solid rgba(160, 179, 176, 0.5);
}
.form_eric .nav-pills .active a, .form_eric .nav-pills .active a:focus, .form_eric .nav-pills .active a:active {
  border: 1px solid #07a0c4;
  color: #777;
  background: transparent;
}

.form_eric h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0px;
}

.form_eric label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(7px);
  left: 13px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  color: #999;
  margin-bottom: 0;
}
.form_eric label .req {
  margin: 2px;
  color: #1ab188;
}

.form_eric label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(-25px);
  left: 2px;
  font-size: 14px;
}
.form_eric label.active .req {
  opacity: 0;
}

.form_eric label.highlight {
  color: #333;
}

.form_eric input, .form_eric textarea {
  font-size: 20px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  border: 1px solid #a0b3b0;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
.form_eric input:focus, .form_eric textarea:focus {
  outline: 0;
  border-color: #197;
}

.form_eric textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.form_eric .form-group {
  position: relative;
  margin-bottom: 30px;
  /*! padding-right: 25px; */
}

.form_eric .button {
  display: block;
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 10px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  width: 100%;
}

.form_eric .forgot {
  margin-top: -25px;
  text-align: right;
}          

.form_eric .fa{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 22px;
  color: #ccc;
}

.form_eric .errorlist{
  margin: 7px 0;
  list-style: none;
  color: #a94442;
  padding-left: 10px;
}

.form_eric .s_validate{
  padding-right: 40px;
}

.form_eric .valid input, .form_eric .valid textarea{
  border-color: #5cb85c;
  box-shadow: 0 0 0 1px #5cb85c;
}

.form_eric .invalid input, .form_eric .invalid textarea{
  border-color: #c9302c;
  box-shadow: 0 0 0 1px #c9302c;
}

.form_eric .valid_msg, .form_eric .invalid_msg{
  display: none;
}

.form_eric .valid .valid_msg, .form_eric .invalid .invalid_msg{
  display: block;
}

.form_eric .invalid .invalid_msg span{
  color: #c9302c;
}

.form_eric .valid .valid_msg span{
  color: #5cb85c;
}

.form_eric .msg{
  display: block;
  text-align: right;
  padding-top: 5px;
}