br { display: block; line-height: 1.6em; } 

/** form field **/
.form_card {
  position: relative;
  display: block;
  margin: 30px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.form_card .form-group {
  position: relative;
  display: block;
  padding: 20px 20px 10px;
  vertical-align: top;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 0;
  height: 100%;
}
.form_card .form-group.active{
  box-shadow: 0px 0px 0px 1px rgb(17, 153, 119) inset;
}

.form_card label, .form_card .data_title{
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 0;
}

.form_card input, .form_card textarea, .form_card select, .form_card .data{
  display: block;
  position: relative;
  width: 100%;
  min-height: 37px;
  line-height: 27px;
  margin: 0 -5px;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  color: #777;
  font-family: 'Titillium Web', Arial, sans-serif;
  
  font-size: 16px;
  
  transition: all linear .3s;
}

.form_card select {
  width: auto;
  padding: 0;
  color: #555;
  margin: 5px 0;
  background: transparent;
  border: 1px solid #eee;
  height: 27px;
}

.form_card .form-control{
  padding-top: 1px;
  padding-bottom: 2px;
  min-height: 32px;
  height: 32px;
}

.form_card .form-control:focus{
  border: 1px dashed #e4e4e4;
  margin: 0;
}

.form_card .radio_group{
  padding: 7px 5px 3px;
  margin: 0 -5px;
  border-color: #8AA5C8;
  /*! box-shadow: 0 0 0 1px #8AA5C8; */
  display: flex;
  flex-wrap: wrap;
}

.form_card .radio-inline, .form_card .checkbox-inline{
  font-family: 'Titillium Web';
  margin-left: 0;
  margin-right: 5%;
  color: #777;
  font-weight: 500;
  /*! width: 22%; */
  vertical-align: top;
  /*! margin-bottom: 10px; */
  /*! flex: 1; */
  /*! flex-wrap: wrap; */
  /*! flex-grow: 1; */
  line-height: 27px;
}

.form_card .radio_group input{
  width: auto;
  height: 27px;
  min-height: 27px;
}

.form_card input:focus, .form_card select:focus, .form_card textarea:focus {
  opacity: 1;
  margin: 0;
}

.form_card input[type=radio]:focus, .form_card input[type=checkbox]:focus{
  opacity: 1;
  margin-left: -20px;
  outline: 0;
}

.form_card .image_box{
  margin-bottom: 10px;
  margin-top: 0;
}

.form_card .switch_open{
  padding-top: 4px;
}

.form_card .saving{
  position: absolute;
  right: 10px;
  color: #777;
}

.form_card .text-muted{
  color: #a4a4a4;
}

.form_card .row{
  margin: 0;
}

.form_card .col-sm-9, .form_card .col-sm-6, .form_card .col-sm-4, .form_card .col-sm-3{
  padding: 0;
}

.form_card .count_field{
  padding-bottom: 35px;
}

.form_card .char_count{
  display: block;
  position: absolute;
  right: 20px;
  bottom: 10px;;
  color: #aaa;
}

.form_card .char_count:after{
  content: ' characters left';5
}

.form_card .input_tags{
  margin-top: 7px;
  margin-bottom: 0;
}

.form_card .tag{
  font-size: 14px;
  padding: 2px 5px 3px;
  text-transform: capitalize;
  background: #fff;
  border: 1px solid #eee;
  border-color: #AAD8C5;
  /*! box-shadow: 0 0 0 1px #AAD8C5; */
}
/** button design based on http://codepen.io/guvootes/pen/eyDAb **/

.col-submit {
  text-align: center;
  padding: 20px;
}

.submitbtn {
  display: inline-block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  border: none;
  border-radius: 4px;
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  overflow: hidden;
  outline: none;
}

.submitbtn {
  background-image: -moz-linear-gradient(#97c16b, #8ab959);
  background-image: -webkit-linear-gradient(#97c16b, #8ab959);
  background-image: linear-gradient(#97c16b, #8ab959);
  border-bottom: 1px solid #648c3a;
  cursor: pointer;
  color: #fff;
}
.submitbtn:hover {
  background-image: -moz-linear-gradient(#8ab959, #7eaf4a);
  background-image: -webkit-linear-gradient(#8ab959, #7eaf4a);
  background-image: linear-gradient(#8ab959, #7eaf4a);
}
.submitbtn:active {
  height: 34px;
  border-bottom: 0;
  margin: 1px 0 0 0;
  background-image: -moz-linear-gradient(#7eaf4a, #8ab959);
  background-image: -webkit-linear-gradient(#7eaf4a, #8ab959);
  background-image: linear-gradient(#7eaf4a, #8ab959);
  -moz-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

a.submitbtn:hover, a.submitbtn:focus{
  text-decoration: none;
  color: #fff;
}

/** responsive design **/
@media(min-width: 768px){
  .col-submit { display: block; }
  
  .form_card .form-group { box-shadow: 1px 1px #e4e4e4; border: none; }
  
  .form_card .row{
    display: flex;
  }
  .col-submit .submitbtn { width: 30%; margin: 0 auto; }
}

.form_card .form-group h1{
  font-size: 1.8em;
  margin-top: 0px;
  font-weight: 500;
  color: #333;
  margin-bottom: 2px;
}

.form_card .data{
  height: auto;
  min-height: 37px;
}

.form_card_edit{
  text-align: right;
  position: relative;
  top: 20px;
  font-size: 16px;
  margin: 0 30px;
}

.form_card_edit a{
  
}