a:focus, .btn:focus, input[type="file"]:focus, input[type="radio"]:focus, .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
	outline: 0;
}

textarea{
	resize: none;
}

pre{
	white-space: pre-wrap;
	word-break: normal;
	border: 0px;
	border-radius: 0px;
	font-family: inherit;
	font-size: inherit;
	background: inherit;
}

/* base.html */

#back{
	background: url() no-repeat center center;
	background-size: cover;
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.green_a:hover{
	text-decoration: none;
	color: #197;
}

#top_search{
	margin: -7px 0px 0px;
}

.navbar-brand{
	font-size: 14px;
	font-weight: bold;
}

.top_bar_info .badge{
	font-size: 10px;
	border-radius: 5px;
	padding: 0px 5px 1px;
	margin: auto 4px auto 2px;
	line-height: 14px;
	position: relative;
	bottom: 1px;
}

#ind_name{
	padding-right: 5px;
	border-right: 2px solid #9d9d9d;
}

#usr_name{
	padding-left: 5px;
}

#notifications .badge{
	position: absolute;
	font-size: 11px;
	line-height: 15px;
	padding: 0px 5px;
	border-radius: 10px;
	bottom: 20px;
	left: 27px;
}

.body{
	position: relative;
	top: 61px;
	font-size: 13px;
}

/* cover.html */

#cover_back{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -5;
	background: url(cover_drill.jpg);
	background-size: cover;
	background-position: center center;
}

#cover li{
	list-style: none;
}

#cover .socialaccount_providers.list-group{
	margin-bottom: 10px;
}

#cover input{
	height: 40px;
	padding: 0px 15px;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid rgba(16,144,112,0.2);
	box-shadow: 0px 0px 0px rgba(10,90,70,0.2) inset;
	font-size: 15px;
}

#cover .btn{
	margin-top: 15px;
	border-radius: 0px;
	height: 40px;
	border: 0px;
	display: block;
	width: 100%;
}

#cover_desc{
	background-color: rgba(55,55,55,0.9);
	color: #eee;
	box-shadow: 0px 0px 3px rgba(55,55,55,0.3) inset;
	padding: 15px 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 30px;
}

#cover_bottom{
	background-color: rgba(55,55,55,0.9);
	color: #eee;
	box-shadow: 0px 0px 3px rgba(55,55,55,0.3) inset;
	padding: 10px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin-bottom: 30px;
}

#cover_bottom div:last-child{
	border-left: 1px solid #fff;
}

#cover_bottom div:first-child{
	border-right: 1px solid #fff;
}

.cover_form{
	
	max-width: 400px;
	margin-bottom: 50px;
}

.cover_form form{
	padding: 0px 0px;
}

#signup h3, #login h3{
	font-family: 'Nova Flat', cursive;
	font-style: bold;
	color: #333;
	margin-top: 0px;
	margin-bottom: 25px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

#signup h3{
	margin-right: -30px;
	padding-right: 30px;
	margin-left: -10px;
	padding-left: 10px;
	margin-bottom: 40px;
}

#login h3{
	margin-right: -10px;
	padding-right: 10px;
	margin-left: -30px;
	padding-left: 30px;
}

.socialaccount_providers{
	list-style: none;
}

.socialaccount_providers img{
	margin: auto;
	margin-bottom: 10px;
	display: block;
	max-width: 100%;
	height: 40px;
}

.socialaccount_providers img:hover{
	width: 95%;
}

#forgot_pass{
	color: #fff;
	display: block;
	margin: 0px 15px;
	padding: 2px;
	background-color: rgba(0,0,0,0.2);
	box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
}


/* userprofile/set.html */

.message{
	margin-top: 20px;
}

/* home.html */

.thumb_small{
}

#form_feed{
	margin-bottom: 40px;
}

#form_feed textarea{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#form_feed > .form-group{
	margin-bottom: 0px;
}

#form_feed .img_pre .alert{
	position: relative;
	display: inline-block;
	margin-bottom: 0px;
	height: 58px;
	padding: 0px;
	width: auto;
	margin: 3px 5px;
}

#form_feed .img_pre img{
	border: 3px solid #fff;
}

#form_feed .img_pre .alert .close{
	position: relative;
	top: -5px;
	left: 3px;
	font-size: 18px;
	color: #900;
}

.show_pre{
	border: 1px solid #9D9D9D;
	border-top: 0px;
	background-color: rgba(0,0,0,0.075);
}

#form_feed .textarea_bottom .btn{
	border-radius: 0px;
	border-top: 0px;
	border-color: #9d9d9d;
	z-index: 2;
}

#form_feed .input-group{
	width: 100%;
}

#form_feed .input-group-addon{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#form_feed .input-group-addon:first-of-type{
	padding: 0px;
}

.input-group .seamless_l{
	border-right: 0px;
	box-shadow: 1px 0px 1px rgba(0,0,0,0.075) inset;
}

.input-group .seamless_r{
	z-index: 2;
	box-shadow: -1px 0px 1px rgba(0,0,0,0.075) inset;
}

/* profile.html */

.nav-tabs li a{
	padding: 5px 10px;
}

.nav-tabs{
	margin-bottom: 15px;
}

.nav-pills{
	border-bottom: 1px solid #337AB7;
	margin-bottom: 25px;
}

.nav-pills li{
	float: right;
	margin-right: 5px;
}

.nav-pills li a{
	padding: 2px 15px;
	border-radius: 0px;
}

.panel-heading{
	padding: 5px 15px;
}

.panel-body pre{
	padding: 0px;
	margin: 0px;
}

/* nodes (feed box) */

.feed .feed_box_body{
	margin-top: 5px;
}

.feed_box{
	margin: 15px 0px;
	padding: 5px;
	box-shadow: 0px 0px 2px rgba(222,222,222,0.5);
}

.feed_box_heading{
	border-bottom: 1px solid #bbb;
	padding-bottom: 2px;
	overflow: hidden;
}

.feed_box > .row{
	margin-left: 0px;
	margin-right: 0px;
}

.feed_box_body{
	font-size: 12px;
	padding: 0px;
	margin-left: 45px;
	margin-bottom: 10px;
}

.feed_box_extra{
	border-top: 1px dashed #ddd;
	margin-left: 20%;
}

.feed_box_body figure{
	margin-top: 10px;
	padding: 0px 15px;
}

.feed_box_body img{
	width: 70%;
	margin: auto;
	max-height: 500px;
	display: block;
	border: 1px solid rgba(55,55,55,0.3);
	box-shadow: 0px 0px 5px rgba(55,55,55,0.3);
}

.feed_box_body h4{
	//margin-bottom: 0px;
}

.article_title{
	font-family: 'Tahoma';
	font-size: 18px;
	//background-color: rgba(0,0,0,0.1);
	font-weight: 900;
	padding: 5px 0px 7px;
	margin-bottom: 10px;
	border-bottom: 2px dotted #9d9d9d;
	overflow: hidden;
}

.article_body{
	font-family: 'Open Sans';
	text-align: justify;
	font-size: 14px;
	margin-bottom: 15px;
}

.q_title{
	font-family: 'Calibri';
	font-size: 18px;
	font-weight: 700;
	padding: 9px 0px 5px;
	margin-bottom: 10px;
	margin-top: 5px;
	border-bottom: 2px dotted #9d9d9d;
}

.q_body{
	padding-left: 10px;
	color: #555;
	font-family: 'Open Sans';
	text-align: justify;
	font-size: 14px;
	margin-bottom: 25px;
}

.q_summary{
	padding-left: 10px;
	color: #555;
	font-family: 'Open Sans';
	text-align: justify;
	font-size: 14px;
}

.feed_box_body > pre{
	padding: 7px 10px;
	margin-bottom: 0px;
	word-wrap: break-word;
}

.feed_box_body .form-group{
	margin-bottom: 0px;
}

.vote_box{
	padding: 4px 10px;
	float: left;
}

.vote_box span{
	display: block;
	font-size: 15px;
	line-height: 25px;
}

.vote_box .upvote{
	color: #399;
}

.vote_box .downvote{
	color: #946;
}

.vote_box .count{
	color: #9D9D9D;
	margin-left: -1px;
}

.tags{
	padding: 5px 0pc;
}

.tags a:hover{
	text-decoration: none;
}

.tags .label{
	font-size: 11px;
	height: 13px;
	padding: 1px 5px 2px;
}

.tags a:hover > .label{
	background-color: #38A0BE;
	font-size: 12px;
}

.q_detail{
	padding: 10px;
	max-height: 62px;
	overflow: hidden;
}

.a_detail{
	font-size: 13px;
	padding: 7px;
	/*max-height: 262px;*/
	overflow: hidden;
	font-family: 'Open Sans';
	text-align: justify;
	font-size: 14px;
	margin-bottom: 15px;
}

.interaction{
	text-align: right;
	padding: 7px 10px;
	margin: 1px auto;
	background: rgba(222,222,222,0.25);
}

.interaction .collapse{
	margin-top: 5px;
}

.interaction_opt{
	margin-bottom: 5px;
}


.interaction .btn{
	border-radius: 0px;
	line-height: 16px;
}

.comments{
	padding: 0px;
}

.comment .joint_name{
	padding: 2px 3px;
	margin: 0px 5px;
	background: rgba(222,222,222,0.85);
}

.comment_form .form-control{
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 0px;
}

.comment_form .btn{
	height: 30px;
	padding: 3px 5px;
	font-size: 12px;
	border-radius: 0px;
}

.comment_heading{
}

.comment{
	padding-top: 5px;
}

.comment pre{
	font-size: 11px;
	margin-bottom: 0px;
	word-wrap: break-word;
	padding: 5px 0px 2px;
}

.comment .form-group{
	margin-bottom: 0px;
}

.joint_name .line{
	position: relative;
	font-size: 1.2em;
	bottom: 1px;
}

/**/
.post_date{
	line-height: 17px;
	float: right;
}

/**/

#answers{
	margin-top: 75px;
}

#answers > h2{
	border-bottom: 2px solid #197;
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 10px;
	padding-right: 10px;
}

#question .interaction{
	text-align: right;
}

#question .q_detail{
	margin-left: 10px;
	color: #555;
}

/**/
.alert_tag{
	display: inline-block;
}

.alert_tag > .close{
	margin-left: 3px;
}

.alert_tag_box{
	display: inline-block;
	width: 150px;
	height: 70px;
	overflow: hidden;
	background: rgba(111,111,111,0.2);
	margin-left: 1px;
	margin-right: 1px;
}

.tag_box_title{
	padding: 0px 15px 3px 0px;
	border-bottom: 1px solid #bbb;
	font-weight: bold;
}

.tag_box_body{
	padding: 2px 2px 10px 0px;
	font-size: 12px;
}

a{
	cursor:pointer;
}

.indus_top{
	font-size: 25px;
	line-height: 34px;
	margin: 10px 0px;
}

.page-header{
	background: rgba(255,255,255,0.85);
}

#home_intro{
	margin: 30px 0px;
	background: rgba(255,255,255,0.85);
}

.top_h1{
	margin-top: 10px;
	margin-bottom: 10px;
}

.home_h2{
	margin-top: 10px;
	margin-bottom: 10px;
}

.home_sign{
	display: block;
	margin: auto;
}

.stylish{
	margin: 10px 0px;
	background: rgba(55,55,55,1);
	color: #eee;
}

.stylish:hover{
	background: #eee;
	color: rgb(55,55,55);
}

.w_400{
	margin: auto;
	max-width: 500px;
}

.dropdown-menu > li.no-select {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

footer{
	position: relative;
	top: 50px;
	bottom: 0px;
}

/*profile page*/
.acc_detail{
	margin: 5px 0px;
	line-height: 20px;
}

.small_mid{
	vertical-align: middle;
}

.detail_head{
	margin-top: 5px;
	margin-bottom: 5px;
}

#img_profile_box{
	margin-bottom: 10px;
	height: 120px;
	overflow: hidden;
}

#img_upload{
	display: block;
	position: relative;
	width: 110px;
	top: -20px;
	margin-left: 5px;
	height: 0px;
	color: #197;
	background: rgba(255,255,255,1);
	z-index: 10;
	overflow: hidden;
}
/*modal image upload*/
.cropit-image-preview {
	background-color: #f8f8f8;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 7px;
	width: 250px;
	height: 250px;
	cursor: move;	
}

.cropit-image-background {
    opacity: .2;
    cursor: auto;
}

.image-size-label {
    margin-top: 10px;
}

.image-editor{
	width: 250px;
}

.cropit-image-zoom-input{
	margin: 10px 0px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.feed_box_heading .joint_name{
	font-weight: bold;
	font-size: 12px;
}

.comment .joint_name{
	font-size: 12px;
}

.name_workplace.same{
	color: #23927C;
}

.name_user{
	color: #337AB7;
}

.name_user.same{
	color: #23927C;
}

#editor {
	min-height: 200px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px;
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	margin-bottom: 7px;
	overflow: auto;
	outline: none;
}

#editor img{
	max-width: 75%;
	display: block;
	margin: 15px auto;
	border: 5px solid #eee;
}

#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.done span{
	color: #000;
}

.btn-toolbar > .btn-group{
	margin-bottom: 5px;
}

.btn-toolbar{
	margin-top: 5px;
}

/* notifications.html */

.notifications ul, .notify_box ul{
	padding-left: 0px;
}

.notifications h5{
	border-bottom: 2px solid #ddd;
	padding-bottom: 10px;
	text-align: center;
}

.notifications li{
	list-style: none;
	margin: 7px;
	margin-left: 25px;
	padding: 5px;
}

.notifications .glyphicon{
	margin-left: -25px;
	vertical-align: top;
	position: relative;
	top: 3px;
}

.notifications .notify{
	padding-left: 12px;
	display:inline-block;
}

.unread li{
	border-bottom: 1px solid #bbb;
}

.unread li:last-of-type{
	border-bottom: 0px;
}

.unread li .glyphicon{
	color: rgba(16,144,112,0.75);
}

.read li{
	border-bottom: 1px solid #ddd;
}

.read li .glyphicon{
	color: rgba(22,22,22,0.75);
}

.hover_box{
	padding: 5px 10px;
	width: 400px;
}

.notify_box{
	font-size: 11px;
}

.notify_box h5{
	font-size: 12px;
	text-align: center;
	margin: 0px;
	padding: 5px;
}

.notify_box h5:first-of-type{
	border-bottom: 1px solid #ddd;
}

.notify_box h5:last-of-type{
	border-top: 1px solid #ddd;
}

.notify_box li{
	list-style: none;
	margin: 7px;
	margin-left: 20px;
	padding: 5px;
}

.notify_box .glyphicon{
	margin-left: -20px;
	vertical-align: top;
	position: relative;
	top: 2px;
}

.notify_box .notify{
	padding-left: 5px;
	display:inline-block;
}

#workplace_info{
	margin-bottom: 51px;
	margin-top: 5px;
	padding-bottom: 1px;
}

#workplace_info div:first-child{
	box-shadow: -2px 2px 1px rgba(0,50,0,0.31);
	min-height: 110px;
}

#workplace_info div:last-child{
	//border-left: 1px solid rgba(16,144,112,0.5);
	padding-bottom: 4px;
	//box-shadow: -1px -1px 1px rgba(16,144,112,0.5);
}

#top_members{
	list-style: none;
}

#top_members li{
	height: 41px;
	margin-bottom: 5px;
}

.side_head{
	border-bottom: 1px solid #9d9d9d;
	padding: 3px 5px;
}

.ppl_list img{
	float: left;
	width: 40px;
	border: 1px solid #333;
	margin-right: 5%;
}

#top_members a:hover{
	text-decoration: none;
}

#top_members li:hover{
	background-color: rgba(0,0,0,0.05);
}

#right{
	padding: 0% 3%;
}

.floating_form:first-of-type{
}

#members_list{
	padding-left: 7px;
}

.member{
	height: 77px;
	margin-bottom: 20px;
	width: 33%;
	float:left;
	list-style: none;
}

.member img{
	width: 75px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 7px;
}

.member > div{
	line-height: 25px;
}

.member_name{
	font-weight: bold;
	color: #333;
}

.member_position{
	color: #666;
}

#products_list{
	padding-left: 7px;
}

.product{
	height: 97px;
	margin-bottom: 20px;
	width: 50%;
	float:left;
	list-style: none;
	overflow: hidden;
}

.product img{
	width: 95px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 7px;
}

.product > div{
}

.product_name{
	font-weight: bold;
	color: #333;
	line-height: 25px;
}

.product_desc{
	line-height: 17px;
	color: #666;
}


.little_edit{
	border-radius: 0px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 2px;
	border: 0px;
	font-size: 12px;
	padding: 2px 25px;
	background-color: rgba(0,0,0,0.1);
}

.little_edit:hover{
	color: #197;
}

textarea.replacer{
	margin-top: 20px;
	border-radius: 2px;
}

.detail_body{
	margin-bottom: 0px;
}

.edit{
	border-top-right-radius: 3px;
	border-bottom-left-radius: 2px;
	font-size: 12px;
	padding: 2px 15px;
}

.info p:last-child{
	margin-bottom: 0px;
}

.d_edit{
	margin-top: 10px
}

.tag_short a:hover{
	text-decoration: none;
	opacity: 0.75;
}

.tag_short{
	display: inline-block;
	margin-right: 5px;
}

.tag_short .label{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.tag_short .close{
	position: relative;
	bottom: 1px;
	line-height: 13px;
	font-size: 12px;
	color: #000;
	//background-color: #5BC0DE;
	opacity: 1;
	padding: 2px 4px 3px;
}

.tag_short .close:hover{
	color: #5BC0DE;
}

#last_feed{
	padding: 5px 5px 7px;
	border-top: 2px solid #333;
	border-bottom: 1px solid;
}

h4 > .edit_post:hover{
	text-decoration: none;
}