/* unbootstrap */

.navbar{
  min-height: 40px;
  border: 0;
}

.navbar-inverse{
  background: rgba(0,0,0,0.89);
}

.navbar-nav{
  margin: 0;
}

.label{
  font-weight: normal;
}

.page-header {
  margin: 0 0 5px;
  padding-bottom: 0;
}

.alert {
  margin-bottom: 10px;
  padding: 6px;
}

.input-group-addon {
  top: 0;

  background-color: inherit;
}

.tooltip-inner {
  font-family: 'Calibri';

  opacity: 1;
  color: #eee;
  border-radius: 0;
  background-color: #222;
  box-shadow: 0 0 2px 1px #9d9d9d;
}

.tooltip.left .tooltip-arrow {
  right: 2px;

  border-left-color: #222;
}
.tooltip.right .tooltip-arrow {
  left: 2px;

  border-left-color: #222;
}
.tooltip.top .tooltip-arrow {
  bottom: 2px;

  border-top-color: #222;
}
.tooltip.bottom .tooltip-arrow {
  top: 2px;

  border-bottom-color: #222;
}

.nav > li > a {
  padding: 10px;
}

.navbar-toggle{
  padding: 5px 10px;
  margin: 4px 15px;
  color: #fff;
  border-color: #fff;
  border-radius: 2px;
}

.dropdown-menu{
  border: 0;
  border-radius: 0px;
}

.list-group-item{
  border: 0;
  border-bottom: 1px solid #eee;
}

/* cover */
/*
 * Stylesheet for the cover page of CoreLogs
 *
 * Date: 07-07-2015
 */

.pre_nav{
  background: rgba(0,0,0,0.89);
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.09);
}

@media (max-width:786px){
  .pre_nav{
    padding: 0;
  }
}

.pre_nav > a{
  color: #ddd;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.pre_nav a:hover{
  text-decoration: none;
  color: #197;
}

.pre_nav .orelogs{
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Open Sans';
  letter-spacing: 2px;
  overflow: hidden;
  vertical-align: middle;
}

.brand_img{
  display: inline-block;
  position: relative;
  padding: 7px 0px 7px 15px;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.nav_left{
  float: left;
}

.navbar-collapse.in{
  max-height: 400px;
}

@media(max-height:500px){
  .navbar-collapse.in{
    max-height: 250px;
  }
}

@media(max-width:768px){
  .navbar-right{
    //margin-right: 5px;
  }
}

.navbar.affix{
  top: 0;
  background: rgba(0,0,0,0.9);
  width: 100%;
  z-index: 999;
}

.body.affix{
  padding-top: 40px;
}

.navbar-header-img{
  position: relative;
  top: -5px;
  height: 32px;
  float: left;
}

#cover_top_nav .navbar-header{
  float: left;
  margin-right: 15px;
}

#cover_top_nav .navbar-brand{
  padding: 15px 10px;
}

.navbar-inverse .nav > li > a{
  font-family: "Calibri";
  padding: 10px 10px 8px 10px;
  font-weight: 900;
  font-size: 14px;
  height: 40px;
}

.nav li > a{
  padding-top: 10px;
}

.nav .nav_2 a{
  height: 40px;
}

@media (max-width:768px){
  #top_sec .container-fluid{
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-inverse .nav > li > a{
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar .nav_left > li > a{
  padding-right: 0;
}

.navbar .nav_left > li > a span:last-child{
  border-right: 1px solid #333;
  padding-right: 10px;
}

.navbar-inverse .nav_right > li > a{
  padding-right: 10px;
}

.navbar .nav_left > li:last-of-type > a span:last-child{
  border: 0;
}

.cover_back {
  position: fixed;
  z-index: -11;

  display: none;

  width: 100%;
  height: 100%;

  opacity: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#cover_back_default {
  z-index: -10;

  display: block;

  opacity: 1;
  //background: url(makeinindia.png);
  background-color: (255,255,255,0.75)
  /**background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;**/
}

#cover_back_lsi {
  //top: 100%;
}

#cover_back_team {
  top: 100%;
}

#cover_back_sme {
  top: 100%;
}

.cover_page {
  position: relative;
  //padding-top: 50px;
  
  //background-color: rgba(255,255,255,1);
}


#cover li {
  list-style: none;
}

.cover_body .list-group-item{
  background-color: transparent;
  border: 0;
}

.cover_body .fa-li{
  position: relative;
  left: 0;
  top: 0;
  color: #197;
}

.cover_features{
  padding: 20px 10px;
}

#cover .socialaccount_providers .list-group {
  margin-bottom: 10px;
}

#cover input {
  font-size: 15px;

  
  height: 40px;
  margin: auto;
  padding: 0 15px;
  border: 0;
  border-bottom: 1px solid rgba(16, 144, 112, 0.45);
  border-radius: 0;
  box-shadow: 0 0 0 rgba(10, 90, 70, 0.2) inset;
  background: transparent;
}

#login_modal input{
  text-align: center;
}

.modal form{
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width:768px) {
  #cover label{
    font-size: 15px;

    //height: 42px;
    padding: 10px 15px 0 0;
  }
  #cover input{
    max-width: 250px;
  }
}

.cover_form .errorlist{
	padding: 5px 0;
  margin-bottom: 0;
}

#cover .form-group .btn {
  display: block;

  width: 100%;
  max-width: 220px;
  height: 35px;
  margin: 15px auto;

  border: 0;
  border-radius: 0;
}

@media (min-width:768px){
  #signup_modal .form-group .btn{
   margin: 15px 0; 
  }
}

#cover .modal .btn{
  //margin:0;
}

.cover_desc {
  //font-family: 'Open Sans', sans-serif;
  //font-size: 20px;
  background: url(makeinindia.png);
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-position: center top;
  background-size: contain;
  position: relative;
  overflow: hidden;

  padding: 0;
  margin-top: 0px;

  //color: ;
  //background-color: rgba(255,255,255, 0.5);
  //box-shadow: 0 0 3px rgba(55, 55, 55, .3) inset;
}

@media (max-width:768px){
  .cover_desc h1{
    font-size: 28px;
  }
}

.cover_desc .content{
  padding: 10px 15px 0;
  background-color: rgba(255,255,255,0.75);
}

.cover_desc > .content > h2{
  font-size: 1.4em;
  border-bottom: 1px solid rgba(16,144,112,0.51);
  padding-bottom: 10px;
  margin-bottom: 0;
}

.cover_desc h3{
  font-size: 1.3em;
  margin
}

.cover_body{
  //background: rgba(255,255,255,0.75);
  //background: rgba(0,0,0,0.7);
  padding: 0px 30px 15px;
}

.cover_body a:hover{
  color: #197;
}

.cover_form h4{
  line-height: 25px;
  font-size: 15px;
  margin: 15px 0 10px;
  //min-height: 50px;
  //margin-bottom: 15px;
}

.cover_form_extra{
  border-top: 1px solid #179;
  margin: 25px 0;
  padding: 20px 40px 0;
}

.cover_form_extra .row{
  margin-bottom: 10px;
}

.cover_form_extra .fa-5x{
  width: 75px;
  height: 75px;
  font-size: 75px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
}

.cover_form_extra .level2{
  position: relative;
  top: 100px;
  margin:auto;
}

@media (min-width: 1000px){
  .cover_form_extra{
    border-left: 1px solid #179;
    border-top: 0;
    padding-top: 0;
  }
}


.cover_body .stylize{
  color: #197;
  //border-bottom: 1px solid #197;
}

#cover_bottom_title {
  font-family: 'Open Sans';

  margin: auto -15px;
  margin-bottom: 0;
  padding: 10px 15px;

  color: #000;
  border-bottom: 1px solid #ddd;

  //background-color: rgba(55,55,55,.9);
}

#cover_bottom {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

  margin-bottom: 0;
  padding: 10px 0;

  color: #eee;
  background-color: rgba(55, 55, 55, .9);
  box-shadow: 0 0 3px rgba(55, 55, 55, .3) inset;
}

.cover_bottom_btn {
  cursor: pointer;
}

.cover_bottom_btn {
  border-right: 1px solid #fff;
}

.cover_bottom_btn:last-of-type {
  border-right: 0;
}

.cover_form {
  width: 100%;
  color: #333;
  padding-bottom: 20px;
  padding-top: 10px;
  
  //border-bottom: 1px solid #197;
}

.cover_form form {
  padding: 15px 25px;
  border-color: rgba(16, 144, 112, 0.2);
}

/**#signup h3,
#login h3 {
  font-family: 'Nova Flat', cursive;

  position: relative;

  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 5px;
  padding-bottom: 5px;

  color: #000;
  border-bottom: 1px solid #777;

  //background-color: rgba(255,255,255,.15);
}

#signup h3 {
  margin-right: -200px;
  margin-bottom: 40px;
  margin-left: -10px;
  padding-right: 200px;
  padding-left: 10px;
}**/

.socialaccount_providers {
  list-style: none;
}

.socialaccount_providers li{
  
  margin-bottom: 10px;
  text-align: left;
}

.socialaccount_providers a{
  display: inline-block;
  color: #fff;
  height: 35px;
  line-height: 35px;
  width: 200px;
}

.socialaccount_providers .facebook{
  background: #46a;
}

.socialaccount_providers .google{
  background: #e54;
}

.socialaccount_providers .email{
  color: #eee;
  background: rgba(0,0,0,0.75);
}

.socialaccount_providers a:hover, .socialaccount_providers a:focus{
  color: #ddf;
  text-decoration: none;
}

.socialaccount_providers i{
  position: relative;
  width: 2em;
  margin-right: 3px;
  font-size: 18px;
  padding: 5px 0;
  //border-bottom: 1px solid #777;
  border-right: 1px solid #aaa;
  //top: 5px;
  vertical-align: middle;
}


.socialaccount_providers span{
  display: inline-block;
  
  
  //padding-bottom: 6px;
  //padding-left: 0px;
  //padding-right: 5px;
}

.socialaccount_providers img {
  //display: block;
  margin-right: 2px;
  width: 32px;
  height: 32px;
  border: 1px solid #555;
  border-radius: 5px;
}

.socialaccount_providers img:hover {
  opacity: 0.9;
}

#login .forgot_pass  a {
  //color: #000;
  display: block;
  font-size: 0.75em;
}

#login input{
  text-align: center;
}

#login_modal .socialaccount_providers li, #login .socialaccount_providers li{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.default {
  position: relative;
}

.default,
.lsi,
.team,
.sme {
  display: none;
  overflow: hidden;

  max-width: 100%;

  opacity: 0;
}


/* aRt */
a:focus,
.btn:focus,
input[type='file']:focus,
input[type='radio']:focus,
.checkbox input[type='checkbox'],
.checkbox-inline input[type='checkbox'] {
  outline: 0;
}

textarea {
  resize: none;
}

pre {
  font-family: inherit;
  font-size: inherit;

  white-space: pre-wrap;
  word-break: normal;

  border: 0;
  border-radius: 0;
  background: inherit;
}
/* base.html */

#back {
  position: fixed;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: url() no-repeat center center;
  background-size: cover;
}


#top_search {
  font-family: 'Calibri';
  float: right;
  height: 50px;
  padding-top: 7px;
  //min-width: 250px;
  width: 40%;
}

#top_search .form-control{
  color: #777;
  background: rgba(0,0,0,0.15);
  border-color: rgba(22,22,22,0.25);
  border-radius: 0;
}

#top_search .btn{
  color: #aaa;
  background: rgba(0,0,0,0.15);
  border-color: rgba(22,22,22,0.25);
}

#search_typ .btn{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#top_search .form-group{
  margin-bottom: 0;
}

#top_search .has-error .form-control{
  border-color: rgba(22,22,22,0.25);
  box-shadow: 0 0 0;
}

#top_search .form-control:focus, #top_search .has-error .form-control:focus{
  border-bottom-color: rgba(16,144,112,0.3);
  outline: 0px none;
  box-shadow: 0px 0px 0px;
}

#top_search .d_search .input_tags{
  margin:0;
}

#top_search form{
  position: relative;
  width: 100%;
}

#top_search .input-group-btn > .btn{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#top_search .d_menu{
  position: fixed;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  right: 0;
  top: 89px;
  bottom: 15px;
  overflow: hidden;
  
  //z-index: 1000;
}



#top_search .dropdown-menu{
  //padding: 0;
  background: transparent;
  box-shadow: 0 0 0;
  z-index: 1001;
}

#top_search .d_search .dropdown-menu{
  top: 0;
  right: 15px;
  left: auto;
  min-width: 275px;
  max-width: 75%;
  float: right;
  height: 100%;
  overflow-y: auto;
  //z-index: 1000;
}

@media(max-width:768px){
  #top_search .d_menu{
    width: 100%;
  }
  
  #top_search .d_list{
    min-width: 200px;
    max-width: 100%;
  }
}

#search_toggle{
  display: none;
  //float: right;
  padding: 6px 10px;
}

@media(max-width:768px){
  #top_search {
    position: relative;
    width: 0%;
    margin-right: 15px;
    overflow: hidden;
  }
  #search_toggle{
    position: absolute;
    top: 8px;
    right: 15px;
    display: block;
    float: right;
    //border-radius: 5px;
    height: 32px;
    line-height: 18px;
    //color: #555;
    background: rgba(0,0,0,0.15);
    border-color: rgba(0,0,0,0.19);
  }
}

#top_search .d_menu img{
  height: 25px;
  margin-right: 5px;
  position: relative;
  top: -1px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

#top_search .list-group-item{
  color: #ccc;
  padding: 5px 10px;
  background: rgba(55,55,55,1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  line-height: 25px;
}

#top_search .list-group-item:hover{
  background-color: #2c2c2c;
  color: #197;
}
#search_typ .dropdown-menu .fa{
  //margin-right: 5px;
}

#search_typ .btn{
  border-right: 0;
  padding: 6px;
}

#notifications .badge {
  font-size: 11px;
  line-height: 15px;

  position: absolute;
  bottom: 20px;
  left: 27px;

  padding: 0 5px;

  border-radius: 10px;
}

.body {
  font-family: 'Open Sans','Helvetica Neue';
  min-height: 100%;
  overflow-x: hidden;
  margin-top: 25px;

  position: relative;
  //padding-top: 20px;
  padding-bottom: 20px;
}
/* cover.html */


/* userprofile/set.html */

.message {
  margin-top: 20px;
}

#pg_set .radio input {
  position: relative;
  bottom: 1px;

  height: 25px;
  margin-right: 5px;

  vertical-align: middle;
}

#pg_set .radio {
  margin: 0;
}

#pg_set .radio label {
  margin: 0;
}

#pg_set label {
  margin-top: 20px;
  padding-left: 5px;
}

#pg_set input {
  font-size: 15px;

  height: 35px;
  margin: 3px auto;
  padding: 0 15px;

  border: 1px solid rgba(16, 144, 112, .2);
  border-radius: 0;
  box-shadow: 0 0 0 rgba(10, 90, 70, .2) inset;

  //border: 0;
}

#pg_set input:focus {
  background-color: rgba(0, 0, 0, .05);
}

#pg_set .btn:first-of-type {
  margin-top: 40px;
}

#pg_set .btn {
  display: block;

  width: 49%;
  max-width: 200px;
  height: 40px;
  margin: 0 auto 15px;

  border: 0;
  border-radius: 0;
}
/* home.html */

#form_feed {
  margin-bottom: 40px;
}

#form_feed textarea {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#form_feed > .form-group {
  margin-bottom: 0;
}

.img_pre .alert {
  position: relative;

  display: inline-block;

  width: 31%;
  margin: 3px 5px;
  margin-bottom: 0;
  padding: 0;
}

#form_feed .img_pre .alert {
  width: 24%;
}

#form_ask .img_pre .alert {
  width: 31%;
}

.categ_btn {
  margin-right: -4px;
  margin-bottom: 10px;
  padding: 2px 5px;

  border: 1px solid #3870a0;
  background-color: #fff;
}

.categ_btn:last-of-type {
  border-left: 0;
}

.selected_categ {
  color: #fff;
  background-color: #3870a0;
}

.img_pre img {
  border: 3px solid #fff;
  height: 100%;
}

.img_pre .close{
  line-height: 14px;
}

#form_feed .img_pre .alert .close {
  font-size: 18px;

  position: relative;
  top: -5px;
  left: 3px;

  color: #900;
}

.show_pre {
  border: 1px solid #9d9d9d;
  background-color: rgba(0, 0, 0, .075);
}

#form_feed .show_pre {
  border-top: 0;
}

#form_feed .textarea_bottom .btn {
  z-index: 2;

  border-color: #9d9d9d;
  border-top: 0;
  border-radius: 0;
}

#form_feed .input-group {
  width: 100%;
}

#form_feed .input-group-addon {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#form_feed .input-group-addon:first-of-type {
  padding: 0;
}

.input-group .seamless_l {
  border-right: 0;
  box-shadow: 1px 0 1px rgba(0, 0, 0, .075) inset;
}

.input-group .seamless_r {
  z-index: 2;

  box-shadow: -1px 0 1px rgba(0, 0, 0, .075) inset;
}
/* profile.html */

.nav-tabs li a {
  padding: 5px 10px;
}

.nav-tabs {
  margin-bottom: 15px;
}

.nav-pills {
  margin-bottom: 25px;

  border-bottom: 1px solid #337ab7;
}

.nav-pills li {
  float: right;

  margin-right: 5px;
}

.nav-pills li a {
  padding: 2px 15px;

  border-radius: 0;
}

.panel-heading {
  padding: 5px 15px;
}

.panel-body pre {
  margin: 0;
  padding: 0;
}
/* nodes (feed box) */

.feed .feed_box_body {
  margin-top: 5px;
}

.feed_box {
  margin: 15px 0 15px 30px;
  padding: 0 7px;

  background: #fff;
  box-shadow: 0 0 2px rgba(230, 230, 230, 1);
}

.feed_box_heading {
  display: none;
  overflow: hidden;

  margin: -5px;
  padding: 2px 5px;

  background-color: rgba(0, 0, 0, .05);

  //border-bottom: 1px solid #bbb;
}

.feed_box > .row {
  margin-right: 0;
  margin-left: 0;
}

.feed_box_body {
  font-size: 12px;

  margin-bottom: 10px;
  padding: 0;
}

.feed_box_extra {
  margin: 0 -7px;

  border-top: 1px dashed #eee;
}

.feed_box_body figure {
  display: inline-block;

  width: 33%;
  margin-top: 0;
  padding: 0;
}

.feed_box_body img {
  display: block;

  width: 128px;
  height: 128px;
  
  line-height: 128px;

  border: 1px solid rgba(55, 55, 55, .3);
  box-shadow: 0 0 2px rgba(55, 55, 55, .3);
  text-align: center;

  //margin: auto;
}

.feed_box_body h4 {
  //margin-bottom: 0;
}

.article_title {
  position: relative;
  font-family: 'Tahoma';
  font-size: 25px;
  
  color: #444;
  overflow: hidden;

  margin-bottom: 30px;
  padding: 7px 0;

  border-bottom: 1px solid #9d9d9d;

  //background-color: rgba(0,0,0,.1);
}


.article_title:hover {
  color: #000;
  border-bottom: 1px solid #197;
}

.article_body {
  line-height: 200%;
  font-size: 1.35em;
  font-family:  Georgia;
  

  margin-bottom: 10px;

  text-align: left;
}

.summary_title {
  position: relative;
  font-size: 15px;

  overflow: hidden;

  padding: 7px 2px 5px;

  border-bottom: 1px solid #eee;
}

.post_title{
  padding: 10px 25px 10px 0;
  position: relative;
  
  border-bottom: 1px solid #ddd;
}

.post_title h1{
  font-size: 2em;
  margin: 0;
}

.sign{
  position: absolute;
  line-height: 1.5;
  right: 0;
  color: #197;
}

.post .sign{
  top: 12px;
}

.summary_title:hover {
  border-bottom: 1px solid #197;
}

.feed_box_body a:hover {
  text-decoration: none;

  opacity: .9;
}

.post_body {
  font-family: 'Open Sans';
  font-size: 13px;

  padding: 10px 5px 0;

  text-align: justify;

  color: #555;
}

.summary_body {
  font-family: 'Open Sans';
  font-size: 12px;
  max-height: 150px;

  padding: 10px 5px 2px;

  text-align: justify;

  color: #333;
}

.feed_box_body > pre {
  margin-bottom: 0;
  padding: 7px 5px;
  font-size: 13px;

  word-wrap: break-word;
}

.feed_box_body .form-group {
  margin-bottom: 0;
}

.vote_box {
  float: left;
  text-align: center;
  background-color: #efe;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-left: -32px;
  margin-top: -1px;
  padding: 4px 5px;
  width: 25px;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-color: #eee;
}

.post .vote_box{
  margin-left: -36px
}

.vote_box span {
  font-size: 15px;
  line-height: 25px;

  display: block;
}

.vote_box .upvote {
  color: #399;
}

.vote_box .downvote {
  color: #946;
}

.vote_box .count {
  margin-left: -1px;

  color: #197;
}

.tags {
  padding: 10px 5px 2px;
}

.tag:hover {
  text-decoration: none;
}

.tags .label {
  font-size: 11px;

  height: 13px;
  padding: 2px 5px;

  border-radius: 0;
}

.tags a:hover > .label {
  background-color: #38a0be;
}

.q_detail {
  overflow: hidden;

  max-height: 62px;
  padding: 10px;
}

.a_detail {
  font-family: 'Open Sans';
  font-size: 13px;
  font-size: 14px;
  /*max-height: 262px;*/

  overflow: hidden;

  margin-bottom: 15px;
  padding: 10px 7px 7px;

  text-align: justify;
}

.a_detail br{
  margin-bottom: 10px;
}

.interaction {
  margin: 1px auto;
  padding: 7px 10px;

  text-align: right;

  //background: rgba(222, 222, 222, .25);
  border-bottom: 1px solid #ddd;
}

.interaction .collapse {
  margin-top: 5px;
}

.interaction_opt {
  margin-bottom: 5px;
}

.interaction .btn {
  line-height: 16px;

  border: 1px solid rgba(16, 144, 112, .2);
  border-radius: 0;

  //color: #000;
  //background-color: rgba(255,255,255,1);
}

.comments {
  padding: 0;
}

.comment .joint_name {
  font-size: 0.9em;
  margin: 0 5px;
  padding: 0 3px 2px;
  display: inline-block;
  background: rgba(222, 222, 222, .85);
}

.comment_form .form-control {
  font-size: 12px;

  height: 30px;
  padding: 5px 10px;

}

.comment_form .btn {
  font-size: 12px;

  height: 30px;
  padding: 3px 5px;

  border-radius: 0;
}

.comment {
  font-size: 0.8em;
  padding-top: 5px;
  padding-left: 50px;
  color: #666;
}

.comment p {
  margin-bottom: 0;
  padding: 5px 0 2px;

  word-wrap: break-word;
}

.comment .form-group {
  margin-bottom: 0;
}

.joint_name .line {
  font-size: 1.2em;

  position: relative;
  bottom: 1px;
}
/**/

.post_date {
  line-height: 17px;

  float: right;
}
/**/

#answers {
  margin-top: 75px;
}

#answers > h2 {
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 10px;
  padding-left: 10px;

  border-bottom: 2px solid #197;
}

#question .interaction {
  text-align: right;
}

#question .q_detail {
  margin-left: 10px;

  color: #555;
}
/**/

.alert_tag {
  display: inline-block;
}

.alert_tag > .close {
  margin-left: 3px;
}

.alert_tag_box {
  display: inline-block;
  overflow: hidden;

  width: 236px;
  height: 100px;
  margin-right: 1px;
  margin-left: 1px;

  background: rgba(111, 111, 111, .2);
}

.tag_box_title {
  font-weight: bold;

  padding: 0 15px 3px 0;

  border-bottom: 1px solid #bbb;
}

.tag_box_body {
  font-size: 12px;

  padding: 2px 2px 10px 0;
}

a {
  cursor: pointer;
}

.indus_top {
  font-size: 25px;
  line-height: 34px;

  margin: 10px 0;
}


#home_intro {
  margin: 30px 0;

  background: rgba(255, 255, 255, .85);
}

.top_h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.home_h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.home_sign {
  display: block;

  margin: auto;
}

.stylish {
  margin: 10px 0;

  color: #eee;
  background: rgba(55, 55, 55, 1);
}

.stylish:hover {
  color: rgb(55, 55, 55);
  background: #eee;
}

.w_650 {
  max-width: 650px;
  margin: auto;
}

.dropdown-menu > li.no-select {
  font-weight: normal;
  line-height: 1.42857;

  display: block;
  clear: both;

  padding: 3px 20px;

  white-space: nowrap;

  color: #333;
}

footer {
  font-family: 'Tahoma';
  position: relative;
  padding-bottom: 10px;
  border-top: 1px solid #fff;
  //margin-top: 10px;
  padding: 10px;
  background-color: rgba(40, 40, 40, 1);
  color: #fff;
}

footer .connect ul{
  list-style: none;
}

footer .connect li{
  display: inline-block;
}
/*profile page*/

.acc_detail {
  line-height: 20px;

  margin: 5px 0;
}

.small_mid {
  vertical-align: middle;
}

.detail_head {
  margin-top: 5px;
  margin-bottom: 5px;
}

#img_profile_box {
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin: 0 auto 10px;
}

#img_upload {
  position: relative;
  z-index: 10;
  top: -20px;

  display: block;
  overflow: hidden;

  width: 110px;
  height: 0;
  margin-left: 5px;

  color: #197;
  background: rgba(255, 255, 255, 1);
}
/*modal image upload*/

.cropit-image-preview {
  width: 250px;
  height: 250px;
  margin-top: 7px;

  cursor: move;

  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f8f8f8;
  background-size: cover;
}

.cropit-image-background {
  cursor: auto;

  opacity: .2;
}

.image-size-label {
  margin-top: 10px;
}

.image-editor {
  width: 250px;
}

.cropit-image-zoom-input {
  margin: 10px 0;
}

.btn-file {
  position: relative;

  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;

  display: block;

  width: 100%;
  height: 100%;

  cursor: inherit;

  opacity: 0;
  outline: none;
  background: white;
}


.name_workplace {
  //color: #000;
}

.name_user {
  //color: #000;
}

.same {
  color: #197;
}

#editor {
  overflow: auto;

  box-sizing: content-box;
  min-height: 200px;
  margin-bottom: 7px;
  padding: 4px;

  border-collapse: separate;

  border: 1px solid rgb(204, 204, 204);
  
  outline: none;
  background-color: white;
}

#editor img {
  display: block;

  max-width: 75%;
  margin: 15px auto;

  border: 5px solid #eee;
}

#voiceBtn {
  width: 20px;

  cursor: pointer;
  -webkit-transform: scale(2.0, 2.0);
     -moz-transform: scale(2.0, 2.0);
          transform: scale(2.0, 2.0);

  color: transparent;
  border: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

div[data-role='editor-toolbar'] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.done span {
  color: #ccc;
}

.btn-toolbar > .btn-group {
  margin-bottom: 5px;
}

.btn-toolbar {
  margin-top: 5px;
}
/* notifications.html */

.notifications ul,
.notify_box ul {
  padding-left: 0;
}

.notifications h5 {
  padding-bottom: 10px;

  text-align: center;

  border-bottom: 2px solid #ddd;
}

.notifications li {
  margin: 7px;
  margin-left: 25px;
  padding: 5px;

  list-style: none;
}

.notifications .glyphicon {
  position: relative;
  top: 3px;

  margin-left: -25px;

  vertical-align: top;
}

.notifications .notify {
  display: inline-block;

  padding-left: 12px;
}

.unread li {
  border-bottom: 1px solid #bbb;
}

.unread li:last-of-type {
  border-bottom: 0;
}

.unread li .glyphicon {
  color: rgba(16, 144, 112, .75);
}

.read li {
  border-bottom: 1px solid #ddd;
}

.read li .glyphicon {
  color: rgba(22, 22, 22, .75);
}

.hover_box {
  width: 400px;
  padding: 5px 10px;
}

.notify_box {
  font-size: 11px;
}

.notify_box h5 {
  font-size: 12px;

  margin: 0;
  padding: 5px;

  text-align: center;
}

.notify_box h5:first-of-type {
  border-bottom: 1px solid #ddd;
}

.notify_box h5:last-of-type {
  border-top: 1px solid #ddd;
}

.notify_box li {
  margin: 7px;
  margin-left: 20px;
  padding: 5px;

  list-style: none;
}

.notify_box .glyphicon {
  position: relative;
  top: 2px;

  margin-left: -20px;

  vertical-align: top;
}

.notify_box .notify {
  display: inline-block;

  padding-left: 5px;
}

.info_head {
  margin-bottom: 10px;
}

.info_field_edit form{
  margin-bottom: 10px;
}

#top_members {
  position: relative;

  list-style: none;
}

#top_members li {
  height: 41px;
  margin-bottom: 5px;
}

.side_head {
  padding: 0 5px 5px;
  font-size: 1.2em;
  margin-bottom: 10px;
  border-bottom: 1px solid #9d9d9d;
  //background-color: #dff0d8;
}

.ppl_list img {
  float: left;

  width: 40px;
  margin-right: 5%;

  border: 1px solid #333;
}

.wp_list li{
  display: block;
  margin: 5px 0;
  //background-color: #dff0d8;
}

.wp_list{
  list-style: none;
  line-height: 20px;
  //background-color: #dff0d8;
}

.wp_list img {
  float: left;

  width: 40px;
  height: 40px;
  margin-right: 5%;
  overflow: hidden;
  
  text-overflow: 

  border: 1px solid #eee;
}

.wp_list .name_user{
  overflow: hidden;
  display: block;
}


#top_members a:hover {
  text-decoration: none;
}

#top_members li:hover {
  background-color: rgba(0, 0, 0, .05);
}

#right {
  position: relative;
  overflow: hidden;
}

#right img{
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
	#right {
		display: none;
	}
}

.right_fixed:first-of-type {
  position: fixed;
  top: 71px;
  font-size: 0.9em;
  padding-left: 30px;
}


.right_fixed_down:first-of-type {
  position: fixed;
  top: 222px;
  font-size: 0.9em;
  padding-left: 30px;
  margin-bottom: 20px;
}

#members_list {
  padding-left: 7px;
  margin-top: 30px;
}

.member {
  float: left;

  width: 31%;
  height: 77px;
  margin: 10px 1%;
  
  overflow: hidden;
  list-style: none;
}

.member img {
  float: left;

  width: 75px;
  margin-right: 7px;

  border: 1px solid #ccc;
}

.member_name {
  line-height: 18px;
  margin-bottom: 2px;
  font-weight: bold;
  border-bottom: 1px solid #eee;

  color: #333;
}

.member_position {
  font-size: 0.9em;
  color: #666;
}

@media (max-width: 768px){
  .member{
    height: auto;
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .member img{
    float: none;
    margin-bottom: 5px;
  }
}


#products_list {
  padding-left: 7px;
  margin-top: 40px;
}

.product {
  float: left;
  overflow: hidden;

  width: 50%;
  height: 100px;
  margin-bottom: 20px;

  list-style: none;
}

.product img {
  float: left;

  height: 100px;
  margin-right: 7px;

  border: 1px solid #ccc;
}

.product_name {
  font-weight: bold;
  line-height: 25px;

  color: #333;
}

.product_desc {
  margin-left: 105px;
  padding: 5px 0 12px;
  line-height: 16px;
  font-size: 13px;
  height: 50px;
  color: #777;
  border-top: 1px solid #eee;
}

.product .tags{
  padding-top: 2px;
  height: 25px;
}

.little_edit {
  font-size: 12px;

  padding: 2px 25px;

  border: 0;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 2px;
  background-color: rgba(0, 0, 0, .1);
}

.little_edit:hover {
  color: #197;
}

textarea.replacer {
  margin-top: 20px;

  border-radius: 2px;
}

.detail_body {
  margin-bottom: 0;
}

.edit {
  font-size: 12px;

  padding: 2px 15px;

  border-top-right-radius: 3px;
  border-bottom-left-radius: 2px;
}

.info p:last-child {
  margin-bottom: 0;
}

.d_edit {
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.tag_short a:hover {
  text-decoration: none;

  opacity: .75;
}

.tag_short {
  display: inline-block;

  margin-right: 5px;
}

.tag_short .label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tag_short .close {
  font-size: 12px;
  line-height: 13px;

  position: relative;
  bottom: 1px;

  padding: 2px 4px 3px;

  opacity: 1;
  color: #000;

  //background-color: #5bc0de;
}

.tag_short .close:hover {
  color: #5bc0de;
}

#last_feed {
  padding: 15px 5px;

  border-top: 1px solid #333;
  border-bottom: 1px solid;
}

h4 > .edit_post:hover {
  text-decoration: none;
}

.edit_post {
  overflow: hidden;
}

#login_to_write {
  position: relative;
  top: 50px;
}

.ppl_info{
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.ppl_list .name_user{
	display: block;
}

.name_user {
	height: 20px;
}

#about .container{
  //background-color: rgba(255,255,255,0.75);
  color: #333;
  width: 100%;
  text-align: left;
}

#about h2{
  font-size: 1.3em;
  padding-bottom: 7px;
  border-bottom: 1px solid #aaa;
  color: #197;
}

footer h3{
  font-family: 'Tahoma';
  font-size: 14px;
  padding-bottom: 7px;
  color:#ccc;
  border-bottom: 1px solid #666;
}

footer .connect i{
  display: inline-block;
  width: 35px;
  font-size: 15px;
}

footer{
  position: relative;
  z-index: 999;
  font-size: 12px;
  top: 100%;
}

footer .foot_desc{
  padding: 20px 20px 0;
  text-align: justify;
  color: #ccc;
  font-size: 0.95em;
}

footer .foot_logo{
  text-align: center;
  margin-bottom: 15px;
}

footer .foot_logo img{
  width: 75px;
}

footer .foot_links li{
  //font-size: 1.1em;
  padding: 2px;
}

footer a{
  color: #bdf;
}

footer a:hover, footer a:focus{
  color: #fff;
}

footer .fa{
  display: inline-block;
  width: 30px;
}

footer .contact .col-xs-6{
  z-index: 1;
}

footer .contact li{
  list-style: none;

}

.btn-sqr {
  border-radius: 0;
}

.author{
  text-align: right;
}

.author time{
  display: block;
}


#figure_modal .modal-content{
  background-color: rgba(0,0,0,0.50);
  min-height: 100%;
  border-radius: 0;
}

#figure_modal .modal-header{
  min-height: 45px;
  background-color: #fff;
}

#figure_modal .modal-body{
  padding: 0;
}

#figure_modal .modal-footer{
  bottom: 0;
  width: 100%;
  padding: 5px;
}

#figure_modal figure{
  height: 100%;
}

#figure_modal .modal-body img{
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

#msg_modal .dropdown-menu{
  width: 100%;
}

.d_menu{
  padding: 0;
}

.d_menu li:hover{
  background-color: #ddd;
  cursor: pointer;
}

.list-group-item:last-child{
  border-radius: 0;
}

.one_value{
  border: 1px solid #3c763d;
  border-radius: 1px;
  background-color: #dff0d8;
  padding: 6px;
}

.one_value .close{
  position: relative;
}


.d_search .open .dropdown-menu {
  display: block;
  padding: 0;
}

.d_search .input-group textarea:focus{
  box-shadow: 0 0 0;
}

.input_tags{
  margin-bottom: 5px;
}

.tag{
  //font-size: 0.9em;
  line-height: 20px;
  display: inline-block;
  padding: 0 5px;
  background-color: #eee;
  border: 1px solid #ddd;
  margin: 0 5px 5px 0;
    font-size: 85%;
    color: #179;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.tag:hover{
  //color: #777;
  //background-color: #eee;
  border-color: #777;
}

.tag .close{
  font-size: 20px;
  padding-left: 10px;
}

.many_value span{
  margin-right: 12px;
}

.info_head .info_left{
  padding-right: 8.5%;
}

.label_sm{
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 1px;
}

.wp_list .label_sm{
  display: inline-block;
  padding: 2px 5px 3px;
  position: relative;
  top: -1px;
}

.pressme{
  cursor: pointer;
}

.summary_fig, .post_fig{
  padding: 5px;
}

.inline_fa{
  margin: 0 5px;
}

.d_search .tag{
  //background-color: #999;
  color: #555;
}

.info_title{
  margin-bottom: 10px;
}

.info_title h2{
  margin: 0;
}

.info_field{
  position: relative;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-right: 20px;
}

.info_field_value{
  margin-right: 50px;
}

.show_edit, .done_edit{
  position: absolute;
  right: 0;
  top: 0;
}

.done_edit{
  top: 10px;
}

.info_labels{
  margin: 5px 0;
}

.side_help{
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  font-family: 'Calibri';
  text-align: justify;
  color: #666;
  background-color: #dff0d8;
  border: 1px solid #ddf;
}

.side_help .side_head{
  margin-top: 5px;
}

.side_help ul{
  padding-left: 25px;
  list-style: none;
}

.side_help li{
  margin-bottom: 10px;
}

.side_show{
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  font-family: 'Calibri';
  color: #666;
  background-color: #f2f2f2;
  border: 1px solid #c0c0c0;
}

.side_show ul{
  padding-left: 5px;
  list-style: none;
}

.side_show li{
  margin-bottom: 10px;
}


.fa_li_style{
  margin-left: -25px;
  margin-right: 10px;
  color: #197;
}

.conversation {
  margin: 0;
  padding: 0;
}

.conversation li {
  list-style: none;
  padding: .6em 0;
}

.conversation li h5 {
  margin: 0;
  margin-bottom: .2em;
}

.conversation li div {
  margin-left: 50px;
}

.conversation .picture {
  width: 40px;
  border-radius: 5px;
  float: left;
}

.conversation-portrait {
  width: 20px; 
  border-radius: 3px; 
  margin-right: 5px;
}

.typeahead, .tt-query, .tt-hint {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 1.2em;
  height: 35px;
  line-height: 35px;
  outline: medium none;
  padding: 4px 12px;
  width: 300px;
}
.typeahead {
  background-color: #FFFFFF;
}
.typeahead:focus {
  border: 2px solid #0097CF;
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
  color: #999999;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  padding: 8px 0;
  width: 300px;
}
.tt-suggestion {
  font-size: 1.2em;
  line-height: 24px;
  padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
}
.tt-suggestion p {
  margin: 0;
}

.post{
  padding: 0 10px;
  margin-bottom: 40px;
}

#wp_content{
  position: relative;
}

.loading{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2em;
  background: rgba(255,255,255,0.5);
  color: #999;
}

.side_product img{
  width: 100%;
}

.thumb_small{
  width: 32px;
  height: 32px;
  padding: 1px;
}

.conversation .thumb_small{
  float: left;
  border: 1px solid #aaa;
}

.option{
  position: relative;
}

.prod_img{
  margin-bottom: 20px;
}

.prod_img a{
  display: block;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
}

.prod_img img{
  width: 100%;
  border: 1px solid #ccc;
  max-width: 400px;
  display: block;
}

.prod_desc{
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-bottom: 20px;
}

#wp_nav{
  margin-top: 40px;
}

.side_product div{
  height: 20px;
  overflow: hidden;
}


.invite_form{
  position: relative;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.editor-container .placeholder{
  color: #8a9;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Calibri';
}

.open_input{
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
}

.article_form .title_input{
  font-size: 20px;
  font-family: 'Tahoma';
  letter-spacing: 1px;
  height: 50px;
  
}

.open_input:focus{
  background-color: #fff;
  box-shadow: 0 0 0;
}