<div class="image_box" data-url={{url}}>
  {% include "snippets/image_crop_modal.html" with name="photo" n=n %}
  <a href="#" class="add_btn file_btn">
    <span class="fa fa-plus"></span>
    <span>Add Image</span>
  </a>
  <div class="image_preview_box hide">
    <a class="image_preview file_btn">
      <img src={{blank_gif}} alt="product image" />
    </a>
    <div class="aj_progress">
      <div class="level"></div>
    </div>
  </div>
  <div class="options text-center hide">
    <a href="#" class="change file_btn"><span class="fa fa-crop" style="color: #555;"></span>Modify</a>
  </div>
</div>
