{% if workplace.workplace_type == 'A' %}
	{% for city in workplace.get_tags.city %}
		{% include "snippets/tag_short.html" with tag=city %}
	{% empty %}
		<span class="none">City in which the company exists</span>
	{% endfor %}

{% elif workplace.workplace_type == 'B' %}
	{% for city in workplace.get_tags.city %}
		{% include "snippets/tag_short.html" with tag=city %}
	{% empty %}
		<span class="none">City in which the company exists</span>
	{% endfor %}

{% elif workplace.workplace_type == 'C' %}
	{% for inst in workplace.get_tags.institution %}
		{% include "snippets/tag_short.html" with tag=inst %}
	{% empty %}
	<span class="none">Add parent institution</span>
	{% endfor %}

{% endif %}