{% if workplace.workplace_type == 'A' %}
	{% for city in workplace.get_tags.city %}
		{% include "snippets/tag_short.html" with tag=city %}
	{% empty %}
		<span class="none">City in which the company exists</span>
	{% endfor %}
	{% if user.userprofile in members %}
    {% include "workplace/set_tags_head.html" with category='city' type='C' %}
  {% endif %}
{% elif workplace.workplace_type == 'B' %}
	{% for area in workplace.get_tags.industrial_area %}
		{% include "snippets/tag_short.html" with tag=area %}
	{% empty %}
		<span class="none">Industrial area in which company exists</span>
	{% endfor %}
	{% if user.userprofile in members %}
    {% include "workplace/set_tags_head.html" with category='ind_area' type='I' %}
  {% endif %}
{% elif workplace.workplace_type == 'C' %}
	{% for inst in workplace.get_tags.institution %}
		{% include "snippets/tag_short.html" with tag=inst %}
	{% empty %}
	<span class="none">Add parent institution</span>
	{% endfor %}
	{% if user.userprofile in members %}
    {% include "workplace/set_tags_head.html" with category='inst' type='P' %}
  {% endif %}
 {% elif workplace.workplace_type == 'O' %}
	{% for city in workplace.get_tags.city %}
		{% include "snippets/tag_short.html" with tag=city %}
	{% empty %}
		<span class="none">City in which your Institution lies</span>
	{% endfor %}
	{% if user.userprofile in members %}
    {% include "workplace/set_tags_head.html" with category='city' type='C' %}
  {% endif %}
  
{% endif %}