<div class="d_search has-feedback">
  <div class="input-group">
    <div class="input-group-addon">
    </div>
    <textarea id="id_{{search}}" class="form-control d_input" name="pre_{{search}}" rows=1 data-search={{search}} placeholder="{{placeholder}}" maxlength="100" autocomplete="off"></textarea>
    <span class="form-control-feedback">
      <i class="fa fa-pulse fa-spinner fback_wait hide"></i>
    </span>
  </div>
  <div class="dropdown">
    <ul class="dropdown-menu list-group d_menu">
      <div class="d_list many_list"></div>
      <a href="#create_{{search}}" class="list-group-item list-group-item-info create" data-toggle="collapse" data-parent="#{{parent}}"><i class="fa fa-plus"></i> Create New</a>
    </ul>
  </div>
  <input class="d_type" name="type" value="All" type="hidden">
  <input class="d_value" name={{search}} value="" type="hidden">
</div>