<div class="image_box" data-url="{{url}}">
  {% include "snippets/image_crop_modal.html" with name="photo" n=n %}
  {% if not image %}
  <a href="#" class="add_btn file_btn">
    <span class="fa fa-plus"></span>
    <span>Add Image</span>
  </a>
  {% endif %}
  <div class="image_preview_box {% if not image %}hide{% endif %}">
    <a class="image_preview file_btn">
      {% if image %}
      <img src="{{image.image_thumbnail_sm.url}}" alt="Current Image" />
      {% else %}
      <img src={{blank_gif}} alt="product image" />
      {% endif %}
    </a>
    <div class="aj_progress">
      <div class="level"></div>
    </div>
  </div>
  <div class="options text-center {% if not image %}hide{% endif %}">
    <a href="#" class="change file_btn"><span class="fa fa-crop" style="color: #555;"></span> Modify</a>
  </div>
</div>
