<form id="form_feed" class="ajax_andar" role="form" action="{% url 'nodes:post' %}" method="POST" enctype="multipart/form-data">
	<div class="input-group">
		<span class="input-group-addon">
			<a href="{% url 'user:profile' user.username %}">
				<img id="img_feed" class="thumb_small" width="32" height="32" src="{% if user.userprofile.get_profile_image %}{{ user.userprofile.get_profile_image }}{% else %}/images/thumbnails/user_man.jpg{% endif %}">
			</a>
		</span>
		<textarea rows="1" class="form-control seamless_l" name="post" placeholder="Post a feed..(it's not a question)" required></textarea>
		<span title="Add Image" data-toggle="tooltip" data-placement="left" class='btn btn-default btn-file input-group-addon seamless_r img_pre_in'>
			<i class="fa fa-camera"></i>
			<input id="id_image_0" type="file" name="image0">
  	</span>
	</div>
	<div class="img_pre hide" data-index=0>
	</div>
	<div class="textarea_bottom hide">
		<span class='btn btn-default btn-file fake_btn' data-btn='#id_image_0'>
    	<span class="fa fa-camera"></span> Add Photo
  	</span>
		<button class='btn btn-default pull-right form-ajax-filed'>
    	<span class="fa fa-bullhorn"></span> Post
  	</button>
	</div>
	{% csrf_token %}
</form>