<form id="form_feed" class="ajax_andar" role="form" action="{% url 'nodes:post' %}" method="POST" enctype="multipart/form-data">
	<div class="input-group">
		<span class="input-group-addon">
			<a href="{% url 'user:profile' user.username %}">
				<img id="img_feed" class="thumb_small" width="32" height="32" src="{% if user.userprofile.get_profile_image %}{{ user.userprofile.get_profile_image }}{% else %}/images/thumbnails/user_man.jpg{% endif %}">
			</a>
		</span>
		<input type="hidden" name="tag" value="{{ tag }}">
		<textarea rows="1" class="form-control" name="post" placeholder="Post a feed.. (If you have a question, go to Questions tab)" required></textarea>
		<span class="input-group-addon">
			<span title="Add Image" data-toggle="tooltip" data-placement="left" class='btn btn-default btn-file img_pre_in'>
				<span class="fa fa-camera fa-fw"></span>
				<input id="id_image_0" type="file" name="image0">
	  	</span>
  	</span>
	</div>
	<div class="img_pre hide" data-index=0>
	</div>
	<div class="textarea_bottom hide text-center">
		<button class='btn btn-default form-ajax-filed'>
    	<span class="fa fa-bullhorn"></span> Post
  	</button>
	</div>
	{% csrf_token %}
</form>