<div class="shell_container touched">
  <div class="shell_input open" data-form="#form_feed">
    <span class="fa fa-quote-left"></span>
    <span class="placeholder">Share an Update...</span>
  </div>
  <!--
  <div class="seperator">
    or
  </div>
-->
  <div class="shell_input" data-form="#form_ask">
    <span class="fa fa-lightbulb-o"></span>
    <span class="placeholder">Ask a Question...</span>
  </div>
</div>
<div class="shell_form_container">
  <div id="form_feed" class="shell_form open">
    <form class="ajax_andar" role="form" action="{% url 'nodes:post' %}" method="POST" enctype="multipart/form-data">
      <div class="input-group">
        <span class="input-group-addon">
          <a href="{% url 'user:profile' user.username %}">
            <img id="img_feed" class="thumb_small" width="32" height="32" src="{% if user.userprofile.get_profile_image %}{{ user.userprofile.get_profile_image }}{% else %}/images/thumbnails/user_man.jpg{% endif %}">
          </a>
        </span>
        <input type="hidden" name="tag" value="{{ tag }}">
        <textarea rows="2" class="form-control" name="post" placeholder="Share your thoughts for the industry, directly to the industry..." required></textarea>
        <span class="input-group-addon">
          <span title="Add Image" data-toggle="tooltip" data-placement="left" class='btn btn-default btn-file img_pre_in'>
            <span class="fa fa-camera fa-fw"></span>
            <input id="id_image_0" type="file" name="image0">
          </span>
        </span>
      </div>
      <div class="img_pre hide" data-index=0>
      </div>
      <div class="textarea_bottom text-right">
        <button class='btn btn-success form-ajax-filed'>
          <span class="fa fa-bullhorn"></span> Post
        </button>
      </div>
      {% csrf_token %}
    </form>
  </div>

  <div id="form_ask" class="shell_form">
    <form id="form_ask" class="article_form" enctype="multipart/form-data" action="{% url 'forum:ask' %}" method="POST" role="form">
      {% csrf_token %}
      <div class="form-group">
        <label class="control-label">Ask your Question here...</label>
        <input class="form-control" id="id_title" maxlength="255" name="title" type="text" placeholder="Whats your question? Keep it Short and Specific." required/>
      </div>
      <div class="form-group hide_pane">
        <label class="control-label">Provide further details (if any)...</label>
        <textarea class="form-control qa_wyg" id="post" name="question" rows="2"></textarea>
      </div>
      <div class="form-group">
        <div class="hide">
          <span title="Add Image" data-toggle="tooltip" data-placement="left" class='btn btn-default btn-file glyphicon glyphicon-camera input-group-addon seamless_r img_pre_in'>
            <input id="id_image_0" type="file" name="image0">
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="img_pre hide" data-index=0>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="id_tags">Topics under which Question Falls</label>
        {% include "snippets/d_search_tags.html" with search="tag" tags=t type="All" placeholder="Relevent tags build a quality question" %}
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="anonymous" value="true">Ask as Anynonymous</label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Ask</button>
      </div>
      <div class="well">
        <p>You can also Answer your own Question later if you get the answer from some other source or solve it yourself.</p>
        <p>See <a href="{% url 'forum:why_should_i_answer' %}">why should you answer on CoreLogs</a></p>
      </div>
    </form>
  </div>
</div>
