<div class="modal fade image_crop_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Resize and Reposition the Image</h4>
      </div>
      <div class="modal-body">
        <div class="select-image-btn btn btn-default"><span class="fa fa-picture-o"></span> Change Image</div>
        <div class="cropit-boundary">
          <div class="cropit-preview"></div>
        </div>
        <input type="range" class="cropit-image-zoom-input" />
        <input type="file" class="cropit-image-input ajax_image" />
        <button type="button" class="btn btn-info" data-dismiss="modal">Submit</button>
		    <input type="hidden" name="image-data" class="hidden-image-data" />
      </div>
    </div>
  </div>
</div>
