<div id="img_upload_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change your profile picture <small>(it won't be cropped)</small></h4>
      </div>
      <div class="modal-body">
        <form action="{% url url %}" role='form' method="post" enctype="multipart/form-data">
        	{% csrf_token %}
		      <div class="image-editor center-block">
		      	<span class='btn btn-default btn-file center-block'>
		        	Browse {{form}}
	        	</span>
		        <div class="cropit-image-preview"></div>
		        <div class="image-size-label text-center">
		          Resize image
		        </div>
		        <input type="range" class="cropit-image-zoom-input">
		        <div class="row">
		        	<button type="submit" class="btn btn-info col-sm-10 col-sm-offset-1">Submit</button>
	        	</div>
		      </div>
		    </form>
		    <input type="hidden" name="image-data" class="hidden-image-data" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>