{% spaceless %}
<form method="POST" action="{% url 'account_login' %}?next={{request.path}}">
  {% csrf_token %}
  <div class="form-group-sm">
    <label for="id_login">Username</label>
    <input id="id_login" class="form-control input-sm" type="text" placeholder="" name="login" maxlength="30" autofocus="autofocus">
  </div>
  <div class="form-group-sm">
    <label for="id_password">Password</label>
    <input id="id_password" class="form-control input-sm" type="password" placeholder="" name="password">
  </div>
  <div class="form-group-sm">
    <button class="primaryAction btn btn-primary btn-sm" type="submit">Sign in</button>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-group-sm forgot_pass">
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
  </div>
</form>
<div class="social_connect">
  {% if socialaccount.providers %}
  <h5>Login using one of your existing accounts</h5>
  <div class="socialaccount_ballot">
    {% include "socialaccount/snippets/provider_list_sm.html" with process="login" %}
  </div>
  {% include "socialaccount/snippets/login_extra.html" %}
  {% endif %}
</div>
{% endspaceless %}