<div id="login_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title stylize text-center"><strong>Log in</strong></h2>
      </div>
      <div class="modal-body">
        {% if socialaccount.providers %}
		    <div class="socialaccount_ballot">
		      <ul class="socialaccount_providers list-group">
		        {% include "socialaccount/snippets/provider_list.html" with process="login" signup="no" %}
		      </ul>
		    </div>
		    {% include "socialaccount/snippets/login_extra.html" %}
		    {% endif %}
		    <p class="text-info text-center">Or, if you have a CoreLogs account use your username to login</p>
	      {% csrf_token %}
    		<input id="id_login" class="form-control" type="text" placeholder="Username" name="login" maxlength="30" autofocus="autofocus">
    		<input id="id_password" class="form-control" type="password" placeholder="Password" name="password">
	      {% if redirect_field_value %}
	      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	      {% endif %}
	      <div class="form-group">
          <button class="primaryAction btn btn-primary center-block" type="submit">Sign in</button>
	      </div>
	      <div class="form-group text-center">
	        <a class="secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
	      </div>
        <!-- <script src="{{ STATIC_URL }}js/messages.typehead.js"></script> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default center-block" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>