<div class="feed_box answer" property='suggestedAnswer' typeof='Answer'>
	<div class="feed_box_heading">
			{% include "snippets/joint_name.html" with user=a.user anony=a.anonymous %}
			<time class='post_date' property='dateCreated'><small>{{ a.date }}</small></time>
	</div>
	<div class="row ajax_papa">
		<div class="col-sm-1 text-center vote_box ajax_papa">
			{% include "snippets/vote_box.html" with q_or_a='a' q=a %}
		</div>
		<div class="col-sm-11 ajax_papa">
			<div class="feed_box_body">
				<div class="a_detail">{{ a.answer|safe }}</div>
				{% for image in a.get_images %}
				<figure>
					<img src="/images/{{image.image}}">
				</figure>
				{% endfor %}
			</div>
			<div class="feed_box_extra">
				<h4 class="text-right">
					<span class="hide">{{ a.id }}</span>
					<a class="edit_ans"><small><span class="glyphicon glyphicon-cog"></span>Edit</small></a>
				</h4>
				<div class="comments">
				{% if a.get_comments %}
		    	{% for c in a.get_comments %}
						{% include "snippets/comment.html" with comment=c %}
		    	{% endfor %}
				{% endif %}
				</div>
				<div class="interaction">
	    		<a class="a_collapse">Comment</a>
			    <div class="collapse">
						{% include "snippets/comment_form.html" with type='a' post=a %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>