{% spaceless %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <div class="navbar-brand" title="Its the defining feature.. under construction!" data-toggle="tooltip" data-placement="bottom">
        <form id="top_search" action="" role="form">
          <div class="has-feedback">
            <input type="text" class="form-control" name="q" placeholder="Advanced Lookup ...">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </form>
      </div> -->
      <a class="navbar-brand" href="{% url 'home' %}">
        <span class="glyphicon glyphicon-home"></span>
        <span> CoreLogs</span>
      </a>
      <a class="navbar-brand" href="{% url 'forum:questions' %}">
        <span class="glyphicon glyphicon-tasks"></span>
        <span> Forum</span>
      </a>
      <a class="navbar-brand" href="{% url 'nodes:articles' %}">
        <span class="glyphicon glyphicon-book"></span>
        <span> Articles</span>
      </a>
      <button id="top_nav_toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="topNavbar">
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right top_user_info">
        <li id="notifications" class="hover_ajax" title="Notifications" data-toggle="tooltip" data-placement="bottom" data-url="/notify" data-active='no'>
          <a>
            <span class="glyphicon glyphicon-bell"></span>
            <span class="mob_only">Notifications</span>
          </a>
          <span class="badge"></span>
          <div class="dropdown">
            <div class="dropdown-menu hover_box">
            </div>
          </div>
        </li>
        <!-- 
        <li title="No No... nothing here yet" data-toggle="tooltip" data-placement="bottom">
          <a><span class="glyphicon glyphicon-comment"></span></a>
        </li>
        -->
        {% if user.userprofile.primary_workplace %}
        <li title="Your workplace profile" data-toggle="tooltip" data-placement="bottom">
            <a id="top_wp" class="top_info_box wp" href="{% url 'workplace:workplace_profile' user.userprofile.primary_workplace.slug %}">
              <span class="top_info_name">{{user.userprofile.primary_workplace}}</span>
              <span class="top_info_points">{{user.userprofile.get_workplace_points}}</span>
            </a>
        </li>
        {% endif %}
        <li title="Your personal profile" data-toggle="tooltip" data-placement="bottom">
          <a id="top_usr" class="top_info_box usr" href="{% url 'user:profile' user.username %}">
            <span class="top_info_name">{{user}}</span>
            <span class="top_info_points">{{user.userprofile.points}}</span>
          </a>
        </li>
        <li class="dropdown top_extra">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{% url 'set' %}">
                <span class="glyphicon glyphicon-briefcase"></span>
                <span> Set Workplace </span>
              </a>
            </li>
            <li>
              <a href="{% url 'details' %}">
                <span class="glyphicon glyphicon-wrench"></span>
                <span> Set Details </span>
              </a>
            </li>
            <li>
              <a href="{% url 'logout' %}">
                <span class="glyphicon glyphicon-log-out"></span>
                <span> Logout </span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      {% elif request.path != '/' and request.path != '/accounts/signup/' and request.path != '/accounts/login/' %}
      <ul class="nav navbar-nav navbar-right top_acc">
        <li id="top_login" class="dropdown top_login">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <span>Login</span>
          </a>
          <div class="dropdown-menu">
            {% include "snippets/login_box.html" %}
          </div>
        </li>
        <li id="top_signup" class="dropdown top_signup">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <span>Signup</span>
          </a>
          <div class="dropdown-menu">
            {% include "snippets/signup_box.html" %}
          </div>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
{% endspaceless %}