<div class="wp_card">
  <div class="logo"><img src="{{ w.get_logo }}" class="thmb_md"></div>
  <div>
    <h4><a href="{% url 'workplace:workplace_profile' w.slug %}">{{w}}</a></h4>
    <p>
      <span class="fa fa-bookmark fa-fw fa_close"></span>
      <span class="wp_card_type text-muted">( {{w.get_type}} )</span>
    </p>
    <p class="wp_card_loc text-muted">
      <span class="fa fa-map-marker fa-fw fa_close"></span>
      {% for tag in w.get_tags.city %}{% if forloop.counter0 %}, {% endif %}{{tag}}{% endfor %}
    </p>
  </div>
</div>
