{% if not what %}
	<li class="list-group-item option">Input atleast 3 characters</li>
{% endif %}

{% if what == "workplaces" %}
	{% for q in query|slice:":10" %}
	<a href="{% url 'workplace:workplace_profile' q.slug %}">
		<li class="list-group-item option">
			<img src="{{ q.get_logo }}">
			<span class="name">{{ q.name }}</span>
			<span class="details">{{ q.get_type }}</span>
		</li>
	</a>
	{% empty %}
	<li class="list-group-item option">Sorry, no results found</li>
	{% endfor %}
{% elif what == "users" %}
	{% for q in query|slice:":10" %}
	<a href="{% url 'user:profile' q.username %}">
		<li class="list-group-item option">
			<img src="{{q.userprofile.get_profile_image}}">
			<span class="name">{{ q.userprofile }}</span>
			<span class="details">{{ q.userprofile.job_position }} at {{ q.userprofile.primary_workplace }}</span>
		</li>
	</a>
	{% empty %}
	<li class="list-group-item option">Sorry, no results found</li>
	{% endfor %}
{% elif what == "products" %}
	{% for q in query|slice:":10" %}
	<a href="{% url 'products:product' q.slug %}">
		<li class="list-group-item option">{{ q }}</li>
	</a>
	{% empty %}
	<li class="list-group-item option">Sorry, no results found</li>
	{% endfor %}
{% elif what == "questions" %}
	{% for q in query|slice:":10" %}
	<a href="{% url 'forum:question' q.slug %}"><li class="list-group-item option">{{ q.title }}</li></a>
	{% empty %}
	<li class="list-group-item option">Sorry, no results found</li>
	{% endfor %}
{% elif what == "tags" %}
	{% for q in query|slice:":10" %}
	<a href="{% url 'tags:get_tag' q.slug %}">
		<li class="list-group-item option">{{ q }}</li>
	</a>
	{% empty %}
	<li class="list-group-item option">Sorry, no results found</li>
	{% endfor %}
{% elif what == "articles" %}
	{% for q in query|slice:":10" %}
	<a href="{% url 'nodes:node' q.slug %}">
		<li class="list-group-item option">{{ q.title }}</li>
	</a>
	{% empty %}
	<li class="list-group-item option">Sorry, no results found</li>
	{% endfor %}
{% endif %}