{% extends 'base.html' %}

{% load staticfiles %}

{% block head_css %}
  <link rel="stylesheet" href={% static 'css/form_card.css' %}>
{% endblock head_css %}

{% block title %}Inbox | CoreLogs{% endblock title %}

{% block page_id %}cover{% endblock page_id %}

{% block body %}
  <div class="container">
    <div class="row" style="margin-top: 1em">
      <div class="col-sm-3">
        <nav class="in_left">
          <header>
            <a href="#inbox_menu" data-toggle="collapse">Inbox (Recieved)</a>
          </header>
          <ul id="inbox_menu" class="nav nav-pills nav-stacked nav_activate collapse in">
            <li class="active">
              <a href="{% url 'inbox:inbox' %}" data-place="#inbox_content" class="ajax_a2">All</a>
            </li>
            <li>
              <a href="{% url 'inbox:inquiries' %}" data-place="#inbox_content" class="ajax_a2">Inquiries</a>
            </li>
            <li>
              <a href="{% url 'inbox:quotations' %}" data-place="#inbox_content" class="ajax_a2">Quotations</a>
            </li>
            <li>
              <a href="{% url 'inbox:messages' %}" data-place="#inbox_content" class="ajax_a2">Messages</a>
            </li>
          </ul>
          <header>
            <a href="#outbox_menu" data-toggle="collapse">Outbox (Sent)</a>
          </header>
          <ul id="outbox_menu" class="nav nav-pills nav-stacked nav_activate collapse">
            <li class="active">
              <a href="{% url 'inbox:outbox' %}" data-place="#inbox_content" class="ajax_a2">All</a>
            </li>
            <li>
              <a href="{% url 'inbox:sent_inquiries' %}" data-place="#inbox_content" class="ajax_a2">Inquiries</a>
            </li>
            <li>
              <a href="{% url 'inbox:sent_quotations' %}" data-place="#inbox_content" class="ajax_a2">Quotations</a>
            </li>
            <li>
              <a href="{% url 'inbox:sent_messages' %}" data-place="#inbox_content" class="ajax_a2">Messages</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-9">
        <div id="inbox_content">
          <div class="loading hide">
            <i class="fa fa-spin fa-spinner"></i>
          </div>
          <div class="content">
            {% include "inbox/20_messages.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
