{% extends 'base.html' %}

{% load staticfiles %}

{% block head_css %}
  <link rel="stylesheet" href={% static 'css/form_card.css' %}>
{% endblock head_css %}

{% block title %}Inbox | CoreLogs{% endblock title %}

{% block page_id %}cover{% endblock page_id %}

{% block body %}
  <div class="container">
    <div class="row" style="margin-top: 1em">
      <div class="col-md-3">
        <div class="list-group">
          <a href=''class="list-group-item active">All</a>
          <!--
          <a href=''class="list-group-item{% if active == inq %} active{% endif %}">Inquiries</a>
          <a href=''class="list-group-item{% if active == quot %} active{% endif %}">Quotations</a>
          <a href=''class="list-group-item{% if active == msg %} active{% endif %}">Messages</a>
        -->
        </div>
      </div>
      <div class="col-md-9">
        <div id="inbox_content">
          <div id="inbox_list" class="slider">
            <div class="mailbox">
              {% for result in result_list %}
              <div class="panel">
                <h4 {% if not result.seen %}class="strong"{% endif %}>
                  <a class="slide_a" href="#inbox_msg{{forloop.counter}}" data-parent="#inbox_list" data-type="up">
                  {% if result.lead_id %}
                    <span class="label label-success">Quotation</span>
                    <span class="trunc name">{{result.workplace}}</span>
                    <span class="subject trunc">Quotation on {{result.lead|truncatechars:'50'}}</span>
                    <time class="trunc">{{result.date}}</time>
                  {% elif result.message %}
                    <span class="label label-warning">Inquiry</span>
                    <span class="trunc name">{{result.user.userprofile}}</span>
                    <span class="subject trunc">
                      Inquiry on
                      {% if result.product %}
                      {{result.product|truncatechars:'50'}}
                      {% else %}
                      {{result.workplace|truncatechars:'50'}}
                      {% endif %}
                    </span>
                    <time class="trunc">{{result.date}}</time>
                  {% else %}
                    <span class="label label-info">Message</span>
                    <span class="trunc name">{{result.last_message_from.userprofile}}</span>
                    <span class="subject"><span class="trunc">{{result.get_last_message|truncatechars:'50'}} ({{result.get_msg_count}})</span></span>
                    <time class="trunc">{{result.date}}</time>
                  {% endif %}
                  </a>
                </h4>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="slider_container">
            {% for result in result_list %}
            <div id="inbox_msg{{forloop.counter}}" class="slider hide">
              <a class="slide_a back btn btn-default" href="#inbox_list" data-parent="#inbox_msg{{forloop.counter}}" data-type="right"><span class="fa fa-arrow-left"></span>Back to Inbox</a>
              <div class="inbox_msg">
                {% if result.lead_id %}
                  {% include "inbox/lead_msg.html" %}
                {% elif result.message %}
                  {% include "inbox/inquiry_msg.html" %}
                {% else %}
                  {% if result.user1 == user %}
                    {% include "inbox/msg_msg.html" with sender=result.user2 %}
                  {% else %}
                    {% include "inbox/msg_msg.html" with sender=result.user1 %}
                  {% endif %}
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
