<div class="top_opt">
  <a class="btn btn-default scrollto" href="#reply{{result.id}}"><span class="fa fa-reply"></span> Reply</a>
  <a class="btn btn-default" href="#quot{{result.id}}" data-toggle='modal'><span class="fa fa-reply-all"></span> Send Quotation</a>
</div>
<header>
{% if result.product %}
  <h4>Inquiry on <a href="{% url 'products:product' result.product.slug %}">{{result.product}}</a></h4>
{% else %}
  <h4>Inquiry on {{result.workplace}}</h4>
{% endif %}
{% with reply=result %}
<div class="joint_name_new">
  <img src="{{reply.workplace.get_logo}}" alt="{{reply.workplace}}">
  <div class="names">
    <a class="name" href="{% url 'user:profile' reply.user.username %}">{{ reply.user.get_full_name|default:user }}</a>
    <div class="extra">
      {% if result.user.userprofile.job_position %}
        {{result.user.userprofile.job_position}} at
      {% else %}
        Working at
      {% endif %}
      <a class="name" href="{% url 'workplace:workplace_profile' reply.workplace %}">{{ reply.workplace }}</a>
      <span class="pull-right">{{reply.date}}</span>
    </div>
  </div>
</div>
{% endwith %}
</header>
<div class="form_card">
  <div class="form-group">
    <div class="data_title">Message</div>
    <p class="data">{{result.message}}</p>
  </div>
</div>
<div id="reply{{result.id}}" class="reply">
  <form method="post" action="{% url 'messages:send_message' %}">
    <h4 class="hide"><span class="fa fa-reply"></span> Conversation Regarding Inquiry</h4>
    {% csrf_token %}
    <input name="person" value="{{result.user}}" autocomplete="off" type="hidden">
    <input type="hidden" name="subject" value="Conversation Regarding Enquiry">
    <textarea class="form-control" id="message" name="message" placeholder="Click here to Reply with a message" rows="3"></textarea>
    <div class="text-right" style="margin-top: 15px;">
      <button type="button" class="btn btn-primary hide msg_send">Send</button>
    </div>
  </form>
</div>
{% include "leads/quotation_modal.html" with enquiry=result %}
