<header>
  <h4>Quotation on <a href="{% url 'leads:lead' result.lead.slug %}">{{result.lead}}</a></h4>
</header>
{% include 'leads/one_reply.html' with reply=result %}
<div class='col-md-4'>
	<div class="reply" title="Send a message to {{result.user.userprofile}}" data-toggle="tooltip">
		<a class="btn btn-success" data-toggle='modal' data-target='#msg_modal' data-placement="bottom">
		<span class="fa fa-reply inline_fa"></span> Send a Reply</a>
	</div>
</div>
{% include "messages/reply_to_modal.html" with user=result.user %}