<div class="empty">
  <div class="dealing">
    <p>
      You dont have any messages.<br>
    </p>
  </div>
  <div class="action">
    <div class="row">
      <div class="col-sm-12">
        <div class="fa-stack fa-lg" style="margin-top: 12px;">
          <i class="fa fa-plus fa-stack-1x text-success" style="left: 45px; top: -16px;"></i>
          <i class="fa fa-envelope fa-stack-2x text-info"></i>
        </div>
        <div>
          <a class="btn btn-default btn_atent" href="#msg_modal" data-toggle='modal' style="margin: 5px 10px;">Star a Conversation Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
