<div class="modal fade success_modal" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-success text-center">
          Message sent!<br>
          <a href="{% url 'inbox:inbox' %}">Go to inbox to view all your messages.</a>
        </p>
        <div class="text-center">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
