.body {
  display: flex; }

.tile {
  position: relative; }

.pre_nav .nav_advert .btn {
  margin-left: 10px; }

.menu_left {
  position: absolute;
  z-index: 98;
  padding: 15px;
  top: 5px;
  left: 0;
  width: 180px;
  height: 100%;
  background: #f9f9f9; }
  .menu_left.affix {
    position: fixed;
    top: 56px; }
  .menu_left .toggle {
    display: inline-block;
    margin: 0 15px 5px;
    font-size: 25px;
    color: #ccc;
    position: relative;
    left: 0px; }
    @media (max-width: 768px) {
      .menu_left .toggle {
        margin-left: -5px; } }
  .menu_left a[data-status='closed'] {
    color: #000;
    transition: 0.5s all ease-out; }

.tab_list {
  list-style: none; }
  .tab_list a {
    display: block;
    padding: 7px 10px;
    margin: 5px;
    border-bottom: 1px solid #eee;
    color: #777;
    font-size: 16px;
    font-weight: 700;
    transition: 0.5s all ease-out; }
    .tab_list a:hover, .tab_list a:active, .tab_list a:focus {
      text-decoration: none;
      border-color: #197; }

.sub_menu a {
  color: #999;
  font-weight: 500;
  font-size: 15px;
  border: 0;
  margin: 0 15px 0 25px; }

footer {
  margin-top: 0; }

.inline_tags {
  background: #fff;
  border: 1px dashed #ccc;
  cursor: text; }
  .inline_tags:hover {
    background: rgba(255, 255, 255, 0.75); }
  .inline_tags.focus {
    border-color: #07a0c3; }
  .inline_tags input {
    border: 0;
    margin: 0;
    padding: 7px 12px;
    height: auto;
    font-size: 14px;
    display: inline-block;
    background: transparent; }
  .inline_tags .input_tags {
    margin: 10px 0 0 10px;
    /*         position: absolute; */ }
  .inline_tags .dropdown {
    top: 6px; }
  .inline_tags .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px; }

.flex_section {
  margin-left: 200px;
  display: flex;
  justify-content: space-around;
  margin-right: 25px; }
  @media (max-width: 768px) {
    .flex_section {
      margin-left: 25px; } }

.section_mid {
  flex: 3 1 30%;
  padding: 0 15px; }

.aside_right {
  flex: 1 2 20%; }

.eq_flex {
  padding: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch; }
  .eq_flex > div {
    flex: 1 1 40%; }

.wp_card_slim {
  position: relative;
  display: flex;
  border: 1px solid #eee;
  /*     width: 45%; */
  margin: 7px;
  min-width: 175px; }
  .wp_card_slim .logo {
    margin: 10px;
    /*         border-right: 1px solid #eee; */
    /*         align-self: center; */ }
    .wp_card_slim .logo img {
      width: 66px;
      height: 66px; }
  .wp_card_slim .info {
    position: relative;
    flex-grow: 1;
    height: 79px;
    overflow: hidden;
    margin-bottom: 7px; }
  .wp_card_slim h4 {
    font-size: 15px;
    padding-right: 65px;
    margin-bottom: 5px; }
  .wp_card_slim .dropdown {
    position: absolute;
    right: 5px;
    top: 7px; }
    .wp_card_slim .dropdown .dropdown-menu {
      border: 1px solid #ccc;
      padding: 0 15px; }
      .wp_card_slim .dropdown .dropdown-menu h4 {
        font-weight: 700;
        padding-right: 0; }
      .wp_card_slim .dropdown .dropdown-menu .btn {
        width: 100%;
        display: block;
        margin-bottom: 10px; }
  .wp_card_slim .btn-default {
    background-color: #f6f7f9;
    border-color: #ced0d4;
    color: #4b4f56; }
  .wp_card_slim .details {
    margin-bottom: 10px;
    min-height: 28px;
    font-size: 12px;
    color: #999;
    font-family: "Open Sans";
    line-height: 15px; }
    .wp_card_slim .details p {
      margin-bottom: 0;
      padding-top: 1px; }
    .wp_card_slim .details .diff {
      color: #666; }
    .wp_card_slim .details .btn {
      position: absolute;
      bottom: 7px; }
    .wp_card_slim .details .btn-default {
      background-color: #f6f7f9;
      border-color: #ced0d4;
      color: #4b4f56; }

.ajax_load2 {
  position: relative;
  min-height: 250px; }

.page_search_box {
  padding: 25px; }
  .page_search_box .form-group {
    max-width: 720px;
    margin: auto; }
  .page_search_box input {
    text-align: center;
    font-family: 'Titillium Web';
    font-weight: 300;
    display: block;
    width: 100%;
    line-height: 40px;
    border-radius: 15px;
    box-shadow: 0 0 0;
    border: 1px solid #ccc;
    font-size: 20px;
    padding: 0 45px 0px;
    outline: 0; }
    .page_search_box input:focus, .page_search_box input:active {
      box-shadow: 0 0 0;
      outline: 0;
      border-color: #07a0c3; }
  .page_search_box .fa {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #aaa; }
  .page_search_box .fa-search {
    position: absolute;
    left: 0px;
    font-size: 20px; }
  .page_search_box .form-control-feedback {
    width: 40px; }

.tile h3 {
  margin: 0 20px 15px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee; }

.xl_p {
  font-weight: 300; }

/*# sourceMappingURL=test.css.map */
