{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
  <div class="container">
    <div class="col-md-3">
      <a href="/internal/details/?q=ub" class="list-group-item {% if s == "ub" %}active{% endif %}">Users in
        SMEs</a>
      <a href="/internal/details/?q=ua" class="list-group-item {% if s == "ua" %}active{% endif %}">Users in Large
        Industries</a>
      <a href="/internal/details/?q=uc" class="list-group-item {% if s == "uc" %}active{% endif %}">Users in
        Teams</a>
      <a href="/internal/details/?q=uo" class="list-group-item {% if s == "uo" %}active{% endif %}">Users in
        Educational Institutions</a>
      <a href="/internal/details/?q=u" class="list-group-item {% if s == "u" %}active{% endif %}">Users - No
        Workplace</a>
      <a href="/internal/details/?q=wb" class="list-group-item {% if s == "wb" %}active{% endif %}">Workplace -
        SMEs</a>
      <a href="/internal/details/?q=wa" class="list-group-item {% if s == "wa" %}active{% endif %}">Workplace -
        Large Industries</a>
      <a href="/internal/details/?q=wc" class="list-group-item {% if s == "wc" %}active{% endif %}">Workplace -
        Teams</a>
      <a href="/internal/details/?q=wo" class="list-group-item {% if s == "wo" %}active{% endif %}">Workplace -
        Educational Institutions</a>
      <a href="/internal/details/?q=p" class="list-group-item {% if s == "p" %}active{% endif %}">Products
        listed</a>
      <a href="/internal/details/?q=wpt" class="list-group-item {% if s == "wpt" %}active{% endif %}">Workplace_tags
        created</a>
      <a href="/internal/details/?q=enq"
         class="list-group-item {% if s == "enq" %}active{% endif %}">Enquiries</a>
      <a href="/internal/details/?q=c" class="list-group-item {% if s == "c" %}active{% endif %}">Categories</a>
      <a href="/internal/details/?q=ms" class="list-group-item {% if s == "ms" %}active{% endif %}">Mailsend</a>
      <a href="/internal/details/?q=tt" class="list-group-item {% if s == "tt" %}active{% endif %}">Tags</a>
      <a href="/internal/details/?q=ee" class="list-group-item {% if s == "ee" %}active{% endif %}">Emails</a>
    </div>
    {% if not lis %}
      <h4>Mail Sent today = {{ c_s }}</h4>
      <h4>Total SMEs Registered = {{ sme_c }}</h4>
      <h4>Total Products Listed = {{ prod_c }}</h4>
      <h4>Total Inquiries = {{ inq_c }}</h4>
      <h4>Total Users = {{ u_c }}</h4>
      <h2>This Week Performance</h2>
      <h4>Total SMEs Registered = {{ sme_c_w }}</h4>
      <h4>Total Products Listed = {{ prod_c_w }}</h4>
      <h4>Total Inquiries = {{ inq_c_w }}</h4>
      <h4>Total Users = {{ u_c_w }}</h4>
    {% endif %}
    <div class="col-md-9">
      <form action="/internal/send_mail/" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ u.id }}" name="user_id">

        {% if lis %}
          <h2>{{ text }} ({{ c }})</h2>
          {% if tm == "q" %}
            <a href="/internal/send/?q=set_wp_all" class="tag" class="pull-right"><span
                class="value">Send mail to all</span></a>
            <button type="submit" value="set_wp_all" name="q">Send mail to all- Form</button>
          {% endif %}
          {% if tt == "p" %}
            <ol type="1">
              {% for u in lis reversed %}
                <li>{% if u.image %}+ {% endif %}
                  <a href="{% url 'activities:int_product' u.slug %}">{{ u.product }}</a>
                  <strong class="pull-right">{{ u.producer }}</strong>
                  {% for tag in u.get_tags %}
                    <a href="{% url 'tags:get_tag' tag.slug %}" class="tag"><span
                        class="value">{{ tag }}</span></a>
                  {% endfor %}
                </li>
                {% if u.get_cat %}
                  {% for c in u.get_cat %}
                    <span class="label label-info">{{ c }}</span>
                  {% endfor %}
                {% else %}
                  <a href="{% url 'products:c_r' %}?id={{ u.id }}" class="tag"><span
                      class="value"><strong>Category_Repeat</strong></span></a>
                {% endif %}
              {% endfor %}
            </ol>
          {% elif tt == "wpt" %}
            <ol type="1">
              {% for u in lis reversed %}
                <li>
                  <a href="{% url 'workplace:workplace_profile' u.workplace.slug %}">{{ u.workplace }}</a>
                  <strong class="pull-right">{{ u.tags }}</strong>
                  <em>( {{ u.get_category_display }} )</em>
                </li>
              {% endfor %}
            </ol>
          {% elif tt == "w" %}
            <!-- <ol type="1">  -->
            <table style="width:100%">
              <tr>
                <th>Company</th>
                <th>People</th>
                <th>Tags</th>
                <th>Info Score</th>
                <th>Products</th>
                <th>Send Mail</th>
              </tr>
              {% for u in lis reversed %}
                <tr>
                  <td><a href="{% url 'workplace:workplace_profile' u.slug %}">{{ u.name }}</a></td>
                  <td>{{ u.get_count }}</td>
                  <td>{{ u.get_tags_count }}</td>
                  <td>{{ u.get_info_score }}</td>
                  <td>{{ u.get_product_count }}</td>
                  <td>
                    <button type="submit" value="mail_wp_users&{{ u.id }}" name="q">Send mail
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </table>
            <!-- </ol> -->
          {% elif tt == "c" %}
            <ol type="1">
              {% for u in lis %}
                <li>
                  <a href="{% url 'activities:int_category' u.slug %}">{{ u }}</a>
                </li>
              {% endfor %}
            </ol>
          {% elif tt == "ms" %}
            <ol type="1">
              {% for u in lis %}
                <li>
                  {{ u.reasons }} ({{ u.from_email }})
                  <strong class="pull-right">{{ u.sent }}</strong>
                </li>
              {% endfor %}
            </ol>
          {% elif tt == "tt" %}

              {% for u in lis %}
                  <li>{{u.id}} : <a href='{% url 'tags:get_tag' u.slug %}' class="">{{u}}</a> : {{u.count}} <a href='{% url 'tags:delete_tag' u.slug %}' class=""> Delete</a></li>
              {% endfor %}
          {% elif tt == "ee" %}

              {% for u in lis %}
                  <li>{{u.id}} : {{u.email}} <a href='{% url 'contacts:unsubscribe' %}?email={{u.email}}' class=""> Unsubscribe</a></li>
              {% endfor %}
          {% else %}
            <ol type="1">
              {% for u in lis reversed %}
                <li>
                  <a href="{% url 'user:profile' u.username %}">{{ u.userprofile }}</a>
                  <a href="{% url 'user:set_o' u.username %}">Set WP</a>
                  <strong class="pull-right">{{ u.userprofile.get_provider }}</strong>
                  <a href="/internal/send/?q=set_wp&id={{ u.id }}" class="tag"><span class="value">Send mail</span></a>
                  <button type="submit" value="set_wp&{{ u.id }}" name="q">Send mail- Form</button>
                  <span class="value hide">{{ u.id }}</span>
                </li>
              {% endfor %}
            </ol>
          {% endif %}



          <div class="form-group">
            <label class="control-label"><h3>Subject... use '?:' in place of '{' and ':?' in place of
              '}'</h3></label>
            <input class="form-control open_input title_input" id="id_title" maxlength="255" name="subject"
                   type="text" placeholder="" required/>
          </div>
          <div class="form-group">
            <textarea class="form-control qa_wyg" id="post" name="mail" rows="5" placeholder="Email body..."></textarea>
          </div>
          <div class="form-group">
            <label class="control-label"><h3>arguments.. Send tuple like (up, up.primary_workplace)</h3>
            </label>
            <input class="form-control open_input title_input" id="id_title" maxlength="255"
                   name="arguments" type="text" placeholder="" required/>
          </div>
          <ul class="list-unstyled">
            <li>
              <button type="submit" value="meh" name="q">Send a test mail to sprksh.j</button>
            </li>

          </form>

        {% else %}
          <form action="/internal/send_mail/" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label class="control-label"><h3>Subject...</h3></label>
              <input class="form-control open_input title_input" id="id_title" maxlength="255"
                     name="subject" type="text" placeholder="" required/>
            </div>
            <div class="form-group">
              <textarea class="form-control qa_wyg" id="post" name="mail" rows="5" placeholder="Email body..."></textarea>
            </div>
            <div class="form-group">
              <label class="control-label"><h3>arguments..</h3></label>
              <input class="form-control open_input title_input" id="id_title" maxlength="255"
                     name="arguments" type="text" placeholder="" required/>
            </div>
            <ul class="list-unstyled">
              <li>
                <button type="submit" value="meh" name="q">Send a test mail to sprksh.j</button>
              </li>
              <li>
                <button type="submit" value="alh" name="q">Send a mail to all</button>
              </li>
              <li>
                <button type="submit" value="ah" name="q">Send a mail to LSI</button>
              </li>
              <li>
                <button type="submit" value="bh" name="q">Send a mail to SME</button>
              </li>
              <li>
                <button type="submit" value="ch" name="q">Send a mail to Team</button>
              </li>
              <li>
                <button type="submit" value="oh" name="q">Send a mail to Students</button>
              </li>
              <li>
                <button type="submit" value="nh" name="q">Send a mail to No Wp</button>
              </li>
              <li>
                <button type="submit" value="lh" name="q">Send a mail to List</button>
              </li>
              <li>
                <button type="submit" value="ranh" name="q">Send a mail to Random Function</button>
              </li>
            </ul>
          </form>
        {% endif %}
    </div>

    table, th, td {
    border: 1px solid black;
    }

    <a href="{% url "activities:int_add_product" %}"><i class="fa fa-opencart inline_fa"></i>Add Products</a>


    <script type="text/javascript" src={% static 'quill/quill.js' %}></script>
    <script type="text/javascript" src={% static 'quill/advanced.js' %}></script>


{% endblock body %}
