{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{tag}} | CoreLogs{% endblock title %}

{% block meta_description %}{{ tag.description }}{% endblock meta_description %}

{% block left %}
  <div id="img_profile_box">
    {% url 'activities:int_category_add_image' category.slug as add_link %}
    {% include "snippets/edit_image_box.html" with name="photo" n=1 url=add_link image=category.image %}
  </div>
{% endblock left %}

{% block content %}
<div class="panel-body">
	<div class="col-sm-7">
	<h4 class=" text-uppercase">{{ category }}</h4>
	</div>
</div>
<div class="panel-body">
	{% if category.level == '1' %}
	{% elif category.level == '2' %}
	{% for a in category.get_parent_cat %}
	<a href="{% url 'activities:int_category' a.slug %}">{{a}}</a>
	{% endfor %}
	{% elif category.level == '3' %}
	{% for a in category.get_parent_cat %}
	{% for b in a.get_parent_cat %}
	<a href="{% url 'activities:int_category' b.slug %}">{{b}}</a>
	{% endfor %}
	<a href="{% url 'activities:int_category' a.slug %}">{{a}}</a>
	{% endfor %}
	{% endif %}
</div>

{% endblock content %}
