{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} CoreLogs | About Us {% endblock title %}

{% block page_id %}about{% endblock page_id %}

{% block body%}
<div class="">
	<div class="about_section text-center">
		<div class="content">
			<h1>About CoreLogs</h1>
			<p class="xl_p">CoreLogs is one-stop Business Enabling platform for SMEs giving all SMEs a uniform identity on Internet, helping them connect with each other and providing a basic CRM (Customer Relationship Management) services.)
			</p>
			<div class="fa_block">
				<span class="fa fa- fa-5x"></span>
				<span class="fa fa-industry fa-5x"></span>
				<span class="fa fa-plus fa-2x"></span>
				<span class="fa fa-cubes fa-5x"></span>
				<span class="fa fa-plus fa-2x"></span>
				<span class="fa fa-users fa-5x"></span>
				<span class="fa fa-plus fa-2x"></span>
				<span class="fa fa-rss fa-5x"></span>
			</div>
		</div>
	</div>
	<div class="about_section">
		<div class="content">
			<h2>What you can do on CoreLogs ?</h2>
			<p class="text-center">Simply put, a lot.</p>
			<div class="banner">
				<span class="fa fa-industry"></span>
				<p><span class="service">Workplace Profile</span> is meant to replace the need of a personal website for each company providing a more efficient way to fullfil the same need.</p>
			</div>
			<div class="banner">
				<span class="fa fa-cubes"></span>
				<p><span class="service">The Marketplace</span> is an agglomeration of products sold by the small and medium scale enterpises to another business or individual. List your product or find one, its a hassle free service.</p>
			</div>
			<div class="banner">
				<span class="fa fa-rss"></span>
				<p><span class="service">The Feed</span> is an attempt to bring the huge number of Engineering Minds in the country to a common platform, discussing, exploring and solving problems in a new yet powerful way. Q&amp;A, Articles and the latest updates everything is there.</p>
			</div>
			<div class="banner">
				<span class="fa fa-users"></span>
				<p>And above all its the <span class="service">People</span> we don't want to loose our focus on. A company is nothing without the people behind it. You can always find people you need in your professional life.</p>
			</div>
		</div>
	</div>
	<div class="about_section about_centered">
		<div class="content">
			<h2>What's already there at CoreLogs ?</h2>
			<p>More than <span class="green">3000 users</span> from over <span class="green">1000 industries, institutes and engineering teams</span> are already active. Industries accross the country have listed over <span class="green">1000 Products</span> accross <span class="green">300 + Categories</span> on the Marketplace and curious minds are bringing new questions and their solutions at the Engineer's Forum.</p>
			<p>CoreLogs is under developement at the time and selected companies and students are invited as a part of the beta phase. Feel free to try out the platform for yourself and your company.</p>
			</p>
		</div>
	</div>
	<div class="about_section about_centered">
		<div class="content">
			<h2>Where are we heading ?</h2>
			<p>Being a one stop platform for SMEs, the manufacturing industries. You want to find different manufacturers &amp; suppliers of a product or a product category, companies which have setup &amp; machinery to perform particular operation, get to know about a company, the people in it, get connected to people in it, place order directly or anything, you come to CoreLogs.</p>
			<p>You want to get connected to the whole SME community update it about something, you want to discuss some technical or industry related problem with this community, you come to CoreLogs.</p>
			<p>And of course, you own or work for an SME, you want to list products, get a seller's backend, handle product inquiries and orders seamlessly get a company profile for your SME where all industries are there already, you want your company to appear in searches based on operations, machinery etc, you come to CoreLogs.</p>
			<p>In short, we are heading to become an entire Social Network of SMEs.</p>
		</div>
	</div>
	<div class="about_section about_centered">
		<div class="content">
			<h2>Who is telling you all this ?</h2>
			<p>CoreLogs is a Startup headquartered in Bangalore. We are a small team of passionate engineers graduated from IITs &amp; NITs. We have spent a long time being part of an Automobile team, visiting SMEs, getting help &amp; helping them, exploring the challenges we seek to solve here. We have seen Industries inside out and are no strangers to the conditions prevailing in the segement in our country.
			</p>
			<div class="team">
				<div class="teammate">
					<img class="lazy_img" src="/images/user_admin.png" data-src="/images/sp.jpg" alt="Surya Prakash, CEO">
					<h4>Surya Prakash</h4>
					<h5>CEO, Co-founder</h5>
					<p>a.k.a SP, a visionary, a thinker, a Production &amp; Industrial Engineering graduate. SP heads the product &amp; Engineering at CoreLogs. Not a Coder but codes to make things happen.</p>
				</div>
				<div class="teammate">
					<img class="lazy_img" src="/images/user_admin.png" data-src="/images/artst.jpg" alt="Arvind Tiwari, CTO">
					<h4>Arvind Tiwari</h4>
					<h5>CTO, Co-founder, Fresh</h5>
					<p>A fresh CS graduate from NIT Jamshedpur, has a keen interest for the web. Coder by day, Coder by night. Sometimes he is found playing Football. Normally works for 20 hours in continuity.</p>
				</div>
				<div class="teammate">
					<img class="lazy_img" src="/images/user_admin.png" data-src="/images/artst.jpg" alt="Arvind Tiwari, CTO">
					<h4>Santosh Mishra</h4>
					<h5>Marketing Intern</h5>
					<p>A fresh Mechanical Engineer, A person with connections in the Formula &amp; Baja Teams, organizers and everybody else.</p>
				</div>
			</div>
			<p class="text-muted">If you're interested in what we're doing and would like to chat with us, drop us an email at <a target="_blank" href="mailto:info@corelogs.com">info@corelogs.com</a>.</p>
		</div>
	</div>
</div>
	
{% endblock body %}