{% extends 'base.html' %}
{% load staticfiles %}
{% load account %}

{% block back %}
	<div id="cover_back_default" class="cover_back"></div>
{% endblock back %}

{% block page_id %}about{% endblock page_id %}

{% block body %}
<div class="container">
	<h1>About Us</h1>
	<h2>CoreLogs is more of a revolution than a website.</h2>
	<p>Launched recently, Corelogs is one of the fastest growing website in the knowledge sharing domain globally. The website mainly focusses on the core segment of engineering which includes mechanical, industrial, automobile, manufacturing, electrical, chemical and related branches of engineering or by the way the entire community of engineers, research scholars, professors, industrialists from small &amp; medium scale industries. It is planning to create a platform where people in these segments can ask general &amp; technical questions and get reliable answers from industry experts and likeminded professionals and fellow researchers. We strictly monitor the kind of questions being asked on the website so as to maintain the quality and reliability of the content.</p>
	<h2>The Philosophy</h2>
	<p>The core segment of engineering was lacking any common platform where you can get unbiased and healthy views of learned and likeminded people. Those which exist like cfd-online and baja-forums are highly specific about the content relating to only one particular field. CoreLogs is trying to solve this problem by creating one integrated platform for technical questions and discussion from topics related to all the engineering branches in core segment.</p>
	<p>Another thing is the problems faced by small and medium scale industries in the manufacturing sector. These people have to pay money to list their products, create and maintain a website, get expert opinions from consultants. They have to pay too much money if they need to use modelling and analysis software as license fee which makes it very difficult for them to expand and grow. We are here to combat these shortcomings. CoreLogs is here to create an open community collaboratively solving each other’s problem and help each other grow thus accelerating the rate of development.</p>
	<h2>The Intention</h2>
	<p>CoreLogs is here with all the good intentions of creating an active and vibrant community of people in the core segment and revolutionizing the growth of this segment by bringing the concept of open source to this segment be it hardware, software or knowledge.</p>
</div>
{% endblock body %}