{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} CoreLogs | About Us {% endblock title %}

{% block page_id %}about{% endblock page_id %}



{% block body%}
<div class="container">
<div class="col-md-3">
	<a href="/about" class="list-group-item active">
	About Us
	</a>
	<a href="/contact" class="list-group-item">
	Contact Us
	</a>
	<a href="/sitemap" class="list-group-item">
    Sitemap
    </a>
	<a href="/sitemap" class="list-group-item">
    Terms &amp; Privacy
    </a>
	<a href="/sitemap" class="list-group-item">
    Our Team
    </a>
</div>
<div class="col-md-7">
	  
	<h3 class="text-center">About CoreLogs</h3>
	<h2>For people related to Small Medium & Large Scale Industries:</h2>
	<p>CroeLogs is a website for the people in small & medium scale industries to connect with each other and with large scale industries. 
	It is a platform for manufacturing industries which they can use the way they want for free. On CoreLogs you signup, 
	register your company and get connected to the online community of Engineers, Industrialists and Industrial experts across the world.</p>
	<li>You get a company profile page which will be the front page of your company on internet.</li>
	<li>You can list down your products, services, capabilities, assets(machinery) and other details.</li>
	<li>People who are interested in your company or products can directly connect to you through messages.</li>
	<li>The details of your company will attract people to your company based on searches.</li>
	<li>Also, you can put your technical & industry related questions on the Forum to get it answered.</li>
	<p></p>
	<p>CoreLogs is planning to expand fast and increase its Industry base so as to get a big majority of manufacturing industries on 
	the website and act as a platform for the interaction within companies and the interaction of small industries to the engineers
	& managers in Large industries.</p>
	<h2>For people related to Educational Institutions & SAE related Teams:</h2>
	<p>For College students working in Automobile & Aero design teams and participating in competitions like Baja SAE, Formula SAE, Effeicycle, Supermileage 
	etc, CoreLogs is one big platform to connect with other teams, experts and Small & medium scale manufacturing industries which may help you 
	in various manufacturing tasks. For Engineering students in colleges, <a href="/forum/">The Engineer's Forum</a> can be a great platform to ask and
	answer Project related technical questions.</p>
	<li>You get a Team profile page which may serve the purpose of your team website.</li>
	<li>You can ask and answer technical and event related questions on the Forum</li>
	<li>Get connected to the world of Engineers & Industrialists.</li>
	<p></p>
	<p>CoreLogs is here with all the good intentions of creating an active and vibrant community of people in the core segment and revolutionizing
	the growth of this segment by bringing the concept of open source to this segment be it hardware, software or knowledge. </p>
	
	
	
	
	<p></p>
	<p>If you're interested in what we're doing and would like to chat with us, drop us an email at <a target="_blank" href="mailto:info@corelogs.com">info@corelogs.com</a>.</p>

</div>
</div>	
	
{% endblock body %}