{% load staticfiles %}

<!DOCTYPE html>
<!--
    This is the 'base' template, never loaded
-->
<html>
<head vocab="http://schema.org/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block meta_description %}A platform for the entire core segment of engineering{% endblock meta_description %}">
  <meta name="keywords" content="{% block meta_keywords %}Core, Industry, SME, Engineers, Baja, Formula, Mechanical, Manufacturing{% endblock meta_keywords %}">
  <!-- og protocol for social sites -->
  <meta property="og:image" content="{% block meta_og_image %}{% static 'css/cover_back_default.jpg' %}{% endblock %}">
  <!-- facebook domain insight -->
  <meta property="fb:app_id" content="1584559205143714">
  <!-- microsoft analytics -->
  <meta name="msvalidate.01" content="6848A0595F7485608A2CAB51CBDA4D0F">

  <title>
    {% block title %}Corelogs{% endblock title %}
  </title>
    
  <link rel="icon" href="{% static 'css/icon.ico' %}">
  
  <!-- google fonts -->
  <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans|Nova+Flat'>
  <!-- third party -->
  <link rel="stylesheet" type="text/css" href={% static 'bootstrap/css/bootstrap.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'fontawesome/css/font-awesome.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/my.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/cl_main.css' %}>
  {% block head_css %}
  <!-- custom files (remove from here and inhertit at next level) -->
  <link rel="stylesheet" type="text/css" href={% static 'css/aRt.css' %}>
  {% endblock head_css %}
  
  <!-- third party -->
  <script type="text/javascript" src={% static 'js/jquery-2.1.4.js' %}></script>
  <script type="text/javascript" src={% static 'bootstrap/js/bootstrap.js' %}></script>
  
  {% block head_js %}
  <!-- not basic implement at sublevels -->
  <script type="text/javascript" src={% static 'js/jquery.cropit.js' %}></script>
  <script type="text/javascript" src={% static 'js/autosize.js' %}></script>
  <script type="text/javascript" src={% static 'js/bootstrap-wysiwyg.js' %}></script>
  <script type="text/javascript" src={% static 'js/jquery.hotkeys.js' %}></script>

  <script>
    var count_url = {% url 'count_notify' %};
  </script>
  {% endblock head_js %}
</head>

<body vocab="http://schema.org/"  typeof="{% block pg_schema %}{% endblock pg_schema %}">
  {% block back %}
  {% endblock back %}
  {% block top %}
    {% include "snippets/top_navigation.html" %}
  {% endblock top %}
  <div id="{% block page_id %}{% endblock page_id %}" class="body">
    {% block body %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-0 col-md-2 col-lg-2">
          {% block left %}
          {% endblock left %}
        </div>
        <div class="col-sm-9 col-md-7 col-lg-7">
          {% block content %}
          {% endblock content %}
        </div>
        <div id="right" class="col-sm-3 col-md-3 col-lg-3">
          {% block right %}
          {% endblock right %}
        </div>
      </div>
    </div>
    {% endblock body %}
  </div>
  {% block foot %}
  <footer class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-2">
        <h3>
          <a href="{% url 'about' %}">About Us</a>
        </h3>
      </div>
      <div class="col-xs-6 col-sm-2">
        <h3>
          <a href="{% url 'sitemap' %}">Sitemap</a>
        </h3>
      </div>
      <div class="col-xs-12 col-sm-3 connect text-center">
        <h3>Connect with us</h3>
        <a target="_blank" href="https://www.facebook.com/corelogs.page"><i class="fa fa-facebook"></i></a>
        <a target="_blank" href="https://www.plus.google.com/+Corelogs"><i class="fa fa-google-plus"></i></a>
        <a target="_blank" href="https://www.twitter.com/Corelogstwt"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://www.linkedin.com/company/corelogs"><i class="fa fa-linkedin"></i></a>
        <a target="_blank" href="https://angel.co/corelogs"><i class="fa fa-angellist"></i></a>
      </div>
      <div class="col-xs-12 col-sm-5 contact">
        <h3 class="text-center">Contact Us</h3>
        <div class="row">
          <div class="col-xs-6 text-right">
            <div>Surya Prakash</div>
            <div>+91 - 9472705962</div>
            <div><a target="_blank" href="mailto:sprksh.j@gmail.com">sprksh.j@gmail.com</a></div>
          </div>
		  
          <div class="contact_mid">
            <div><i class="fa fa-user-secret"></i></div>
            <div><i class="fa fa-whatsapp"></i></div>
            <div><i class="fa fa-envelope"></i></div>
          </div>
          <div class="col-xs-6 text-left">
            <div>Arvind Tiwari</div>
            <div>+91 - 9470918684</div>
            <div><a target="_blank" href="mailto:tiwariav@gmail.com">tiwariav@gmail.com</a></div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% endblock foot %}

  {% block end_js %}
  <script type="text/javascript" src={% static 'js/not_my.js' %}></script>
  <script type="text/javascript" src={% static 'js/my.js' %}></script>
  {% endblock end_js %}
  {% include "snippets/google_analytics.html" %}
</body>
</html>