{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head vocab="http://schema.org/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block meta_description %}A Business Enabling Platform for SMEs and Manufacturing Industries{% endblock meta_description %}">
  <meta name="keywords" content="{% block meta_keywords %}CoreLogs, Industry, SME, Engineers, Baja, Formula, Mechanical, Manufacturing{% endblock meta_keywords %}">
  
  <!-- og protocol for social sites -->
  <meta property="og:site_name" content="CoreLogs">
  <meta property="og:title" content="{% block meta_og_title %}CoreLogs, Platform for SMEs{% endblock %}">
  <meta name="description" content="{% block meta_og_description %}A Business Enabling Platform for SMEs and Manufacturing Industries{% endblock meta_og_description %}">
  <meta property="og:url" content="{% block meta_og_url %}http://www.corelogs.com{{ request.path }}{% endblock %}">
  <meta property="og:type" content="{% block meta_og_type %}website{% endblock meta_og_type %}">
  {% block meta_og_type_extra %}
  {% endblock meta_og_type_extra %}
  <meta property="og:image" content="http://www.corelogs.com{% block meta_og_image %}{% static 'css/screenshot2.jpg' %}{% endblock %}">
  <meta property="og:image:type" content="image/jpeg">
  {% block meta_og_image_dim %}
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="600">
  {% endblock meta_og_image_dim %}
  
  <!-- facebook domain insight -->
  <meta property="fb:app_id" content="1584559205143714">
  <meta property="fb:admins" content="100001247536612">
  
  <!-- microsoft analytics -->
  <meta name="msvalidate.01" content="6848A0595F7485608A2CAB51CBDA4D0F">

  <title>{% block title %}Corelogs, Platform for SMEs{% endblock title %}</title>
    
  <link rel="icon" href="{% static 'css/icon6.png' %}">
  
  <!-- google fonts -->
 <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700|Lora:400,400italic,700,700italic|Open+Sans:300,400,400italic,700,700italic|Titillium+Web:300,400' rel='stylesheet' type='text/css'>
  
  <!-- third party -->
  <link rel="stylesheet" href={% static 'bootstrap/css/bootstrap.css' %}>
  <link rel="stylesheet" href={% static 'fontawesome/css/font-awesome.css' %}>
  <link rel="stylesheet" href={% static 'css/my.css' %}>
  <link rel="stylesheet" href={% static 'css/cl_main.css' %}>
  
  {% block head_css %}
  <!-- local css files (to be added at level 2) -->
  {% endblock head_css %}
  
  <!-- third party -->
  <script type="text/javascript" src={% static 'js/jquery-2.1.4.js' %}></script>
  <script type="text/javascript" src={% static 'bootstrap/js/bootstrap.js' %}></script>
  
  {% block head_js %}
  <!-- not basic implement at sublevels -->
  <script type="text/javascript" src={% static 'js/jquery.cropit.js' %}></script>
  <script type="text/javascript" src={% static 'js/autosize.js' %}></script>
  <script type="text/javascript" src={% static 'js/bootstrap-wysiwyg.js' %}></script>
  <script type="text/javascript" src={% static 'js/jquery.hotkeys.js' %}></script>

  <script>
    var count_url = "{% url 'count_notify' %}";
    var msg_count_url = "{% url 'messages:check_message' %}";
  </script>
  {% endblock head_js %}
</head>

<body vocab="http://schema.org/"  typeof="{% block pg_schema %}{% endblock pg_schema %}">
  {% block top %}
    {% include "snippets/top_navigation.html" with what="Products" %}
  {% endblock top %}
  <div id="{% block page_id %}{% endblock page_id %}" class="body" data-spy="affix" data-offset-top="50">
    {% block body %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-0 col-md-2 col-lg-2">
          {% block left %}
          {% endblock left %}
        </div>
        <div class="col-sm-9 col-md-7 col-lg-7">
          {% block content %}
          {% endblock content %}
        </div>
        <div id="right" class="col-sm-3 col-md-3 col-lg-3">
          {% block right %}
          {% endblock right %}
        </div>
      </div>
    </div>
    {% endblock body %}
  </div>
  
  <div class="farzi" style="display:none;">
  </div>
  {% block foot %}
  <footer class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 foot_desc">
        <div class="foot_logo">
          <img src="{% static 'css/cl_logo_wh.png' %}">
        </div>
        <p class="text-justify">
          CoreLogs is a Business enabling website for SMEs and a platform to connect the SMEs to the world and vice versa. The CoreLogs Profile of an SMEs is now the front page of that SME on internet. Apart from that, CoreLogs provides the SMEs with a unique and sophisticated product listing platform. Here they can select their target audience and get their products featured in the Marketplace. CoreLogs also provides the SAE teams and Racing enthusiasts with a platform where they can buy and sell mechanical components and racing accessories.
        </p>
      </div>
      <div class="col-xs-6 col-sm-4 connect text-center">
        <h3>Follow CoreLogs on</h3>
        <ul>
          <li><a target="_blank" href="https://www.facebook.com/corelogs.page"><i class="fa fa-facebook"></i></a></li>
          <li><a target="_blank" href="https://www.plus.google.com/+Corelogs"><i class="fa fa-google-plus"></i></a></li>
          <li><a target="_blank" href="https://www.twitter.com/Corelogstwt"><i class="fa fa-twitter"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/company/corelogs"><i class="fa fa-linkedin"></i></a></li>
          <li><a target="_blank" href="https://angel.co/corelogs"><i class="fa fa-angellist"></i></a></li>
        </ul>
      </div>

  	  <div class="col-xs-6 col-sm-4 foot_links">
  			<h3>
          <i class="fa fa-link"></i>LINKS
  			</h3>
  			<ul class="list-unstyled">
    			<li>
    			<a class="" href="/about">About CoreLogs</a>
    			</li>
    			<li>
    			<a class="" href="{% url 'sitemap' %}">Sitemap</a>
    			</li>
    			<li>
    			<a class="" href="/about">Careers</a>
    			</li>
    			<li>
    			<a class="" href="/contact">Contact Us</a>
    			</li>
    			<li>
    			<a class="" href="/terms">Terms and Privacy</a>
    			</li>
  			</ul>
      </div>
    </div>
  </footer>
  {% endblock foot %}

  {% block end_js %}
  <script type="text/javascript" src={% static 'js/not_my.js' %}></script>
  <script type="text/javascript" src={% static 'js/my.js' %}></script>
  {% endblock end_js %}

  <!-- {% include "snippets/google_analytics.html" %} -->
</body>
</html>