{% load staticfiles %}

<!--
    This is the 'base' template, never loaded
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content={% block keywords %}"Industry, Network, Grid, Professional, Revolutionary"{% endblock %}>
    <meta name="description" content={% block description %}"A modern and revolutionary networking solution for Industrial Networking"{% endblock %}>
    <meta name="author" content={% block author %}"SP & Tiwari"{% endblock %}>

    <title>Industryio - {% block title %}the massive industrial Grid{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href={% static 'bootstrap/css/bootstrap.css' %}>
    <script type="text/javascript" src={% static 'js/jquery-2.1.4.js' %}></script>
    <script type="text/javascript" src={% static 'bootstrap/js/bootstrap.js' %}></script>
    <!-- custom files -->
    <link rel="stylesheet" type="text/css" href={% static 'css/un-bootstrap.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'css/my.css' %}>
    <script>
        // this script activates the tooltips
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>

<body>
    {% block back %}
    <div id="back"></div>
    {% endblock %}
    {% block top %}
    <div class="row page-header">
        <div class="col-sm-6" >
            <h1 class="top_h1">Industry Logger</h1>
        </div>
        <div class="col-sm-6">
            <form role="form" id="top_search">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="q" placeholder="Search the industrial grid . . .">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    <script type="text/javascript">
        // this script handles the action when a 'fake_a' class is clicked
        $('.fake_a').click(function(){
            var $this = $(this)
            ,   href = $this.data('href')
            ,   hide_slide = $this.parents('.slide')
            ,   show_slide = hide_slide.siblings();
        });
        
        // a dummy list
        var list = ["tata steel", "tata consultancy services", "honda", "industriyo"];

        // dynamic select function
        $('.d_input').keyup(function(event){
            var $this = $(this)
            ,   list_display = [];
            var query = $this.val();
            var query_final = query.toLowerCase();
            console.log(query_final);
            if(query_final != ''){
                for(i = 0; i < list.length; i++){
                    var match = list[i].match(query_final);
                    if (match){
                        list_display.push(list[i]);
                    }
                }
            }
            console.log(list_display.valueOf());
            var list_html = [];
            for(i = 0; i < list_display.length; i++){
                list_html += ("<li><a href=''>"+list_display[i]+"</a></li>");
            }
            $("#industries").html(list_html);
        });

        // displaying the dynamically formed list
        $(".d_input").focus(function(){
            $("#industries").css({'display':'block'});
        });
        // hiding the dynamically formed list
        $(".d_input").blur(function(){
            $("#industries").css({'display':'none'});
        });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61433891-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>