<div class="col-xs-12 col-sm-5 contact">
        <h3 class="text-center">Contact Us</h3>
        <div class="row">
          <div class="col-xs-6 text-right">
            <div>Surya Prakash</div>
            <div>+91 - 9472705962</div>
            <div><a target="_blank" href="mailto:sprksh.j@gmail.com">sprksh.j@gmail.com</a></div>
          </div>
		  
          <div class="contact_mid">
            <div><i class="fa fa-user-secret"></i></div>
            <div><i class="fa fa-whatsapp"></i></div>
            <div><i class="fa fa-envelope"></i></div>
          </div>
          <div class="col-xs-6 text-left">
            <div>Arvind Tiwari</div>
            <div>+91 - 9470918684</div>
            <div><a target="_blank" href="mailto:tiwariav@gmail.com">tiwariav@gmail.com</a></div>