{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} CoreLogs | About Us {% endblock title %}

{% block page_id %}about{% endblock page_id %}



{% block body%}
<div class="container">
<div class="col-md-3">
	<a href="/about" class="list-group-item">
	About Us
	</a>
	<a href="/contact" class="list-group-item active">
	Contact Us
	</a>
	<a href="/sitemap" class="list-group-item">
    Sitemap
    </a>
	<a href="/terms" class="list-group-item">
    Terms & Privacy
    </a>
	<a href="/team" class="list-group-item">
    Our Team
    </a>
</div>
<div class="col-md-7">
    <h3 class="text-center">Contact Us</h3>
        <p>CoreLogs is a Startup based in Bangalore. We are a small team of passionate engineers who are determined to change the world of Core
		Segment Engineers, Small & Medium Scale Industries and Engineering College students. We are growing fastly in terms of userbase.
		</p>
		<p>Surya Prakash </p>
		(Co-Founder)
		<div>+91 - 9472705962</div>
        <div><a target="_blank" href="mailto:sprksh.j@gmail.com">sprksh.j@gmail.com </a></div>
		<p></p>
		<p>For reporting any bugs or problems with the functioning of the site, please mail us at 
		<a target="_blank" href="mailto:admin@corelogs.com">admin@corelogs.com </a></p>
		<p>If you want to change any Information provided by you like any typing error etc. that you cannot correct please mail us at 
		<a target="_blank" href="mailto:admin@corelogs.com">admin@corelogs.com </a></p>
		<p>If you have any confusion regarding any functionality of the site, its usability or any general query, mail us at 
		<a target="_blank" href="mailto:info@corelogs.com">info@corelogs.com </a></p>
		<p>If you are from a small or medium scale industry, please connect with us directly at 
		<a target="_blank" href="mailto:sp@corelogs.com">sp@corelogs.com </a></p>
		
	</div>
	
{% endblock body %}