{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} CoreLogs | About Us {% endblock title %}

{% block page_id %}about{% endblock page_id %}

{% block body%}
<div class="">
	<div class="about_section about_centered">
		<div class="content">
			<h1><span class="fa fa-bullhorn"></span>&nbsp; Contact Us ...!</h2>
			<p>CoreLogs is a Startup currently based at Bangalore. We are a team of engineers passionate for the job we do.<br></p><p>
			We are also excellent at catching up with people interested in our work over a cup of cofee, or a mug of beer or a few keystrokes<br>: )</p>
			<p class="text-muted text-left">If you're interested in what we're doing and would like to chat with us, drop us an email at <a target="_blank" href="mailto:info@corelogs.com">info@corelogs.com</a>.</p>
			<p class="text-muted text-left">For reporting any bugs or problems with the functioning of the site, or to change any Information provided by you that you cannot correct please mail us at <a target="_blank" href="mailto:admin@corelogs.com">admin@corelogs.com </a></p>
			<p class="text-muted text-left">If you have any confusion regarding any functionality of the site, its usability or any general query, mail us at <a target="_blank" href="mailto:info@corelogs.com">info@corelogs.com </a></p>
			<p class="text-muted text-left">If you are from a small or medium scale industry, please connect with us directly at <a target="_blank" href="mailto:sp@corelogs.com">sp@corelogs.com </a></p>
			<p>Or, contact us personally at :</p>
			<div class="team">
				<div class="teammate">
					<img class="lazy_img" src="/images/user_admin.png" data-src="/images/sp.jpg" alt="Surya Prakash, CEO">
					<h4>Surya Prakash</h4>
					<h5>CEO, Co-founder</h5>
					<p>+91-9472705962</p>
				</div>
			</div>
		</div>
	</div>
</div>
	
{% endblock body %}