{% extends 'base.html' %}
{% load staticfiles %}
{% load account %}

{% block head_css %}
	
{% endblock head_css %}

{% block page_id %}cover{% endblock page_id %}

{% block body %}
<!--

-->
<div class="container-fluid">
	{% include "snippets/create_acc_modal.html" %}
	<div class="cover_desc">
		<div class="cover_form">
			<form id="signup" class="form-horizontal" method="POST" action="{% url 'account_login' %}">
		    {% if socialaccount.providers %}
		    <div class="socialaccount_ballot">
		    	<h3>Sign Up</h3>
		    	<h4 class="text-info">Cut short the hassle, use an existing account</h4>
		      <ul class="socialaccount_providers list-group">
		        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
	        </ul>
        	<h4 class="text-info">Or alternatively, sign up with email-address</h4>
        	<ul class="socialaccount_providers list-group">
		        <li>
			        <a class="email" data-target="#create_acc_modal" data-toggle="modal">
					    	<i class="fa fa-fw fa-envelope"></i>
					    	<span>Sign up with email</span>
				    	</a>
			    	</li>
		      </ul>
		    </div>
		    {% include "socialaccount/snippets/login_extra.html" %}
		    {% endif %}
	    	{% include "snippets/login_modal.html" %}
	  	</form>
  	</div>
  	<div class="more_below">
  		<span class="fa fa-angle-double-down fa-2x mob_only"></span>
		</div>
		<div class="cover_dig">
		<!--
			<h2>It's easier than ever <span class="pc_only">at CoreLogs</span>...</h2>
			-->
			<div class="cover_halo">
				<div class="row">
					<div class="col-xs-4 text-left">
					</div>
					<div class="col-xs-4 text-center">
						<img width="64px" height="64px" alt="CoreLogs" src="{% static 'css/icon6_inv.png' %}">
					</div>
					<div class="col-xs-4 text-right">
					</div>
				</div>
			</div>
			<div id="cover_slide">
				<div id="silde_1" class="slides">
					<header>
						<h2 class="first">It's Easier than ever for <strong>Small &amp; Medium Scale Enterprises</strong></h2>
						<h2>Join <strong>CoreLogs</strong> Now</h2>
					</header>
					<div class="note_group">
						<div class="note">
							<h3>Sign Up</h3>
							<span class="fa fa-user-plus"></span>
							<p>Be a part of a network dedicated to industrialists</p>
						</div>
						<div class="mid_note">
							<span class="fa fa-long-arrow-right"></span>
						</div>
						<div class="note">
							<h3>Register Workplace</h3>
							<span class="fa fa-briefcase"></span>
							<p>Get a free Workplace Profile along with a large number of other SMEs</p>
						</div>
					</div>
					<div class="note_group">
						<div class="note">
							<h3>List Products</h3>
							<span class="fa fa-cubes"></span>
							<p>What your company manufactures, sells or rents and get them featured in the marketplace</p>
						</div>
						<div class="mid_note">
							<span class="fa fa-long-arrow-right"></span>
						</div>
						<div class="note">
							<h3>Get Enquiries</h3>
							<span class="fa fa-share"></span>
							<p>Recieve enquiries on our products directly in your inbox and connect to your enquiries directly</p>
						</div>
					</div>
				</div>
				<div id="silde_2" class="slides">
					<h2 style="border-bottom: 1px solid #eee"><strong>Engineering Student ?</strong></h2>
					<div class="note_group">
						<div class="note">
							<span class="fa fa-question"></span>
							<h3>Ask Questions</h3>
						</div>
						<div class="mid_note">
							<span class="fa fa-long-arrow-right"></span>
						</div>
						<div class="note">
							<span class="fa fa-share"></span>
							<h3>Get Answers</h3>
						</div>
					</div>
					<div class="note_group">
						<div class="note">
							<span class="fa fa-list-alt"></span>
							<h3>Read Articles</h3>
						</div>
						<div class="note">
							<span class="fa fa-search"></span>
							<h3>Search for Industrial Products</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
  	<!--<div class="cover_form_extra">
			<div class="row">
				<div class="col-xs-4 text-right">
					<i class="fa fa-cog fa-5x fa-spin"></i>
				</div>
				<div class="col-xs-4 text-center">
				</div>
				<div class="col-xs-4 text-right">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
				</div>
				<div class="col-xs-4 text-center">
					<i class="fa fa-caret-right fa-5x"></i>
				</div>
				<div class="col-xs-4">
					<i class="fa fa-cog fa-5x fa-spin"></i>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 text-right">
					<i class="fa fa-cog fa-5x fa-spin"></i>
				</div>
				<div class="col-xs-4 text-center">
				</div>
				<div class="col-xs-4 text-right">
				</div>
			</div>
  	</div>-->
	</div>
</div>
<div class="paper">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 text-left">
				<span class="fa fa-cog fa-2x fa-spin"></span>
			</div>
			<div class="col-xs-4 text-center">
				
			</div>
			<div class="col-xs-4 text-right">
				<span class="fa fa-cog fa-2x fa-spin"></span>
			</div>
		</div>
		<h1>CoreLogs is a platform, with a goal to create an industrial network, where anyone from any field of the industry can find any information narrowed down to their domain</h1>
	</div>
</div>
<!--
<div class="cover_process">
	<h3>CoreLogs is a platform, with a goal to create an industrial network, where anyone from any field of the industry can find any information narrowed down to his domain.</h3>
	<p class="text-info">And, its intutively simple ...</p>
	<div class="row">
		<div class="col-sm-6">
			<div>
				<span class="fa-stack fa-4x">
					<span class="fa fa-user-plus fa-stack-2x"></span>
				</span>
			</div>
			<h4>Sign Up Yourself</h4>
			<p>Be a part of a network dedicated to industrialists</p>
		</div>
		<div class="col-sm-6">
			<div>
				<span class="fa-stack fa-4x">
				  <span class="fa fa-briefcase fa-stack-2x"></span>
				  <span class="fa fa-square fa-stack-1x" style="font-size: 1.2em"></span>
				  <span class="fa fa-plus fa-stack-1x fa-inverse" style="font-size: 1em"></span>
				</span>
			</div>
			<h4>Register Your Workplace</h4>
			<p>Get a Workplace Profile for your Company, the front page of your industry on the network</p>
		</div>
	</div>
	<p class="text-info">Once your workplace is in the network ...</p>
	<div class="row">
		<div class="col-sm-6">
			<div>
				<span class="fa-stack fa-4x">
					<span class="fa fa-cubes fa-stack-2x"></span>
				</span>
			</div>
			<h4>List Products</h4>
			<p>What your company manufactures, sells or rents and get them featured in the marketplace</p>
		</div>
		<div class="col-sm-6">
			<div>
				<span class="fa-stack fa-4x">
					<span class="fa fa-share fa-stack-2x"></span>
				</span>
			</div>
			<h4>Get Product Enquiries</h4>
			<p>Recieve enquiries on our products directly in your inbox and connect to your enquiries directly</p>
		</div>
	</div>
	<p class="text-info">The more you share, the more you benefit ...</p>
	<div class="row">
		<div class="col-sm-6">
			<div>
				<span class="fa-stack fa-4x">
					<span class="fa fa-list-alt fa-stack-2x"></span>
				</span>
			</div>
			<h4>Provide Details</h4>
			<p>Capabilities of your company, Operations, Assets &amp; Machinery it has, Cities &amp; Industrial Areas it exists in</p>
		</div>
		<div class="col-sm-6">
			<div>
				<span class="fa-stack fa-4x">
					<span class="fa fa-search-plus fa-stack-2x"></span>
				</span>
			</div>
			<h4>Appear In Search Results</h4>
			<p>Based on Information you provide, feature in the search results of other industries looking for you</p>
		</div>
	</div>
	<h2 class="text-center">Join CoreLogs now</h2>
</div>
-->

{% endblock body %}