{% extends 'base.html' %}
{% load staticfiles %}
{% load account %}

{% block head_css %}
	
{% endblock head_css %}

{% block back %}
	<div id="cover_back_default" class="cover_back"></div>
{% endblock back %}

{% block page_id %}cover{% endblock page_id %}

{% block body %}
<div id="default" class="cover_page">
	<div class="container text-center cover_desc" data-move="top" data-extra="">
		CoreLogs - A platform for the entire core segment of Engineering
	</div>
	<div class="container cover_body">
		<div id="login" class="text-center pull-left cover_form">
			<h3><span>Sign In</span></h3>
			<form class="form-horizontal" method="POST" action="{% url 'account_login' %}">
		    {% if socialaccount.providers %}
		    <div class="socialaccount_ballot">
		      <ul class="socialaccount_providers list-group">
		        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
		      </ul>
		    </div>
		    {% include "socialaccount/snippets/login_extra.html" %}
		    {% endif %}
				<!-- <h4>CoreLogs account</h4> -->
	      {% csrf_token %}
    		<input id="id_login" class="form-control" type="text" placeholder="Username" name="login" maxlength="30" autofocus="autofocus">
    		<input id="id_password" class="form-control" type="password" placeholder="Password" name="password">
	      {% if redirect_field_value %}
	      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	      {% endif %}
	      <div class="form-group">
	        <div class="col-sm-12 text-center">
	          <button class="primaryAction btn btn-primary" type="submit">Sign in</button>
	        </div>
	      </div>
	      <div class="form-group forgot_pass">
	        <a class="button secondaryAction text-center" href="{% url 'account_reset_password' %}">Forgot Password?</a>
	      </div>
	    </form>
    </div>
		<div id="signup" class="text-center pull-right cover_form">
	    <h3><span>Create a new account</span></h3>
	    <form class="form-horizontal" method="POST" action="{% url 'account_signup' %}" role='form'>
	    	{% csrf_token %}
	      <input id="id_username" class="form-control" type="text" placeholder="Username" name="username" maxlength="30" autofocus="autofocus">
	      <input id="id_email" class="form-control" type="email" placeholder="Email" name="email">
    		<input id="id_password1" class="form-control" type="password" placeholder="Password" name="password1">
    		<input id="id_password2" class="form-control" type="password" placeholder="Password (Again)" name="password2">
	      {% if redirect_field_value %}
	      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" >
	      {% endif %}
	      <div class="form-group">
	        <div class="col-sm-12 text-center">
	          <button class="primaryAction btn btn-primary" type="submit">Register</button>
	        </div>
	      </div>
	      {% csrf_token %}
	    </form>
    </div>
	</div>
</div>
<!-- <div id="lsi" class="cover_page">
	<div class="container text-center cover_desc" data-move="top" data-extra="">
		A place where you can interact with the big fishes ...
	</div>
	<div class="container cover_body">
		<div class="row">
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-6">
				
			</div>
		</div>
	</div>
</div>
<div id="team" class="cover_page">
	<div class="container text-center cover_desc" data-move="top" data-extra="">
		A place every team has wished for. Find like-mindeds and feel the power of sharing ...
	</div>
	<div class="container cover_body">
		<div class="row">
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-6">
				
			</div>
		</div>
	</div>
</div>
<div id="edu" class="cover_page">
	<div class="container text-center cover_desc" data-move="top" data-extra="">
		A place every team has wished for. Find like-mindeds and feel the power of sharing ...
	</div>
	<div class="container cover_body">
		<div class="row">
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-6">
				
			</div>
		</div>
	</div>
</div>
<div id="sme" class="cover_page">
	<div class="container text-center cover_desc" data-move="top" data-extra="">
		A place where the voice of an SME can echo ..
	</div>
	<div class="container cover_body">
		<div class="row">
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-6">
				
			</div>
		</div>
	</div>
</div>
<div class="container text-center">
	<h4 id="cover_bottom_title" data-show="">Curious about whats in there..?</h4>
	<div id="cover_bottom" class="row">
		<div data-show="default" class="hide"></div>
		<div data-show="lsi" class="col-sm-3 cover_bottom_btn">
			Engineers and Industries in Core Segment
		</div>
		<div data-show="edu" class="col-sm-3 cover_bottom_btn">
			Educational Institutions
		</div>
		<div data-show="team" class="col-sm-3 cover_bottom_btn">
			Baja/Formula/Aerodesign Collegiate Teams
		</div>
		<div data-show="sme" class="col-sm-3 cover_bottom_btn">
			Small and Medium scale Enterprises
		</div>
	</div>
</div> -->
{% endblock body %}

{% block end_js %}
<script type="text/javascript" src={% static 'js/cl_cover.js' %}></script>
<script type="text/javascript">
	$('.nav_a_home').addClass('current');
</script>
{% endblock end_js %}