{% extends 'base.html' %}

{% block left %}
	<div class="pc_only left_menu">
		<h4>Filters</h4>
		<ul class="list-group">
			<li class="list-group-item"><a href="/forum">All</a></li>
			<li class="list-group-item"><a href="/forum/category?q=sae">Teams</a></li>
		  <li class="list-group-item"><a href="/forum/category?q=sme">SME</a></li>
		  <li class="list-group-item"><a href="/forum/category?q=scholar">Scholars</a></li>
		  <li class="list-group-item"><a href="/forum/category?q=lsi">Engineers</a></li>
		  <li class="list-group-item"><a href="/forum/category?q=unanswered">Unanswered</a></li>
		</ul>
	  <h4><a href="/forum/q_tags/">Search Tags</a></h4>
	</div>
{% endblock left %}

{% block content %}
<div id="home" class="ajax_papa">
	<ul class="nav nav-pills nav-justified nav_justified_xs">
		<li><a href="/forum"><span class="fa fa-question-circle inline_fa"></span>Forum</a></li>
		<li><a href="{% url 'nodes:articles' %}"><span class="fa fa-newspaper-o inline_fa"></span>Articles</a></li>
		<li><a href="/?a=a"><span class="fa fa-rss inline_fa"></span>Activity</a></li>
	</ul>
	<div class="panel panel-default">
		<div class="panel-body row">
			<p class="text-justify text-muted col-sm-8">"Let your Curiousity defeat your laziness..."</p>
			<p class="text-right col-sm-4">
				<a href="{% url 'forum:ask' %}"><i class="fa fa-lightbulb-o inline_fa"></i>Ask a Question</a>
			</p>
		</div>
	</div>
	
	<form id="form_feed" class="ajax_andar" role="form" action="{% url 'nodes:post' %}" method="POST" enctype="multipart/form-data">
		<div class="input-group">
			<span class="input-group-addon">
				<a href="{% url 'user:profile' user.username %}">
					<img id="img_feed" class="thumb_small" width="32" height="32" src="{% if user.userprofile.get_profile_image %}{{ user.userprofile.get_profile_image }}{% else %}/images/thumbnails/user_man.jpg{% endif %}">
				</a>
			</span>

			<textarea rows="1" class="form-control seamless_l" name="post" placeholder="Post a feed..(it's not a question)" required></textarea>
			<span title="Add Image" data-toggle="tooltip" data-placement="left" class='btn btn-default btn-file input-group-addon seamless_r img_pre_in'>
				<i class="fa fa-camera"></i>
				<input id="id_image_0" type="file" name="image0">
    	</span>
		</div>
		<div class="img_pre hide" data-index=0>
		</div>
  	<div class="textarea_bottom hide">
  		<span class='btn btn-default btn-file fake_btn' data-btn='#id_image_0'>
      	<span class="fa fa-camera"></span> Add Photo
    	</span>
  		<button class='btn btn-default pull-right form-ajax-filed'>
      	<span class="fa fa-bullhorn"></span> Post
    	</button>
  	</div>
		{% csrf_token %}
	</form>
	<div class="ajax_andar feeds">
		{% include "snippets/figure_modal.html" %}
		{% include 'nodes/five_nodes.html' with result_list=result_list %}
		<div class="paginator" data-next_page="2">
			<h5>Loading more content</h5>
			<i class="fa fa-spin fa-circle-o-notch"></i>
		</div>
	</div>
</div>
{% endblock content %}

{% block right %}
	<div class="ajax_load" data-url="{% url 'home_right' %}">
	</div>
	<div class="side_show">
		<div class="ajax_load" data-url="{% url 'products:random' %}"></div>
  </div>
{% endblock right %}

{% block foot %}
	
{% endblock foot %}

{% block end_js %}
	{{block.super}}
	<script type="text/javascript">
		$('.nav_a_home').addClass('current');
	</script>
{% endblock end_js %}