{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1 class="text-center">Welcome <strong>{{request.user.userprofile}}!</strong></h1>
  <div class="xl_p wide_80" style="font-weight: 300;">
    <p class="text-center text-muted">look at what you have got and <span class="text-success">make the best of it</span></p>
  </div>
  <div class="welcome">
    <div class="note_group">
      <a href="{% url 'workplace:workplace_profile' user.userprofile.primary_workplace.slug %}" class="note">
        <h3>Identity</h3>
        <div class="figure"><img src="/images/Untitled-16.jpg"/></div>
        <h4>A Company Profile and a Dashboard</h4>
        <p>Your new found place on internet! Add products and information of your company and increase its visibility like never before. For free!</p>
      </a>
      <a href="{% url 'network:network' %}" class="note">
        <h3>Network</h3>
        <div class="figure"><img src="/images/Untitled-14.jpg"/></div>
        <h4>A Business Oriented Network for SMEs</h4>
        <p>Discuss, Share Updates and Connect with people in your business. Show what you do and know about others!</p>
      </a>
      <a href="{% url 'inbox:inbox' %}" class="note">
        <h3>CRM</h3>
        <div class="figure"><img src="/images/Untitled-15.jpg"/></div>
        <h4>Customer Relationship Management</h4>
        <p>A basic cloud based CRM, that lets you manage Leads, Quotations and Inquiries with ease, anywhere, anytime! </p>
      </a>
    </div>
  </div>
</div>
{% endblock body %}
