{% extends 'base.html' %}

{% block body %}
<div class="container">
  <!-- <h1 class="text-center">Greetings <strong>{{request.user.userprofile}}!</strong></h1> -->
  <div class="xl_p wide_80" style="font-weight: 300;">
    <p class="text-center text-muted">Three Components of CoreLogs Curated for SAE Teams and Students.</p>
  </div>
  <div class="welcome">
    <div class="note_group">
      <a href="{% url 'workplace:dashboard' user.userprofile.primary_workplace.slug %}" class="note">
        <h3>Team Identity</h3>
        <div class="figure"><img src="/images/Untitled-16.jpg"/></div>
        <h4>A Team Profile and a Dashboard</h4>
        <p>Your new found place on internet! Add products and information of your company and increase its visibility like never before. For free!</p>
      </a>
      <a href="{% url 'network:network' %}" class="note">
        <h3>Network of Teams</h3>
        <div class="figure"><img src="/images/Untitled-14.jpg"/></div>
        <h4>A Network of Engineers &amp; Automobile Teams</h4>
        <p>Get Connected to Teams and Organizers of various Formula/ Baja/ GoKart &amp; other Engineering Events!</p>
      </a>
      <a href="{% url 'inbox:inbox' %}" class="note">
        <h3>Engineer's Forum</h3>
        <div class="figure"><img src="/images/Untitled-15.jpg"/></div>
        <h4>Engineering &amp; Industry Related Questions</h4>
        <p>Ask and answer questions, Reach solutions collectively. Share Your Knowledge and leave your marks on Internet! </p>
      </a>
    </div>
  </div>
</div>
{% endblock body %}