{% extends 'base.html' %}

{% block body %}
  <div class="container">
  	<div class="row">
  		<div class="col-sm-8">
		  	<div class="wide_64">
					<div class="ajax_papa">
						<ul class="nav nav-pills nav-justified nav_justified_xs">
							<li><a href="/forum"><span class="fa fa-question-circle inline_fa"></span>Questions</a></li>
							<li><a href="{% url 'nodes:articles' %}"><span class="fa fa-newspaper-o inline_fa"></span>Articles</a></li>
							<li><a href="/?a=a"><span class="fa fa-rss inline_fa"></span>Activity</a></li>
						</ul>
						{% block feed_body %}
            {% if user.is_authenticated %}
						  {% include "snippets/feed_form.html" %}
            {% endif %}    
						<div class="ajax_andar feeds">
							{% include "snippets/figure_modal.html" %}
							{% include 'nodes/five_nodes.html' with result_list=result_list %}
							<div class="paginator" data-next_page="2">
								<h5>Loading more content</h5>
								<span class="fa fa-spin fa-circle-o-notch"></span>
							</div>
						</div>
						{% endblock feed_body %}
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="wide_32">
					<div class="ajax_load" data-url="{% url 'home_right' %}">
					</div>
					<div class="side_show">
						<div class="ajax_load" data-url="{% url 'products:random' %}"></div>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>
{% endblock body %}

{% block foot %}

{% endblock foot %}

{% block end_js %}
	{{block.super}}
	<script type="text/javascript">
		$('#top_nav_feed').addClass('current');
	</script>
{% endblock end_js %}
