{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} CoreLogs | Our Team {% endblock title %}

{% block page_id %}about{% endblock page_id %}



{% block body%}
<div class="container">
<div class="col-md-3">
	<a href="/about" class="list-group-item">
	About Us
	</a>
	<a href="/contact" class="list-group-item">
	Contact Us
	</a>
	<a href="/sitemap" class="list-group-item">
    Sitemap
    </a>
	<a href="/terms" class="list-group-item">
    Terms & Privacy
    </a>
	<a href="/team" class="list-group-item active">
    Our Team
    </a>
</div>
<div class="col-md-7">
    <h3 class="text-center">Our Team</h3>
		<h3>Surya Prakash</h3>
		<h4>(Co-Founder)</h4>
		<p>Surya heads the CoreLogs Team. He handles the backend development, DBA & Marketing related activities. He is a 
		Production &amp; Industrial Engineer from NIT Jamshedpur and has been connected to manufacturing industries deeply.</p>
		<p>You can reach him on:</p>
		<div>+91 - 9472705962</div>
        <div><a target="_blank" href="mailto:sprksh.j@gmail.com">sprksh.j@gmail.com </a> or 
		<a target="_blank" href="mailto:sp@corelogs.com">sp@corelogs.com </a></div>
		
		<h3>Arvind Tiwari</h3>
		<h4>(Co-Founder)</h4>
		<p>Arvind is the front end developer & UI Designer. He is a Computer Science Engineer from NIT Jamshedpur and now the technical expert in the 
		CoreLogs Team.</p>
		<p>You can reach him on:</p>
		<div>+91 - 9470918684</div>
        <div><a target="_blank" href="mailto:tiwariav@gmail.com">tiwariav@gmail.com</a> or 
		<a target="_blank" href="mailto:admin@corelogs.com">admin@corelogs.com </a></div>
		
		<h3>Santosh Mishra</h3>
		<h4>(Intern)</h4>
		<p>Santosh is leading the marketing activities related to SAE teams and College Students. If you are a SAE team member, he is the person to be 
		contacted in case of any queries</p>
		<p>You can reach him on:</p>
		<div>+91 - 8908584336</div>
        <div><a target="_blank" href="mailto:dugumishra.sm@gmail.com">dugumishra.sm@gmail.com</a></div>
		
	</div>
	
{% endblock body %}