{% load filter %}
<div id="about_wp" class="info_field_grp ajax_andar ajax_papa">
		{% if user.userprofile in members %}
		<form id="about_wp_form" class="info_form" action="{% url 'workplace:set_about' %}" method="POST">
			<button class="btn_alt field_edit" type="button"><i class="fa fa-wrench inline_fa"></i>Edit</button>
			<button class="btn_alt saving hide" type="button"><i class="fa fa-cog fa-spin inline_fa"></i>Saving</button>
			<button class="btn_alt save hide" type="button"><i class="fa fa-check-square inline_fa"></i>Save</button>
			{% csrf_token %}
		</form>
		{% endif %}
		<div class="panel panel-default">
			<div class="info_field ajax_papa">
				<div class="info_field_value">
					{% if workplace.about %}
						{{workplace.about|urlize|new_tab|safe}}
					{% elif user.userprofile in members %}
						<i class="text-muted text-center center-block">Add a basic intro of your {{workplace.get_type_short}} in about 5-8 lines.</i>
					{% else %}
						<i class="text-muted text-center center-block">No Description Available</i>
					{% endif %}
				</div>
				<div class="info_field_edit hide">
					<textarea name="about" form="about_wp_form" rows="4" class="form-control seamless_l">{{workplace.about|default:''}}</textarea>
				</div>
			</div>
		</div>
	</div>
<div class="alert alert-info">
	<p>Add the Cities where {{workplace.name}} operate. This helps create a suitable network.</p>
</div>
<div class="dash_form_box">
	<form id="city_dash_form" class="form_lg form_instant" action="{% url 'workplace:set_details' %}" method="POST" data-target="#city_dash" data-targettags="0" data-targetcount="0">
	  {% include "snippets/d_search.html" with search="tag" type='C' no_tags=True name='city' placeholder="Search for Cities" %}
	  {% csrf_token %}
	</form>
</div>
<div class="alert alert-info">
	<p>Add the Segments in which {{workplace.name}} lies.</p>
</div>
<div class="dash_form_box">
	<form id="segment_dash_form" class="form_lg form_instant" action="{% url 'workplace:set_tags' %}" method="POST" data-target="#segment_dash" data-targettags="0" data-targetcount="0">
	  {% include "snippets/d_search.html" with search="tag" type='S' no_tags=True name='segment' placeholder="Search for Segments" %}
	  {% csrf_token %}
	</form>
</div>
