{% if request.user.userprofile in members %}
<div class="panel info">
	<div class="panel-body">
		<h3 class="dash_stat_big">
			<span class="number text-success">{{product_count}}</span>
			<span class="text">
				{% if product_count == 0 %}No Products / Services listed from your {{workplace.get_type_short}}. Why?
				{% elif product_count < 5 %}Only {{product_count}} products isted from your {{workplace.get_type_short}}. List More.
				{% else %}Products isted from your {{workplace.get_type_short}}. List More.
				{% endif %}
			</span>
		</h3>
	</div>
</div>
<div class="alert alert-info">
	<p>Products you list here are featured in the marketplace on which you can get direct Inquiries. Also, your {{workplace.get_type_short}} profile gets stronger.
	</p>
</div>
<div class="text-center ">
	<a href="{% url 'products:add_product' %}">
		<h5><span class="fa fa-plus inline_fa"></span>Add Products</h5>
	</a>
</div>
{% endif %}