<div class="panel info">
  <div class="panel-body">
    <h3 class="dash_stat_big">
      <span id="ops_dash_count_1" class="number text-success">{{workplace.get_tags.operations|length}}</span>
      <span class="text">Operations Performed</span>
    </h3>
  </div>
</div>
<div class="dash_form_box">
  <h5 class="form_head">
    Add more Active Operations at {{workplace.name}}. Your {{workplace.get_type_short}} will be visible to based on Operations that you list.
  </h5>
  <form id="ops_dash_form" class="form_lg form_instant" action="{% url 'workplace:set_tags' %}" method="POST" data-target="#ops_dash" data-targettags="0" data-targetcount="2">
    {% include "snippets/d_search.html" with search="tag" type='O' no_tags=True name='operations' placeholder="Search for Operations" %}
    {% csrf_token %}
  </form>
</div>
<div class="suggestions_box">
  <div class="heading">Suggested Operations for your Workplace</div>
  <div class="suggestions" data-form="#ops_dash_form">
    {% include "snippets/tags_suggest.html" with tags=r_operations %}
  </div>
</div>
<div id="ops_dash_form_succModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-success text-center">Operation added successfully!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="ops_dash_form_errModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-danger text-center">Sorry! Something went wrong. Try again later.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>