<div class="well">
  <h3 class="dash_stat_big">
    <span class="dash_stat_extra">Operating in</span>
    <a class="dash_stat_link fake_btn" data-btn="#wp_nav_about">
      <span id="city_dash_count_1" class="number">{{workplace.get_tags.city|length}}</span>
      <span class="text">Cities</span>
    </a>
  </h3>
</div>

<div class="well">
  <h3 class="dash_stat_big">
    <span class="dash_stat_extra">Manufacturing</span>
    <a class="dash_stat_link fake_btn" data-btn="#wp_nav_products">
      <span id="assets_dash_count_1" class="number">{{product_count}}</span>
      <span class="text">Products</span>
    </a>
  </h3>
</div>
<div class="well">
  <h3 class="dash_stat_big">
    <span class="dash_stat_extra"></span>
    <a class="dash_stat_link fake_btn" data-btn="#wp_nav_people">
      <span id="assets_dash_count_1" class="number">{{member_count}}</span>
      <span class="text">People</span>
    </a>
  </h3>
</div>
<div class="well">
  <h3 class="dash_stat_big">
    <a class="dash_stat_link fake_btn" data-btn="#wp_nav_capabilities">
      <span id="assets_dash_count_1" class="number">{{workplace.get_tags.assets|length}}</span>
      <span class="text">Assets &amp; Machinery</span>
    </a>
  </h3>
</div>
<div class="well">
  <h3 class="dash_stat_big">
    <a class="dash_stat_link fake_btn" data-btn="#wp_nav_capabilities">
      <span id="assets_dash_count_1" class="number">{{workplace.get_tags.operations|length}}</span>
      <span class="text">Operations</span>
    </a>
  </h3>
</div>

