<div class="panel info">
	<div class="panel-body">
		City we operate in:
		{% for c in workplace.get_tags.city %}
		{{c}}
		{% endfor %}
	</div>
</div>
<div class="panel info">
	<div class="panel-body">
    <h3 class="dash_stat_big">
      <span id="assets_dash_count_1" class="number text-success">{{product_count}}</span>
      <span class="text">Products</span>
    </h3>
	</div>
</div>
<div class="panel info">
	<div class="panel-body">
    <h3 class="dash_stat_big">
      <span id="assets_dash_count_1" class="number text-success">{{workplace.get_tags.assets|length}}</span>
      <span class="text">Assets &amp; Machinery</span>
    </h3>
	</div>
</div>
<div class="panel info">
	<div class="panel-body">
    <h3 class="dash_stat_big">
      <span id="assets_dash_count_1" class="number text-success">{{workplace.get_tags.operations|length}}</span>
      <span class="text">Operations</span>
    </h3>
	</div>
</div>
<div class="panel info">
	<div class="panel-body">
    <h3 class="dash_stat_big">
      <span id="assets_dash_count_1" class="number text-success">{{workplace.get_new_enq_count}}</span>
      <span class="text">Inquiries</span>
    </h3>
	</div>
</div>
<div class="panel info">
	<div class="panel-body">
    <h3 class="dash_stat_big">
      <span id="assets_dash_count_1" class="number text-success">{{member_count}}</span>
      <span class="text">People</span>
    </h3>
	</div>
</div>
