{% if user.userprofile in members %}
	<div class="panel info">
		<div class="panel-body">
			<h4>Members at {{workplace.name}}</h4>
			<span class="number text-success">{{member_count}}</span>
		</div>
	</div>
	<div class="panel info">
		<div class="panel-body">
			<h5 class="form_head">
				Invite your colleagues to join <strong>{{ workplace.name }} at CoreLogs</strong>
			</h5>
			<form class="invite_form" role='form' action="{% url 'workplace:invite_colleague' %}" method="POST">
			{% csrf_token %}
				<div class="form-group">
					<input class="form-control" name="name" placeholder="Name of your colleague" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="email" name="email" placeholder="Email of your colleague" required>
				</div>
				<div class="form-group">
					<button class="btn btn-primary form-ajax"><span class='fa fa-plus-circle fa-lg'></span>&nbsp; Send Invitation</button>
				</div>
			</form>
		</div>
	</div>
{% endif %}