{% load filter %}
<div class="alert alert-info">
	<p>Add the Cities where {{workplace.name}} operate. This helps create a suitable network.</p>
</div>
<div class="dash_form_box">
	<form id="city_dash_form" class="form_lg form_instant" action="{% url 'workplace:set_details' %}" method="POST" data-target="#city_dash" data-targettags="0" data-targetcount="0">
	  {% include "snippets/d_search.html" with search="tag" type='C' no_tags=True name='city' placeholder="Search for Cities" %}
	  {% csrf_token %}
	</form>
</div>
<div class="alert alert-info">
	<p>Add the Segments in which {{workplace.name}} lies.</p>
</div>
<div class="dash_form_box">
	<form id="segment_dash_form" class="form_lg form_instant" action="{% url 'workplace:set_tags' %}" method="POST" data-target="#segment_dash" data-targettags="0" data-targetcount="0">
	  {% include "snippets/d_search.html" with search="tag" type='S' no_tags=True name='segment' placeholder="Search for Segments" %}
	  {% csrf_token %}
	</form>
</div>

{% comment %}

Isko manage karna hai
{% endcomment %}
{% if b_type %}
	    <div class="info_field ajax_papa">
	    	<div class="info_field_label"><span class="fa fa-tags fa-fw"></span>Segments</div>
	      <span class="colon">:</span>
	      <div class="info_field_value">
	      	{% if tags2 %}
		      	{% include "snippets/tags.html" with tags=tags2 %}
	      	{% else %}
	      	<span class="placeholder">
					  {% if workplace.workplace_type == 'A' %}
						Add segments <br> (Automobile/ Aerospace/ Consultancy/ Manufacturing etc.)
					  {% elif workplace.workplace_type == 'B' %}
						Add segments <br> (Manufacturing/ Automobile/ Aerospace/ Consultancy etc.)
					  {% elif workplace.workplace_type == 'C' %}
						Add segments <br> (Baja/ Formula/ Efficycle/ AeroDesign etc.)
					  {% endif %}
				  </span>
				  {% endif %}
	      </div>
	      {% if user.userprofile in members %}	
	      <div class="info_field_edit hide">
	        {% include "snippets/d_search_tags.html" with search="tag" type='S' no_create="True" tags=tags2 name='segement' d_form='details_wp_form' %}
	      </div>
		    {% endif %}
	    </div>
			{% if b_type == 'P' %}
			<div class="info_field ajax_papa">
	    	<div class="info_field_label">Parent Institution</div>
	    	<span class="colon">:</span>
	      <div class="info_field_value">
	      	{% if tags3 %}
		      	{% include "snippets/tags.html" with tags=tags3 %}
	      	{% else %}
	      	<span class="placeholder">Add your parent institution</span>
				  {% endif %}
	      </div>
	      {% if user.userprofile in members %}	
	      <div class="info_field_edit hide">
          {% include "snippets/d_search_tags.html" with search="tag" type=b_type tags=tags3 name='institution' %}
	      </div>
		    {% endif %}
	    </div>
	    {% endif %}
	    {% endif %}
