{% if user.userprofile in members %}
	<div class="panel info">
		<div class="panel-body">
			<span class="number text-success">{{member_count}}</span>
			<span class="text">{% if member_count == 1 %}Member registered (Only You) from your {{workplace.get_type_short}}
			{% else %}Members registered from your {{workplace.get_type_short}}
			{% endif %}</span>
			<p>Other People from Your {{workplace.get_type_short}} can also be a part like you and help you maintain the Profile. Invite them.</p>
		</div>
	</div>
	<div class="panel info">
		<div class="panel-body">
			<h4 class="form_head text-center">
				Invite your colleagues to be a part of this Group</strong>
			</h4>
			<form class="invite_form" role='form' action="{% url 'workplace:invite_colleague' %}" method="POST">
			{% csrf_token %}
				<div class="form-group">
					<input class="form-control" name="name" placeholder="Name of your colleague" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="email" name="email" placeholder="Email of your colleague" required>
				</div>
				<div class="form-group">
					<button class="btn btn-primary form-ajax"><span class='fa fa-plus-circle fa-lg'></span>&nbsp; Send Invitation</button>
				</div>
			</form>
		</div>
	</div>
{% endif %}