{% extends "base.html" %}

{% load filter %}

{% block title %}{{workplace.name}} | CoreLogs{% endblock title %}

{% block meta_description %}{{ workplace.about|truncatechars_html:75 }}{% endblock meta_description %}

{% block meta_og_title %}{{workplace.name}}{% endblock meta_og_title %}
{% block meta_og_description %}{{ workplace.about|truncatechars_html:75 }}{% endblock meta_og_description %}
{% block meta_og_image %}{{workplace.get_logo}}{% endblock meta_og_image %}
{% block meta_og_image_dim %}
  <meta property="og:image:width" content="128">
  <meta property="og:image:height" content="128">
{% endblock meta_og_image_dim %}

{% block page_id %}workplace{% endblock page_id %}

{% block top %}
  {% include "snippets/top_navigation.html" with what='Workplaces' %}
{% endblock top %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <form id="edit_wp" class="ajax_andar new_form" role="form" action="{% url 'workplace:edit' %}" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="wp_about">About {{workplace}}</label>
            <a class="pull-right" data-toggle="popover" data-trigger="hover click" data-placement="bottom" data-title="What it does?" data-content="And here's some amazing facts to convince you. Right?"><span class="fa fa-fw fa-question-circle"></span></a>
            <span class="help">A brief introduction of {{workplace}} for visitors on your profile</span>
            <textarea class="form-control" id="wp_about" placeholder="A good exapmle of a good introduction, preferably a real one, or a humorous fictious one"></textarea>
          </div>
          <div class="form-group">
            <label for="wp_history">History</label>
            <textarea class="form-control" id="wp_history"></textarea>
          </div>
          <div class="form-group">
            <label for="wp_est">Established</label>
            <input class="form-control" id="wp_est">
          </div>
          <div class="form-group">
            <label for="wp_rev">Annual Revenue</label>
            <input class="form-control" id="wp_rev">
          </div>
          <div class="form-group">
            <label for="wp_turnovr">Annual Turnover</label>
            <input class="form-control" id="wp_turnovr">
          </div>
          <div class="form-group">
            <label for="wp_loc">Locations</label>
            <input class="form-control" id="wp_loc">
          </div>
          <div class="form-group">
            <label for="wp_type">Type of Industry</label>
            <div class="radio_group">
              <label class="radio-inline"><input type="radio" name="optradio">Option 1</label>
              <label class="radio-inline"><input type="radio" name="optradio">Option 2</label>
              <label class="radio-inline"><input type="radio" name="optradio">Option 3</label> 
            </div>
          </div>
          <div class="form-group">
            <label for="wp_emp">Number of Employees</label>
            <input class="form-control" id="wp_emp">
          </div>
        </form>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('#top_nav_wp').addClass('current');
  </script>
{% endblock body %}