{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap %}

{% block title %} CoreLogs | {{ workplace.name }} {% endblock title %}

{% block page_id %}workplace{% endblock page_id %}

{% block left %}
	<div id="img_profile_box" typeof='Organization' resource='#workplace'>
		<img id="img_profile" class="thumbnail" width="120" height="120" src="{{workplace.get_logo}}" property='logo' typeof='ImageObject'>
    {% if user.userprofile.primary_workplace == workplace %}
    <a id='img_upload' class="text-center" data-toggle='modal' data-target='#img_upload_modal'>Change Image</a>
    {% endif %}
  </div>
	<div class="account">
	</div>
	{% include "snippets/img_upload_modal.html" with url='nodes:set_logo' form=workplace_logo_form.image %}
{% endblock left %}

{% block content %}
  <div id="workplace_info" class="row info_head" typeof='Organization' resource='#workplace'>
    <div class="col-sm-8 info_left">
      <h1 id="wp_name" class="info_title text-uppercase" property='name'>{{ workplace.name }}</h1>
      <div class="info_field ajax_andar ajax_papa" property='location' typeof='PostalAddress'>
        <div class="info_field_value" property='addressRegion'>
          {% for a in area %}
            <div class="tag"><span class="value">{{a}}</span></div>
          {% empty %}
            <span class="none text-muted">City in which the company exists</span>
          {% endfor %}
        </div>
        {% if user.userprofile in members %}
        <div class="info_field_edit">
          <a class="show_edit"><i class="fa fa-wrench inline_fa"></i></a>
          <form class="edit_{{category}} d_edit hide" action="{% url 'workplace:set_tags_short' %}" method="POST" role="form">
            {% csrf_token %}
              {% include "snippets/d_search_tags.html" with search="tag" type=a_type tags=area %}
          </form>
          <a class="done_edit hide"><i class="fa fa-check-square inline_fa"></i></a>
          {% comment %}
            {% include "workplace/snippets/edit_info_head.html" with category='ind_area' type='I' %}
            {% include "workplace/snippets/edit_info_head.html" with category='inst' type='P' %}
            {% include "workplace/set_tags_head.html" with category='city' type='C' %}
          {% endcomment %}
        </div>
        {% endif %}
      </div>
      <div class="info_field ajax_andar ajax_papa" property='location' typeof='PostalAddress'>
        <div class="info_field_value" property='addressRegion'>
          {% include "snippets/segment.html" with workplace=workplace %}
        </div>
        {% if user.userprofile in members %}
        <div class="info_field_edit">
          <a class="show_edit"><i class="fa fa-wrench inline_fa"></i></a>
          <a class="done_edit hide"><i class="fa fa-check-square-o inline_fa"></i></a>
          <form class="edit_{{category}} d_edit hide" action="{% url 'workplace:set_tags_short' %}" method="POST" role="form">
            {% csrf_token %}
              {% include "snippets/d_search_tags.html" with search="tag" type=a_type tags=area %}
          </form>
          {% comment %}
            {% include "workplace/set_tags_head.html" with category='city' type='C' %}
          {% endcomment %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="info_labels">
        <span class="label label-default">{{workplace.points}} points</span>
      </div>
      <div class="info_labels">
        <span class="label label-success"><span property='numberOfEmployees'>{{ member_count }}</span> members</span>
      </div>
    </div>
  </div>
  <ul id="wp_nav" class="nav nav-pills">
  {% block workplace_nav %}
    <li><a class="ajax_a" data-toggle="tab" data-place="#wp_content" href="{% url "workplace:members" workplace.slug %}">People</a></li>
    <li class="active"><a class="ajax_a" data-toggle="tab" data-place="#wp_content" href="{% url "workplace:dashboard" workplace.slug %}">Dashboard</a></li>
		<li><a class="ajax_a" data-toggle="tab" data-place="#wp_content" href="{% url "workplace:about" workplace.slug %}">About</a></li>
    {% if workplace.workplace_type == 'C' %}
    <li><a class="ajax_a" data-toggle="tab" data-place="#wp_content" href="{% url "workplace:capabilities" workplace.slug %}">Events</a></li>
    {% elif workplace.workplace_type != 'O' %}
    <li><a class="ajax_a" data-toggle="tab" data-place="#wp_content" href="{% url "workplace:capabilities" workplace.slug %}">Capabilities</a></li>
    {% endif %}
    {% if workplace.workplace_type == 'B' %}
		<li><a class="ajax_a" data-toggle="tab" data-place="#wp_content" href="{% url "workplace:products" workplace.slug %}">Products / Services</a></li>
    {% elif workplace.workplace_type == 'C' %}
		<li><a class="ajax_a" data-toggle="tab" data-place="#wp_content" href="{% url "workplace:products" workplace.slug %}">Our Cars</a></li>
    {% endif %}
  {% endblock workplace_nav %}
  </ul>
  <div class="tab-content ajax_papa ajax_andar">
  {% block workplace_section %}
    <div id="wp_content" class="tab-pane fade in active">
      <div class="loading hide">
        <i class="fa fa-spin fa-circle-o-notch"></i>
      </div>
      <div class="content">
        {% include "workplace/snip_dashboard.html" with workplace=workplace questions=questions answers=answers feeds=feeds articles=articles %}
      </div>
    </div>
  {% endblock workplace_section %}
  </div>
{% endblock %}

{% block right %}
  <div class="right_fixed">
    <div class="ajax_load" data-url="{% url 'workplace:get_top_scorers' workplace.slug %}"></div>
  </div>
  {% comment %}
  {% ifequal user.userprofile in members %}
    {% include "snippets/floating_form.html" with tag="material" type="M" %}
    {% include "snippets/floating_form.html" with tag="operation" type="O" %}
    {% include "snippets/floating_form.html" with tag="asset" type="A" %}
  {% endifequal %}
  {% endcomment %}
{% endblock right %}