{% extends "base.html" %}

{% load filter %}
{% load staticfiles %}

{% block head_css %}
  <link rel="stylesheet" href={% static 'css/form_card.css' %}>
{% endblock head_css %}

{% block head_desc %}
  {% include content_head_url %}
{% endblock head_desc %}

{% block meta_og_image %}{{workplace.get_logo}}{% endblock meta_og_image %}
{% block meta_og_image_dim %}
  <meta property="og:image:width" content="128">
  <meta property="og:image:height" content="128">
{% endblock meta_og_image_dim %}

{% block page_id %}workplace{% endblock page_id %}

{% block top %}
  {% include "snippets/top_navigation.html" with what='Workplaces' %}
{% endblock top %}

{% block body %}
{% include "snippets/img_upload_modal.html" with url='nodes:set_logo' form=workplace_logo_form.image %}
<div id="info_head" class="info_head wp_head" typeof='Organization' resource='#workplace'>
  <div class="row">
    <div class="col-sm-2">
      <div class="info_logo">
        <div id="img_profile_box">
          <img id="img_profile" class="thumbnail lazy_img" width="120" height="120" src="/images/wp.png" data-src="{{workplace.get_logo}}" alt="{{workplace.name}}">
          {% if user.userprofile.primary_workplace == workplace %}
          <a id='img_upload' class="text-center" data-toggle='modal' data-target='#img_upload_modal'>Set Logo</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="info_info">
        <div class="info_left">
          <header class="info_title">
            <h2 class="text-uppercase" property='name'>{{ workplace.name }}</h2>
            {% if workplace.verified %}
            <span class="fa fa-check-circle" title="Verified!" data-toggle="tooltip"></span>
            {% endif %}
            <div class="text-muted">
              {{ workplace.get_type }} {% if workplace.workplace_type == 'B' %}({{ workplace.get_sme_type }}){% endif %}
            </div>
          </header>
          <div class="info_links">
            <a href="{{workplace.get_fb_page}}" class="fb_color"><span class="fa fa-facebook"></span></a>
            <a href="{{workplace.get_linkedin_page}}" class="linkedin_color"><span class="fa fa-linkedin"></span></a>
            <a href="{{workplace.get_website}}"><span class="fa fa-lg fa-globe"></span></a>
          </div>
        </div>
        <div class="info_right">
          {% if member %}
          <h3>
            {% if new_inq_count %}
            <span class="new">{{workplace.get_enq.new.count}} New</span>
            {% endif %}
            <a href="{% url 'products:enquiry_all' %}">
              <span class="num">{{workplace.get_enq.total.count}}</span>&nbsp;<span>Inquiries</span></span>
            </a>
          </h3>
          <h3>
            <span class="num">{{workplace.hits}}</span>&nbsp;Page Views</span>
          </h3>
          {% endif %}
        </div>
        <!-- <div class="info_labels">
          <span class="label label-default">{{workplace.points}} points</span>
        </div> -->
      </div>
      {% if member %}
      <a class="btn btn-default btn-sm the_btn" href="{% url 'workplace:edit' %}"><span class="fa fa-pencil fa-fw"></span>Edit Profile</a>
      {% else %}
      <button class="btn btn-default btn-sm the_btn" data-toggle='modal' data-target='#enquiry_w_modal'><span class="fa fa-send-o"></span>&nbsp; Send an Enquiry</button>
      {% endif %}
    </div>
    <div class="col-sm-2">
      <div class="info_share">
        {% if member %}
        <p>Expand Your Reach.<br>Share your Profile.</p>
        {% else %}
        <p>Share it with your network</p>
        {% endif %}
        <a class="fb-share-button-before" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.corelogs.com%2F{{workplace.slug}}%2F&amp;src=sdkpreparse">
          <span class="fa fa-facebook-square"></span>
          <span>Share</span>
        </a>
      </div>
    </div>
  </div>
  {% include "enquiry/no_product_modal.html" %}
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {% include "workplace/snippets/wp_nav_items_2.html" with workplace=workplace type=type %}
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row wp_body">
    <div class="col-md-8 col-md-offset-2">
      {% block workplace_section %}
      <div id="wp_content" class="ajax_papa ajax_andar">
        <div class="loading hide">
          <i class="fa fa-spin fa-spinner"></i>
        </div>
        <div class="content">
          {% include content_url %}
        </div>
      </div>
      {% endblock workplace_section %}
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#top_nav_wp').addClass('current');
</script>
{% endblock body %}
