{% extends "workplace/profile.html" %}

{% block workplace_nav %}
  {% if workplace.workplace_type == 'A' %}
		<li><a href="{% url "workplace:members" workplace.slug %}">People</a></li>
		<li><a href="{% url "workplace:capabilities" workplace.slug %}">Capabilities</a></li>
		<li class="active"><a href="{% url "workplace:about" workplace.slug %}">About</a></li>
		<li><a href="{% url "workplace:workplace_profile" workplace.slug %}">Dashboard</a></li>
	{% elif workplace.workplace_type == 'B' %}
		<li><a href="{% url "workplace:products" workplace.slug %}">Products / Services</a></li>
		<li><a href="{% url "workplace:members" workplace.slug %}">People</a></li>
		<li><a href="{% url "workplace:capabilities" workplace.slug %}">Capabilities</a></li>
		<li class="active"><a href="{% url "workplace:about" workplace.slug %}">About</a></li>
		<li><a href="{% url "workplace:workplace_profile" workplace.slug %}">Dashboard</a></li>
	{% elif workplace.workplace_type == 'C' %}
		<li><a href="{% url "workplace:products" workplace.slug %}">Our Cars</a></li>
		<li><a href="{% url "workplace:members" workplace.slug %}">Members</a></li>
		<li><a href="{% url "workplace:capabilities" workplace.slug %}">Events</a></li>
		<li class="active"><a href="{% url "workplace:about" workplace.slug %}">About</a></li>
		<li><a href="{% url "workplace:workplace_profile" workplace.slug %}">Dashboard</a></li>
	{% elif workplace.workplace_type == 'O' %}
		<li><a href="{% url "workplace:members" workplace.slug %}">People</a></li>
		<li class="active"><a href="{% url "workplace:about" workplace.slug %}">About</a></li>
		<li><a href="{% url "workplace:workplace_profile" workplace.slug %}">Dashboard</a></li>
	{% endif %}
{% endblock workplace_nav %}

{% block workplace_section %}
  <div id="about" class="tab-pane fade in active">
    {% include "workplace/snip_about.html" with members=members about_w=workplace.about cities=workplace.get_city %}
  </div>
{% endblock workplace_section %}