{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" type="text/css" href={% static 'css/accounts/signup.css' %}>
{% endblock %}

{% block header %}
	
			
{% endblock %}
{% block content %}
	People
	{% for user in users %}
		{% if user.first_name %}
		<li><a href="{% url 'user:profile' user.username %}">{{ user.get_full_name }}</a></li>
		{% else %}
		<li><a href="{% url 'user:profile' user.username %}">{{ user.username }}</a></li>
	{% endfor %}
	Workplace
	{% for workplace in workplaces %}
		<li><a href="{% url 'workplace:workplace_profile' workplace.slug %}">{{ workplace }}</a></li>
	{% endfor %}
	Tags
	{% for tag in tags %}
		<li><a href="{% url 'tags:get_tag' tag.slug %}">{{ tag }}</a></li>
	{% endfor %}
	Questions
	{% for question in questions %}
		<li><a href="{% url 'forum:question' question.slug %}">{{ question }}</a></li>
	{% endfor %}
	Articles
	{% for article in articles %}
		<li><a href="{% url 'nodes:node' article.slug %}">{{ article }}</a></li>
	{% endfor %}
{% endblock %}