<div class="panel panel-success info">
	<div class="panel-body bg-info">
		<p class="text-center">This is the Dashboard for {{ workplace.name }}</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div id="dash_side">
			<a class="ajax_a" data-place="#dash_content" href="">
				Products
			</a>
			<a class="ajax_a" data-place="#dash_content" href="">
				People
			</a>
			<a class="ajax_a" data-place="#dash_content" href="">
				Operations
			</a>
			<a class="ajax_a" data-place="#dash_content" href="">
				Assets
			</a>
			<a class="ajax_a" data-place="#dash_content" href="">
				Segements
			</a>
		</div>
	</div>
	<div class="col-sm-8">
		<div id="dash_content">
			
		</div>
	</div>
</div>