{% load staticfiles %}
  
  {% if request.user.userprofile in members %}
	<div class="panel info">
		<div class="panel-body">
			<p class="detail_body content_about_w" property='description'>
				{% if request.user.userprofile.primary_workplace.workplace_type == 'C' %}
				Tell us which Events do you participate in. This will help us suggest you better products and offer you discounts if any.
				Also, give a little details of your achievements, prizes your team has won and other landmarks. 
				{% else %}
				Tell us what operations are being performed in your company, what machineries and what assets your company has. Tell us the details of materials or resources 
				you work on. Also give a little description of the capabilities of your company. These details will help your company appear in search based on
				different criterias.
				{% endif %}
			</p>
		</div>
	</div>
	{% endif %}

	{% if workplace.workplace_type == 'C' %}
	<div class="panel panel-default ajax_andar ajax_papa">
		<div class="panel-heading">
			<h3 class="text-muted detail_head">
				Achievements
				{% if request.user.userprofile in members %}
				<form id="capabilities_w" class="pull-right" action="{% url 'workplace:set_capabilities' %}" method="POST">
					{% csrf_token %}
					<button data-content="capabilities_w" data-save="" class="btn btn-default btn-xs detail_edit pull-right" name="">Edit</button>
				</form>
				{% endif %}
			</h3>
		</div>
		<div class="panel-body">
			<pre class="detail_body content_capabilities_w">{{workplace.capabilities}}</pre>
			<textarea name="capabilities" form="capabilities_w" rows="3" class="form-control edit_capabilities hide"></textarea>
		</div>
	</div>
	<div class="panel panel-default ajax_andar ajax_papa">
		<div class="panel-heading">
			{% include "workplace/set_tags.html" with head='Events (we participate in)' category='mat' type='E' %}
		</div>
		<div class="panel-body">
			<div class="detail_body">
				{% for material in workplace.get_tags.events %}
					{% include 'snippets/one_interest.html' with interest=material %}
				{% endfor %}
			</div>
		</div>
	</div>
	{% else %}
	<div id="cap_wp" class="info_field_grp ajax_andar">
		{% if user.userprofile in members %}
		<form id="cap_wp_form" class="info_form" action="{% url 'workplace:set_capabilities' %}" method="POST">
			<button class="btn_alt field_edit" type="button"><i class="fa fa-wrench inline_fa"></i>Edit</button>
			<button class="btn_alt saving hide" type="button"><i class="fa fa-cog fa-spin inline_fa"></i>Saving</button>
			<button class="btn_alt save hide" type="button"><i class="fa fa-check-square inline_fa"></i>Save</button>
			{% csrf_token %}
		</form>
		{% endif %}
		<div class="panel panel-default">
	    <div class="info_field ajax_papa">
	    	<div class="info_field_label"><span class="fa fa-suitcase fa-fw"></span>Capabilities</div>
	    	<span class="colon">:</span>
	    	<div class="info_field_value">
	    		{{workplace.capabilities}}
    		</div>
    		{% if user.userprofile in members %}
	      <div class="info_field_edit hide">
					<input name="capabilities" form="cap_wp_form" class="form-control new_val open_input" value="{{workplace.capabilities|default:''}}" placeholder="Capabilities of Your Workplace">
	      </div>
	      {% endif %}
      </div>
    </div>
  </div>
	<div id="cap_options_wp" class="info_field_grp ajax_andar">
		{% if user.userprofile in members %}
		<form id="cap_options_wp_form" class="info_form" action="{% url 'workplace:set_tags' %}" method="POST">
			<button class="btn_alt field_edit" type="button"><i class="fa fa-wrench inline_fa"></i>Edit</button>
			<button class="btn_alt saving hide" type="button"><i class="fa fa-cog fa-spin inline_fa"></i>Saving</button>
			<button class="btn_alt save hide" type="button"><i class="fa fa-check-square inline_fa"></i>Save</button>
			{% csrf_token %}
		</form>
		{% endif %}
		<div class="panel panel-default">
      <div class="info_field ajax_papa">
	    	<div class="info_field_label"><span class="fa fa-magic fa-fw"></span>Operations</div>
	    	<span class="colon">:</span>
	    	<div class="info_field_value">
	      	{% if workplace.get_tags.operations %}
	      	{% include "snippets/tags.html" with tags=workplace.get_tags.operations %}
	      	{% else %}
	      	<span class="placeholder">Add the Operations performed at your Workplace</span>
	      	{% endif %}
	      </div>
	      {% if user.userprofile in members %}
	      <div class="info_field_edit hide">
          {% include "snippets/d_search_tags.html" with search="tag" type='O' tags=workplace.get_tags.operations name='operations' d_form='cap_options_wp_form' %}
	      </div>
	      {% endif %}
      </div>
      <div class="info_field ajax_papa">
	    	<div class="info_field_label"><span class="fa fa-archive fa-fw"></span>Materials</div>
	    	<span class="colon">:</span>
	    	<div class="info_field_value">
	      	{% if workplace.get_tags.materials %}
	      	{% include "snippets/tags.html" with tags=workplace.get_tags.materials %}
	      	{% else %}
	      	<span class="placeholder">Add the Materials you Work on</span>
	      	{% endif %}
	      </div>
	      {% if user.userprofile in members %}
	      <div class="info_field_edit hide">
          {% include "snippets/d_search_tags.html" with search="tag" type='M' tags=workplace.get_tags.materials name='materials' d_form='cap_options_wp_form' %}
	      </div>
	      {% endif %}
      </div>
      <div class="info_field ajax_papa">
	    	<div class="info_field_label"><span class="fa fa-cogs fa-fw"></span>Assets &amp; Machinery</div>
	    	<span class="colon">:</span>
	    	<div class="info_field_value">
	      	{% if workplace.get_tags.assets %}
	      	{% include "snippets/tags.html" with tags=workplace.get_tags.assets %}
	      	{% else %}
	      	<span class="placeholder">Add the Assets and Machinery belonging to your Workplace</span>
	      	{% endif %}
	      </div>
	      {% if user.userprofile in members %}
	      <div class="info_field_edit hide">
          {% include "snippets/d_search_tags.html" with search="tag" type='A' tags=workplace.get_tags.assets name='assets' d_form='cap_options_wp_form' %}
	      </div>
	      {% endif %}
      </div>
    </div>
	</div>
	{% endif %}

	<script type="text/javascript">
		$('.d_input').addClass('open_input');
	</script>
	<!-- <script type="text/javascript" src={% static 'js/my.js' %}></script> -->