<div class="ajax_head">
  <span id="ajax_title">{{workplace.name}} | CoreLogs</span>
  <span id="ajax_description">{{workplace.about|truncatechars_html:75}}</span>
</div>

<div id="about" class="nav_ajax_content" data-nav="wp_nav">
  {% with tags=workplace.get_tags na="Not Available" %}
  <div class="form_card tile_flat" style="margin-top: 0;">
    <div class="collapse_h">Summary<span class="fa fa-fw fa-info pull-right"></span></div>
    <div id="gen_info" class="collapse in">
      <div class="form-group">
        <p class="data">{{workplace.about|default:"Overview Not Available"}}</p>
      </div>
      <div class="form-group">
        <div class="data_title">Operating in</div>
        <div class="tags">
          <span class="fa fa-map-o fa-fw"></span>
          {% for tag in tags.city %}
            <a href="{% url 'tags:get_tag' tag.slug %}" class="tag" title="{{tag.description}}" data-toggle="tooltip" data-placement="bottom">{{tag}}</a>
          {% empty %}
            {{na}}
          {% endfor %}
        </div>
      </div>
      {% if workplace.year_established or workplace.number_of_employees or workplace.get_legal_status %}
      <div class="form-group">
        <div class="data_inline">
          {% if workplace.year_established %}
          <span class="fa fa-history fa-fw"></span>&nbsp;Established In {{workplace.year_established}}
          {% else %}
          Date of Establishment Not Available
          {% endif %}
        </div>
        <div class="data_inline">
          {% if workplace.number_of_employees %}
          <span class="fa fa-users fa-fw"></span>&nbsp;{{workplace.number_of_employees}} {% if workplace.workplace_type == 'C' or workplace.workplace_type == 'O' %}Members{% else %}Employees{% endif %}
          {% else %}
          Number of Employees Not Available
          {% endif %}
        </div>
        <div class="data_inline">
          {% if workplace.get_legal_status %}
          <span class="fa fa-legal fa-fw"></span>&nbsp;{{workplace.get_legal_status}}
          {% else %}
          Legal Status Not Available
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% if workplace.workplace_type == 'A' or workplace.workplace_type == 'B' %}
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="data_title">Annual Revenue</div>
            <p class="data"><span class="fa fa-inr inline_fa"></span>{{workplace.revenue|default:na}}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="data_title">Turnover</div>
            <p class="data"><span class="fa fa-inr inline_fa"></span>{{workplace.turnover|default:na}}</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="form_card tile_flat">
    <div class="collapse_h">Specialization<span class="fa fa-fw fa-barcode pull-right"></span></div>
    <div id="extra_info" class="collapse in">
      <div class="form-group">
        <div class="data_title">Product Description</div>
        <p class="data">{{workplace.product_details|default:na}}</p>
      </div>
      <div class="form-group">
        <div class="data_title">Segements</div>
        <div class="tags">
          <span class="fa fa-industry fa-fw"></span>
          {% for tag in tags.segments %}
            <a href="{% url 'tags:get_tag' tag.slug %}" class="tag" title="{{tag.description}}" data-toggle="tooltip" data-placement="bottom">{{tag}}</a>
          {% empty %}
          {{na}}
          {% endfor %}
        </div>
      </div>
      <div class="form-group">
        <div class="data_title">Operations</div>
        <div class="tags">
          <span class="fa fa-fire-extinguisher fa-fw"></span>
          {% for tag in tags.operations %}
            <a href="{% url 'tags:get_tag' tag.slug %}" class="tag" title="{{tag.description}}" data-toggle="tooltip" data-placement="bottom">{{tag}}</a>
          {% empty %}
          {{na}}
          {% endfor %}
        </div>
      </div>
      <div class="form-group">
        <div class="data_title">Machinery &amp; Assets</div>
        <div class="tags">
          <span class="fa fa-cogs fa-fw"></span>
          {% for tag in tags.assets %}
            <a href="{% url 'tags:get_tag' tag.slug %}" class="tag" title="{{tag.description}}" data-toggle="tooltip" data-placement="bottom">{{tag}}</a>
          {% empty %}
          {{na}}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="form_card tile_flat">
    <div class="collapse_h">Contact Information<span class="fa fa-fw fa-coffee pull-right"></span></div>
    <div id="contact_info" class="collapse in">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="data_inline"><span class="fa fa-globe fa-fw"></span>&nbsp;{{workplace.get_website|urlize|default:'Website Not Available'}}</div>
            <div class="data_inline"><span class="fa fa-facebook-official fa-fw"></span>&nbsp;{{workplace.get_fb_page|urlize|default:'Facebook Page Not Available'}}</div>
            <div class="data_inline"><span class="fa fa-linkedin-square fa-fw"></span>&nbsp;{{workplace.get_linkedin_page|urlize|default:'Linkedin Page Not Available'}}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="data_inline"><span class="fa fa-envelope-o fa-fw"></span>&nbsp;{{workplace.office_mail_id|urlize|default:'Office Email Not Available'}}</a></div>
            <div class="data_inline"><span class="fa fa-tty fa-fw"></span>&nbsp;{{workplace.contact|default:'Office Contact Not Available'}}</div>
            <div class="data_inline"><span class="fa fa-phone fa-fw"></span>&nbsp;{{workplace.mobile_contact1|default:'Mobile Contact Not Available'}}</div>
            {% if workplace.mobile_contact2 %}
            <div class="data_inline"><span class="fa fa-phone fa-fw"></span>&nbsp;{{workplace.mobile_contact2|default:'Not Available'}}</div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="data_inline"><span class="fa fa-map-signs fa-fw"></span>&nbsp;{{workplace.address|default:'Postal Address not available'}}</div>
      </div>
    </div>
  </div>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "{{workplace.get_website}}",
    "logo": "http://www.corelogs.com{{workplace.get_logo}}",
    "description": "{{workplace.about}}",
    "location": [
      {% for tag in tags.city %}
      {% if forloop.counter0 %},{% endif %}
      {
        "@type": "City",
        "name": "{{tag}}"
      }
      {% endfor%}
    ],
    "foundingDate": "{{workplace.year_established}}",
    "email": "{{workplace.office_mail_id}}",
    "address": "{{workplace.address|default:'Postal Address not available'}}"
  }
  </script>
  {% endwith %}
</div>
