{% load filter %}
{% if user.userprofile in members %}
<div class="row">
	<div class="col-sm-4">
		<div class="dash_card">
			<header><h3>Extra Wala</h3></header>
			<div class="data">
				
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="dash_card">
			<header><h3><span class="num">{{workplace.get_product_count}}</span> Products Listed</h3></header>
			<div class="data">
				{% for product in products|slice:"3" %}
				<div class="col-sm-3 text-center">
					<img class="lazy_img" src="/images/main/prduct.png" data-src="{{product.get_image}}">
					<div>{{product}}</div>
				</div>
				{% endfor %}
				<div class="col-sm-3 text-center">
					<a href=""><span class="fa fa-plus fa-4x" style="margin-top: 10px;"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<div class="dash_card">
			<header><h3>Inquiries <span class="label label-success">3 new</span></h3></header>
			<header><h3><span class="num">12</span> Materials</h3></header>
			<div class="data">
				
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="dash_card">
			<div class="data">
				<div class="col-sm-8">
					<div class="row">
						{{workplace.number_of_employees|default:'0'}} people in {{workplace}}
					</div>
					<div class="row">
						{{workplace.get_count}} on CoreLogs
					</div>
				</div>
				<div class="col-sm-3">
					<header><h3>Invite</h3></header>
					<span class="fa fa-plus fa-5x">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="dash_card">
			<header><h3>Inquiries</h3></header>
			<div class="data">
				<div class="col-sm-4">
					<h4>Products</h4>
					<div class="data">
						New: {{new_inq_count}}
						Total: {{inquiry_count}}
					</div>	
				</div>
				<div class="col-sm-4">
					<h4>Company</h4>
					<div class="data">
						New: {{workplace.get_enq_count.new}}
						Total: {{workplace.get_enq_count.total}}
					</div>
				</div>
				<div class="col-sm-4">
					<h4>Views</h4>
					<div class="data">
						{{workplace.hits}}
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="dash_card">
			<header><h3>Operations</h3></header>
			<div class="data">
				
			</div>
		</div>
	</div>
</div>

{% endif %}
<script type="text/javascript">
	$('.progress-bar').each(function(){
	    var w = $(this).data("percent");
	    console.log(w);
	    $(this).css("width", w + "%");
	});
</script>