{% load staticfiles %}

<h3 class="text-muted text-center">
	{% if request.user.userprofile in members %}
	<a data-toggle='modal' data-target='#prod_modal'><i class="fa fa-opencart inline_fa"></i>Add Products</a>
	{% endif %}
</h3>
{% include "products/new_modal.html" %}
<ul id="products_list" class="row products_list">
{% for product in products %}
	<li class="product col-sm-4">
		<img src="{{product.get_image}}" alt="CoreLogs-{{product}}">
		<div class="product_name"><a href="{% url 'products:product' product.slug %}">{{ product }}</a></div>
		<div class="product_desc">{{ product.description }}</div>
		<div class="product_tags tags">
			{% for tag in product.get_tags %}
				<a href="{% url 'tags:get_tag' tag.slug %}"><span class="tag">{{tag}}</span></a>
			{% endfor %}
		</div>
	</li>
{% endfor %}
</ul>

<script type="text/javascript" src={% static 'js/my.js' %}></script>