{% load staticfiles %}

{% if workplace.workplace_type == 'C' %}
<div class="panel panel-default ajax_andar ajax_papa">
	<div class="panel-heading">
		<h3 class="text-muted detail_head">
			Achievements
			{% if request.user.userprofile in members %}
			<form id="capabilities_w" class="pull-right" action="{% url 'workplace:set_capabilities' %}" method="POST">
				{% csrf_token %}
				<button data-content="capabilities_w" data-save='' class="btn btn-default btn-xs detail_edit pull-right" name="">Edit</button>
			</form>
			{% endif %}
		</h3>
	</div>
	<div class="panel-body">
		<pre class="detail_body content_capabilities_w">{{capabilities}}</pre>
		<textarea name="capabilities" form="capabilities_w" rows="3" class="form-control edit_capabilities hide"></textarea>
	</div>
</div>
<div class="panel panel-default ajax_andar ajax_papa">
	<div class="panel-heading">
		{% include "workplace/set_tags.html" with head='Events (we participate in)' category='mat' type='E' %}
	</div>
	<div class="panel-body">
		<div class="detail_body">
			{% for material in workplace.get_tags.events %}
				{% include 'snippets/one_interest.html' with interest=material %}
			{% endfor %}
		</div>
	</div>
</div>
{% else %}
<div class="panel panel-default ajax_andar ajax_papa">
	<div class="panel-heading">
		<h3 class="text-muted detail_head">
			Capabilities
			{% if request.user.userprofile in members %}
			<form id="capabilities_w" class="pull-right" action="{% url 'workplace:set_capabilities' %}" method="POST">
				{% csrf_token %}
				<button data-content="capabilities_w" data-save="" class="btn btn-default btn-xs detail_edit pull-right" name="">Edit</button>
			</form>
			{% endif %}
		</h3>
	</div>
	<div class="panel-body">
		<pre class="detail_body content_capabilities_w">{{workplace.capabilities}}</pre>
		<textarea name="capabilities" form="capabilities_w" rows="3" class="form-control edit_capabilities hide"></textarea>
	</div>
</div>
<div class="panel panel-default ajax_andar ajax_papa">
	<div class="panel-heading">
		{% include "workplace/set_tags.html" with head='Operations' category='op' type='O' %}
	</div>
	<div class="panel-body">
		<div class="detail_body">
			{% for op in workplace.get_tags.operations %}
				{% include 'snippets/one_interest.html' with interest=op %}
			{% endfor %}
		</div>
	</div>
</div>
<div class="panel panel-default ajax_andar ajax_papa">
	<div class="panel-heading">
		{% include "workplace/set_tags.html" with head='Materials' category='mat' type='M' %}
	</div>
	<div class="panel-body">
		<div class="detail_body">
			{% for material in materials %}
				{% include 'snippets/one_interest.html' with interest=material %}
			{% endfor %}
		</div>
	</div>
</div>
<div class="panel panel-default ajax_andar ajax_papa">
	<div class="panel-heading">
		{% include "workplace/set_tags.html" with head='Assets' category='assets' type='A' %}
	</div>
	<div class="panel-body">
		<div class="detail_body">
			{% for asset in assets %}
				{% include 'snippets/one_interest.html' with interest=asset %}
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}
<!-- <script type="text/javascript" src={% static 'js/my.js' %}></script> -->