{% if request.user.userprofile in members %}
<div class="panel info">
	<div class="panel-body">
		{% if request.user.userprofile.primary_workplace.workplace_type == 'C' %}
		<p>You can list the cars/items your team has made over the years with a little description abou them. Also, If your team wants to rent or sell some particular item, you can list them too one by one with proper details and description.</p>
		{% else %}
		<p>List the products manufactured in your company or services provided by your company one by one. You can list any number of products.</p>
		<p>If you are not manufacturing for open market then also you can list any kind of components so that the people interested in your company may get to know the kind of products you manufacture.</p>
		<p>The Queries about the products by a potential customer will appear directly in your email inbox.</p>
		{% endif %}
	</div>

</div>
<h3 class="text-muted text-center">
	
</h3>

{% include "products/new_modal.html" %}

<ul id="products_list" class="products_list">
	<li class="col-xs-6">
		<div class="product">
			<div class="image">
				<a data-toggle='modal' data-target='#prod_modal'><i class="fa fa-plus fa-3x"></i></a>
			</div>
			<div class="details">
				<div class="product_name"><a data-toggle='modal' data-target='#prod_modal'>Add Items to Sell</a></div>
			</div>
		</div>
	</li>
	<li class="col-xs-6">
		<div class="product">
			<div class="image">
				<a  data-toggle='modal' data-target='#prod_modal'><i class="fa fa-inr fa-3x"></i></a>	
			</div>
			<div class="details">
				<div class="product_name"><a data-toggle='modal' data-target='#prod_modal'>Add Items to Rent</a></div>
			</div>
		</div>
	</li>
{% endif %}
{% for product in products %}
	<li class="col-xs-6">
		<div class="product">
			<div class="image">
				<img class="thmb_lg" src="{{product.get_image}}" alt="{{product}}">
			</div>
			<div class="details">
				<div class="product_name"><a href="{% url 'products:product' product.slug %}">{{ product }}</a></div>
				<div class="product_desc">{{ product.description |truncatewords_html:10}}</div>
				<div class="product_tags tags">
					{% for tag in product.get_tags %}
						<a href="{% url 'tags:get_tag' tag.slug %}"><span class="tag">{{tag}}</span></a>
					{% endfor %}
				</div>
			</div>
		</div>
	</li>
{% endfor %}
</ul>
