{% load filter %}
{% if user.userprofile in members %}
<div class="row dashboard">
	<div class="col-sm-4">
		<div id="dash_side">
			<ul class="nav nav-pills nav-stacked">

				<li class="active">
					<a data-toggle="pill" href="#dash_info">
						Basic Info
			      <div class="prog">
			        <span class="progress-text">City &amp; Segments</span>
			        <div class="progress">
			          <div class="progress-bar" role="progressbar" aria-valuenow="{{workplace.get_info_score}}" aria-valuemin="0" aria-valuemax="10" data-percent="{{workplace.get_info_score}}">
			          </div>
			        </div>
			      </div>
					</a>
				</li>

				<li>
					<a data-toggle="pill" href="#dash_contact">
						Contact Info
			      <div class="prog">
			        <span class="progress-text">Phone &amp; Emails</span>
			        <div class="progress">
			          <div class="progress-bar" role="progressbar" aria-valuenow="{{workplace.get_info_score}}" aria-valuemin="0" aria-valuemax="10" data-percent="{{workplace.get_info_score}}">
			          </div>
			        </div>
			      </div>
					</a>
				</li>
				
				<li>
					<a data-toggle="pill" href="#dash_products">
						Products / Services
			      <div class="prog">
			        <span class="progress-text">{{product_count}} Products</span>
			        <div class="progress">
			          <div class="progress-bar" role="progressbar" aria-valuenow="{{workplace.get_product_score}}" aria-valuemin="0" aria-valuemax="10" data-percent="{{workplace.get_product_score}}">
			          </div>
			        </div>
			      </div>
					</a>
				</li>
				<li>
					<a data-toggle="pill" href="#dash_people">
						My Colleagues
			      <div class="prog">
			        <span class="progress-text">{{member_count}} People</span>
			        <div class="progress">
			          <div class="progress-bar" role="progressbar" aria-valuenow="{{workplace.get_member_score}}" aria-valuemin="0" aria-valuemax="10" data-percent="{{workplace.get_member_score}}">
			          </div>
			        </div>
			      </div>
					</a>
				</li>
				<li class="prog">
					<a data-toggle="pill" href="#dash_assets">
						Assets or Machinery
			      <div class="prog">
			        <span class="progress-text"><span id="assets_dash_count_2">{{workplace.get_tags.assets|length}}</span> assets</span>
			        <div class="progress">
			          <div class="progress-bar" role="progressbar" aria-valuenow="{{workplace.get_asset_score}}" aria-valuemin="0" aria-valuemax="10" data-percent="{{workplace.get_asset_score}}">
			          </div>
			        </div>
			      </div>
					</a>
				</li>
				<li>
					<a data-toggle="pill" href="#dash_ops">
						Operations
			      <div class="prog">
			        <span class="progress-text"><span id="ops_dash_count_2">{{workplace.get_tags.operations|length}}</span> Operations</span>
			        <div class="progress">
			          <div class="progress-bar" role="progressbar" aria-valuenow="{{workplace.get_operation_score}}" aria-valuemin="0" aria-valuemax="10" data-percent="{{workplace.get_operation_score}}">
			          </div>
			        </div>
			      </div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-8">
		<div id="dash_content">
			<div class="tab-content">
			  <div id="dash_info" class="tab-pane fade in active">
			    {% include "workplace/dash_about.html" %}
			  </div>
			  <div id="dash_contact" class="tab-pane fade">
			    {% include "workplace/dash_contact.html" %}
			  </div>
			  <div id="dash_people" class="tab-pane fade">
			    {% include "workplace/dash_people.html" %}
			  </div>
			  <div id="dash_products" class="tab-pane fade">
			    {% include "workplace/dash_products.html" %}
			  </div>
			  <div id="dash_assets" class="tab-pane fade">
			    {% include "workplace/dash_assets.html" %}
			  </div>
			  <div id="dash_ops" class="tab-pane fade">
			    {% include "workplace/dash_operations.html" %}
			  </div>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="panel panel-default">
	<div class="info_field v2 ajax_papa">
		<div class="info_field_value ">
			{% if workplace.about %}
				{{workplace.about|urlize|new_tab|safe}}
			{% else %}
				<i class="text-muted text-center center-block">No Description Available</i>
			{% endif %}
		</div>
		<div class="info_field_edit hide">
			<textarea name="about" form="about_wp_form" rows="3" class="form-control new_val">{{workplace.about}}</textarea>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-5 col-sm-push-7">
		<div class="info_field_pseudo">
			<div class="panel panel-default">
				<div class="info_field ajax_papa">
					<div class="info_field_label"><span class="fa fa-globe fa-fw"></span>Website</div>
		      <div class="info_field_value">{{workplace.website|urlize|new_tab|safe}}</div>
		    </div>
		    <div class="info_field ajax_papa">
					<div class="info_field_label"><span class="fa fa-map-signs fa-fw"></span>Address</div>
		      <div class="info_field_value">{{workplace.address}}</div>
		    </div>
			{% if not workplace.workplace_type == 'O' %}
				<div class="info_field ajax_papa">
					<div class="info_field_label"><span class="fa fa-phone fa-fw"></span>Mobile Contact 1</div>
		      <div class="info_field_value">{{workplace.contact}}</div>
		    </div>
				<div class="info_field ajax_papa">
					<div class="info_field_label"><span class="fa fa-phone fa-fw"></span>Mobile Contact 2</div>
		      <div class="info_field_value">{{workplace.mobile_contact1}}</div>
		    </div>
				<div class="info_field ajax_papa">
					<div class="info_field_label"><span class="fa fa-envelope-o fa-fw"></span>E-Mail (office)</div>
		      <div class="info_field_value">{{workplace.office_mail_id|urlize|new_tab|safe}}</div>
		    </div>
			{% endif %}
				<div class="info_field ajax_papa">
					<div class="info_field_label"><span class="fa fa-linkedin fa-fw"></span>LinkedIn Page</div>
		      <div class="info_field_value">{{workplace.linkedin_page|urlize|new_tab|safe}}</div>
		    </div>
				<div class="info_field ajax_papa">
					<div class="info_field_label"><span class="fa fa-facebook-official fa-fw"></span>Facebook Page</div>
		      <div class="info_field_value">{{workplace.fb_page|urlize|new_tab|safe}}</div>
		    </div>
			</div>
		</div>
	</div>
	<div class="col-sm-7 col-sm-pull-5">
		<div class="info_field_pseudo">
			<div class="panel panel-default">
				<div class="info_field">
					<div class="info_field_label"><span class="fa fa-map-marker fa-fw"></span>Cities of operatation</div>
		      <div class="info_field_value">
		      	{% if workplace.get_tags.city %}
		      	{% include "snippets/tags.html" with tags=workplace.get_tags.city %}
		      	{% else %}
		      	<span class="placeholder">Not Available</span>
		      	{% endif %}
		      </div>
		    </div>
	    </div>
	    <div class="panel panel-default">
				<div class="info_field">
		    	<div class="info_field_label"><span class="fa fa-tags fa-fw"></span>Segments</div>
		      <div class="info_field_value">
		      	{% if workplace.get_tags.segments %}
			      	{% include "snippets/tags.html" with tags=workplace.get_tags.segments %}
		      	{% else %}
		      	<span class="placeholder">Nothing Specified</span>
		      	{% endif %}
		      </div>
		    </div>
	    </div>
			<div class="panel panel-default">
				<div class="panel-body">
			    <h3 class="dash_stat_big">
			      <span id="assets_dash_count_1" class="number text-success">{{product_count}}</span>
			      <span class="text">Products Listed</span>
			    </h3>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
			    <h3 class="dash_stat_big">
			      <span id="assets_dash_count_1" class="number text-success">{{member_count}}</span>
			      <span class="text">People in Company</span>
			    </h3>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
			    <h3 class="dash_stat_big">
			      <span id="assets_dash_count_1" class="number text-success">{{workplace.get_tags.assets|length}}</span>
			      <span class="text">Assets &amp; Machinery</span>
			    </h3>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
			    <h3 class="dash_stat_big">
			      <span id="assets_dash_count_1" class="number text-success">{{workplace.get_tags.operations|length}}</span>
			      <span class="text">Operations Performed</span>
			    </h3>
				</div>
			</div>
		</div>
	</div>
</div>

{% endif %}
<script type="text/javascript">
	$('.progress-bar').each(function(){
	    var w = $(this).data("percent");
	    console.log(w);
	    $(this).css("width", w + "%");
	});
</script>

