{% extends 'messages/base_messages.html' %}

{% block title %}Inbox{% endblock %}

{% block page_header %}Inbox{% endblock %}

{% block container %}
  {% if messages %}
  <ul class="conversation">
    {% for message in messages %}
      {% include 'snippets/partial_message.html' with message=message %}
    {% endfor %}
    <li class="send-message">
      <div class="form-group">
		<label for="to" class="col-sm-1 control-label">To</label>
		<div class="col-sm-11">
			<input class="form-control typeahead" type="text" placeholder="to" id="to" name="to">
		</div>
	  </div>
      <div style="margin-top: .3em">
        <form role="form" method="post" action="{% url 'messages:send_message' %}" id="send">
          {% csrf_token %}
          <input type="hidden" name="to" value="{{ active }}">
          <input class="form-control" type="text" name="message" placeholder="Write a message..." maxlength="1000" autocomplete="off">
        </form>
      </div>
    </li>
  </ul>
  {% else %}
    <h4>Your inbox is empty!</h4>
  {% endif %}
{% endblock container %}


