{% extends "base.html" %}

{% load bootstrap %}
{% load bootstrap3 %}

{% block content %}
	<form id="form_ask" enctype="multipart/form-data" action="" method="POST" role="form" >
		{% csrf_token %}
		<div class="form-group">
			<label class="control-label">Type of the Question</label>
			<div>
				<button class="categ_btn" type="button" value="0">General</button>
				<button class="categ_btn" type="button" value="1">Technical</button>
				<input type="hidden" name="category" value="none" autocomplete='off'>
			</div>
		</div>
		<div class="form-group">
      <label class="control-label">Title of the Question</label>
      <input class="form-control" id="id_title" maxlength="255" name="title" type="text" />
		</div>
		<div class="form-group">
      <label class="control-label">Details of the Question</label>
      <textarea class=" form-control" cols="40" id="id_question" maxlength="5000" name="question" rows="10"></textarea>
		</div>
		<div class="form-group">
			<div class="hide">
      	<span title="Add Image" data-toggle="tooltip" data-placement="left" class='btn btn-default btn-file glyphicon glyphicon-camera input-group-addon seamless_r img_pre_in'>
					<input id="id_image_0" type="file" name="image0">
    		</span>
  		</div>
      <span class='btn btn-default btn-file fake_btn' data-btn='#id_image_0'>
      	<span class="glyphicon glyphicon-camera"></span> Add Photo
    	</span>
		</div>
		<div class="form-group">
			<div class="img_pre hide" data-index=0>
			</div>
		</div>
		<div class="form-group">
      <label class="control-label" for="id_tags">Tags</label>
      {% include "snippets/d_search_tags.html" with search="tag" placeholder="Relevent tags build a quality question" %}
			<!-- <div class="d_search" data-results="multiple">
				<div class="d_results"></div>
				<input class="form-control d_input" data-search="tag" data-create="create" data-results="multiple" placeholder="Add a few tags (Topics) for categorization" maxlength="255">
				<input type="hidden" name="tags" value="" autocomplete="off">
				<input type="hidden" name="type" value="All">
				<div class="dropdown">
					<ul class="dropdown-menu d_list">
					</ul>
				</div>
			</div> -->
		  <p class="help-block">
        Press Enter to select or create a tag
      </p>
		</div>
		<div class="checkbox">
		  <label><input type="checkbox" name="anonymous" value="true">Ask as Anynonymous</label>
		</div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-ok"></span> Submit
      </button>
    </div>
	</form>
	<p>You can also Answer your own Question, now or later if you get the answer from some other source or solve it yourself.
	See <a href="{% url 'forum:why_should_i_answer' %}">why should you answer on CoreLogs</a></h3>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.categ_btn').on('click',function(){
				$(this).closest('.form-group').find('input').val($(this).val());
				$(this).closest('.form-group').find('.categ_btn').removeClass('selected_categ');
				$(this).addClass('selected_categ');
			});
		});
	</script>
{% endblock %}

{% block right %}
  <div id='side_instructions' class="ask">
    <h3 class="side_head"><a href="{% url 'forum:how_to_ask' %}">How & What to Ask</a></h3>
	<h4>CoreLogs - The Engineer's Forum</h4>
    {% if request.user.userprofile.primary_workplace.workplace_type == 'C' %}
		<p>We accept technical & Industry related questions.</p>
		<p>For informations related to dealers and parts, post on the homepage instead.</p>
		<p><b>The title must give a brief introduction of the question.</b></p>
		<p>Provide necessary details so that others may better understand the exact problem you are facing. People not familiar with Baja & Formula may also answer.</p>
		<p>Tag the Questions with appropriate topics for classification.</p>
		<p>If your question is about baja, tag <b>Baja</b>, if it's about formula, tag <b>Formula</b></p>
		<p>You can answer your own questions too so that other might find it useful later.</p>
		<p>You can add upto 3 images to explain your question</p>
	{% else %}
		<p>We accept technical & Industry related questions.</p>
		<p>For informations related to dealers and parts, post on the homepage instead.</p>
		<p><b>The title must give a brief introduction of the question.</b></p>
		<p>Provide necessary details so that others may better understand the exact problem you are facing.</p>
		<p>Tag the Questions with appropriate topics for classification.</p>
		<p>You can answer your own questions too so that other might find it useful later.</p>
		<p>You can add upto 3 images to explain your question</p>
	{% endif %}
  </div>
{% endblock right %}



