{% extends "base.html" %}

{% load bootstrap %}
{% load bootstrap3 %}

{% block content %}
	<form enctype="multipart/form-data" action="" method="POST" role="form" >
		{% csrf_token %}
		<div class="form-group">
      <label class="control-label">Title of the Question</label>
      <input class="form-control" id="id_title" maxlength="255" name="title" type="text" value="{{ q.title }}" />
		</div>
		<div class="form-group">
      <label class="control-label">Details of the Question</label>
      <textarea class=" form-control" cols="40" id="id_question" maxlength="5000" name="question" rows="10">{{ q.question }}</textarea>
		</div>
		<div class="form-group">
      <label class="control-label" for="id_tags">Tags</label>
			<div class="d_search" data-results="multiple">
				<div class="d_results">
		      {% if q.get_tags %}
						{% for tag in q.get_tags %}
							<div class="alert alert_tag"><a class="close" aria-label="close">&times;</a><strong>{{tag}}</strong></div>
						{% endfor %}
					{% endif %}
				</div>
				<input class="form-control d_input" data-search="tag" data-create="create" data-results="multiple" placeholder="Search for your interests here ..." maxlength="255">
				<input type="hidden" name="tags" value="{% if q.get_tags %}{% for tag in q.get_tags %}{{tag}}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}" autocomplete="off">
				<input type="hidden" name="type" value="All">
				<div class="dropdown">
					<ul class="dropdown-menu d_list">
					</ul>
				</div>
			</div>
		  <p class="help-block">
        Use , (comma) to separate the tags, such as "asp.net,mvc5,javascript"
      </p>
		</div>
		<div class="checkbox">
		  <label><input type="checkbox" name="anonymous" value="true">Post as Anynonymous</label>
		</div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-ok"></span> Submit
      </button>
    </div>
	</form>
{% endblock %}