{% extends 'base.html' %}
{% load staticfiles %}
{% load account %}


{% block body %}
<div class="container">
	<h3><b>CoreLogs</b> - The Engineer's Forum</h3>
	<p>CoreLogs - The Engineer's Forum is a platform where you can ask questions related to engineering and industries at one single 
	place. However there are topic specific forums like cfd-online, fsae.com, bajasaeforum.net etc, but there is no common one stop topic 
	independent platform from engineers where they can ask questions and get solutions from experts across the world.
	<h4>How is it different from other forums:</h4>
	<p>Even though, other forums like cfd-online.com, fsae.com, bajasaeforum.net, welding forums etc are existing having the experts 
	across the world, most of the questions go unanswered on those forum. Also, one problem associated with those platforms are that the 
	questions end up in discussions only and a newbie cant reach a suitable conclusion. On CoreLogs we are trying to solve exactly that problem.
	<p>On traditional forums, it is very difficult for a newbie to ask a question and get a suitable solution. On the contrary, CoreLogs 
	is meant to be helpful to everybody.So, in one way, it is not a forum of experts, but a forum of engineers who help each other in solving 
	problems through collaboration. And in this noble quest, we  depend on you people to share your knowledge with a will to solve other's 
	problems. Only that is the way to collective growth. Let us together bring back glory  to the core segment of engineering.</p>
	
	<h4>To Understand what and how to ask, visit <a href="{% url 'forum:how_to_ask' %}">What & How to Ask?</a></h4>
	<h4>To Understand why should you write answers on CoreLogs <a href="{% url 'forum:help' %}">Why should I answer the questions on CoreLogs?</a></h4>
	
</div>
{% endblock body %}


