{% load filter humanize %}
<div class="feed_box answer">
  {% include "snippets/joint_person.html" with user=a.user time=a.date|naturaltime anony=a.anonymous %}
	<div class="ajax_papa">
		<div class="ajax_papa">
			<div class="feed_box_body">
				<div class="a_detail">{{ a.answer|new_tab|safe }}</div>
				{% for image in a.get_images %}
				<figure class="call_car">
					<a data-toggle='modal' data-target='#figure_modal'>
						<img src="/images/{{image.image}}">
					</a>
				</figure>
				{% endfor %}
			</div>
      <h4 class="text-right">
        <span class="hide">{{ a.id }}</span>
        {% if a.user.pk == request.user.pk %}
        <a class="edit_ans"><small><span class="fa fa-pencil"></span>Edit</small></a>
        {% endif %}
      </h4>
			<div class="feed_box_extra">
				<div class="interaction">
					<div class="text-center vote_box ajax_papa">
						{% include "snippets/vote_box.html" with q_or_a='a' q=a %}
					</div>
	    		<a class="a_collapse pull-right"><span class="fa fa-comments-o fa-fw"></span><span class="count">{{a.get_comments|length}}</span> Comments</a>
			    <div class="collapse">
            <div class="comments">
              {% include "snippets/comment_form.html" with type='a' post=a %}
            {% for c in a.get_comments %}
  						{% include "snippets/comment.html" with comment=c %}
  		    	{% endfor %}
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
