<div class="feed_box question">
	<div class="feed_box_heading">
			{% include "snippets/joint_name.html" with user=question.user %}
			<small class='pull-right post_date'>{{ question.date }}</small>
	</div>
	<div class="ajax_papa">
		<div class="text-center vote_box ajax_papa">
			{% include "snippets/vote_box.html" with q_or_a='q' q=question %}
		</div>
		<div class="feed_box_body">
			<a href="{% url 'forum:question' question.slug %}">
				<h5 class="q_title">{{ question.title }}</h5>
			</a>
			{% if question.question %}
			<pre class="q_summary">{{ question.question }}</pre>	
			{% endif %}
		</div>
		<div class="feed_box_extra">
			<div class="interaction">
				<form class="to_quest" action="{% url 'forum:question' question.slug %}" method="GET">
					<a class="pull-left">{{question.get_answer_count}} Answers<input type="hidden" name="answers" value="no"></a>
					<a class="btn btn-success btn-xs">Write Answer
					<input type="hidden" name="write" value="no"></a>
				</form>
			</div>
		</div>
	</div>
</div>