{% extends "base.html" %}
{% load staticfiles %}

{% block title %} {{q.title}} {% endblock title %}

{% block body %}
	<div class="container ajax_papa">
		<div class="col-sm-9">
			<div id="question" class="feed_box ajax_andar">
				<div class="feed_box_heading">
					<h5>
						{% include "snippets/joint_name.html" with user=q.user %}
						<small class='pull-right post_date'>{{ q.date }}</small>
					</h5>
				</div>
				<div class="ajax_papa">
					<div class="text-center vote_box ajax_papa">
						{% include "snippets/vote_box.html" with q_or_a='q' q=q %}
					</div>
					<div class="ajax_papa feed_box_body">
						<h4 class="q_title">
							{{ q.title }}
							<a class="edit_post pull-right" href="{% url 'forum:edit_ques' q.id %}"><small><span class="glyphicon glyphicon-cog"></span> Edit</small></a>
						</h4>
						{% if q.question %}
						<p class="q_body">{{ q.question }}</p>
						{% endif %}
						{% if q.get_tags %}
						<div class="tags">
							{% for tag in q.get_tags %}
								<a href="{% url "tags:get_tag" tag.slug %}"><span class="label label-info">{{tag}}</span></a>
							{% endfor %}
						</div>
						{% endif %}
					</div>
					<div class="feed_box_extra">
						<div class="comments">
						{% if comments %}
				    	{% for c in comments %}
								{% include "snippets/comment.html" with comment=c %}
				    	{% endfor %}
						{% endif %}
						</div>
						<div class="interaction">
			    		<a class="a_collapse">Comment</a>
					    <div class="collapse">
					    	{% include "snippets/comment_form.html" with type='q' post=q %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<form class="answer_form ajax_andar" action="{% url 'forum:answer' %}" method="POST">
				<div class="collapse">
					{% include "snippets/richtext_toolbar.html" %}
			    <div id="editor">
			    </div>
					<input type="hidden" name="answer" value="">
					<input type="hidden" name="id" value="{{ q.id }}">
					<input type="hidden" name="aid" value="" autocomplete="off">
					<input type="hidden" name="slug" value="{{ q.slug }}">
					<div class="checkbox">
					  <label><input type="checkbox" name="anonymous" value="true">Post as Anynonymous</label>
					</div>
					<button type="button" class="btn btn-success btn-md pull-left new">Submit Answer</button>
					<button type="button" class="btn btn-success btn-md pull-left check_btn hide">Save Changes</button>
					<input type="hidden" name="edit" value="">
					<a class="form-ajax hide"></a>
					{% csrf_token %}
				</div>
				<a id="write_answer" class="a_collapse btn btn-info btn-md pull-right" data-alternate="Cancel">Write Answer</a>
			</form>
			<div id="answers" class="ajax_andar">
				<h2 class="text-muted">Answers</h2>
				<div class="answers">
				{% for a in answers %}
					{% include "snippets/one_answer.html" with a=a q=q %}
				{% empty %}
					<h3 class="text-center text-muted">This question has not recieved any answers till now.</h3>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
		{% if show_ans == 'true' %}
			$('html, body').animate({
        scrollTop: $("#answers").offset().top
    }, 1000);
		{% elif write_ans == 'true' %}
			$('#write_answer').trigger('click');
		{% endif %}
		});
		$('.a_detail').find('p').attr('class','');
		$('.a_detail').find('p').attr('style','');
	</script>
{% endblock body %}