{% extends "base.html" %}

{% block title %} CoreLogs - The Engineer's Forum {% endblock title %}

{% block content %}
	<div class="panel panel-success bg-info">
	
		<div class="panel-body">
		   <div class="row">
			<div class="col-xs-6 text-center">
				<a class="btn btn-primary btn-sqr" href="{% url 'forum:ask' %}">Ask a Question</a>
			</div>
			<div class="col-xs-6 text-center">
				<a class="btn btn-primary btn-sqr" href="{% url 'forum:q_tags' %}">Search Tags</a>
			</div>
			<div class="col-xs-6 text-center">
				<a class="btn btn-primary btn-sqr" href="/forum/category?q=unanswered">Unanswered</a>
			</div>
			<div class="col-xs-6 text-center">
				<a class="btn btn-primary btn-sqr" href="/forum/category?q=sae">Automotive Teams</a>
			</div>
			<div class="col-xs-6 text-center">
				<a class="btn btn-primary btn-sqr" href="/forum/category?q=scholar">Scholars</a>
			</div>
			<div class="col-xs-6 text-center">
				<a class="btn btn-primary btn-sqr" href="/forum/category?q=lsi">Engineers</a>
			</div>
			<div class="col-xs-6 text-center">
				<a class="btn btn-primary btn-sqr" href="/forum/category?q=sme">SMEs</a>
			</div>
		  </div>
		</div>
	</div>
	<div class="ajax_andar feeds">
		{% include "snippets/figure_modal.html" %}
		{% include 'nodes/five_nodes.html' with result_list=result_list %}
		<div class="paginator" data-next_page="2">
			<h5>Loading more content</h5>
			<i class="fa fa-spin fa-circle-o-notch"></i>
		</div>
	</div>
{% endblock %}

{% block right %}
	<div class="floating_form">
    <h5 class="side_head">Active Workplaces</h5>
    <ul id="top_members" class="ppl_list">
    	{% include "snippets/workplace_list.html" with workplaces=workplaces %}
    </ul>
  </div>
{% endblock right %}

{% block foot %}
	
{% endblock foot %}

{% block end_js %}
	{{block.super}}
	<script type="text/javascript">
		$('.nav_a_forum').addClass('current');
	</script>
{% endblock end_js %}