{% extends "home.html" %}

{% block title %}The Engineer's Forum - CoreLogs{% endblock title %}

{% block meta_description %}Question and Answers for Professionals in the Core Segment of Industry{% endblock meta_description %}

{% block top %}
	{% include "snippets/top_navigation.html" with what='Questions' %}
{% endblock top %}

{% block feed_body %}
	<div class="panel panel-default">
		<div class="row">
			<p class="text-justify text-muted col-sm-8">"Let your Curiousity defeat your laziness..."</p>
			<p class="text-right col-sm-4">
				<a href="{% url 'forum:ask' %}"><i class="fa fa-lightbulb-o inline_fa"></i>Ask a Question</a>
			</p>
		</div>
	</div>
	<div class="ajax_andar feeds">
		{% include "snippets/figure_modal.html" %}
		{% include 'nodes/five_nodes.html' with result_list=result_list %}
		<div class="paginator" data-next_page="2">
			<h5>Loading more content</h5>
			<i class="fa fa-spin fa-circle-o-notch"></i>
		</div>
	</div>
{% endblock feed_body %}