{% extends "base.html" %}

{% block content %}
	<div class="panel panel-success bg-info">
		<div class="panel-body">
			<p class="text-justify text-muted">Take the attitude of a student,<i> never be too big to ask questions, never know too much to learn something new</i>.</p>
			<a class="pull-right" href="{% url 'forum:ask' %}">Ask a Question now</a>
		</div>
	</div>
	<div class="ajax_andar feeds">
		{% include 'nodes/five_nodes.html' with result_list=result_list %}
		<div class="paginator" data-next_page="2"></div>
	</div>
{% endblock %}

{% block right %}
	<div class="floating_form">
    <h5 class="side_head">Active Workplaces</h5>
    <ul id="top_members" class="ppl_list">
    	{% include "snippets/workplace_list.html" with workplaces=workplaces %}
    </ul>
  </div>
{% endblock right %}

{% block end_js %}
	{{block.super}}
	<script type="text/javascript">
		$('.nav_a_forum').addClass('current');
	</script>
{% endblock end_js %}